.center{
    text-align: center;
}

.remove-button{
    background-image: url("../images/delete.png");
    background-position: 30px 31px;
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
    display: block;
}

.course_excerpt{
    margin-bottom: 5px;
    margin-top: 7px;
}

.width-50{
    width: 50%;
}

.width-17{
    width: 17%;
}

