/* Left side navifation ( Admin Menu ) is collapsed */
@media only screen and ( max-width: 1180px ) {
    .instructors .manage-column.column-courses,
    .instructors .column-courses{
        display: none;
    }
}

@media only screen and ( max-width: 1000px ) {
    .instructors .column-registration-date{
        display: none;
    }
}

/* Menu bar goes responsive */
@media only screen and ( max-width: 782px ) {
	.check-column,
	.column-registration-date,
	.column-user-firstname,
	.column-user-lastname,
	.coursepress_page_instructors #posts-filter { 
		display: none; 
	}	
	
	.coursepress_page_instructors .column-user-fullname {
		display: table-cell;
	}	
}

/* List table anomalies */
@media ( max-width: 555px ) {
	.coursepress_page_instructors div.course-liquid-right{
		clear:both;
		float:left;
	}
	.coursepress_page_instructors div.course-liquid-left {
		width:100%;
	}
	.coursepress_page_instructors div.course-liquid-left #course-left{
		margin:0;
	}
}

/* For extra small devices */
@media ( max-width: 480px ) {
}
