@font-face {
	font-family: 'ico-cp';
	src:url( 'fonts/cp_icon.eot' );
	src:url( 'fonts/cp_icon.eot?#iefix' ) format( 'embedded-opentype' ),
		url( 'fonts/cp_icon.ttf' ) format( 'truetype' ),
		url( 'fonts/cp_icon.woff' ) format( 'woff' ),
		url( 'fonts/cp_icon.svg#icomoon' ) format( 'svg' );
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'ico-cp';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-wand:before {
	content: "\e600";
}

#adminmenu #toplevel_page_courses div.wp-menu-image:before {
  font-family: 'ico-cp' !important;
  content: "\e600";
}

#adminmenu .toplevel_page_courses div.wp-menu-image img {
  display: none;
}