html #wpadminbar,
#update-nag, .update-nag,
h2.nav-tab-wrapper, h3.nav-tab-wrapper{
    display: none;
}

html.wp-toolbar{
    padding-top: 0px;
}

#wpbody-content{
    padding-bottom: 0px;
}

#screen-meta-links{
    display: none;
}

#adminmenuwrap,
#adminmenuback{
    display: none;
}

.wpmudev-message,
.wpmudev-new,
.updated{
    display: none !important;
}

#mp-need-help {
    display: none !important;
}