@media only screen and ( max-width: 1039px ) {
	.student-invitation fieldset label,
	.student-invitation label {
		display: block;
		margin-bottom: 10px;
	}
	.student-invitation fieldset label span,
	.student-invitation label span {
		display: block;
		min-width: 200px;
	}
	.student-invitation fieldset label input,
	.student-invitation label input {
/*		width: 100%;*/
	}	
	
}

/* Left side navifation ( Admin Menu ) is collapsed */
@media only screen and ( max-width: 900px ) {
	.student-invitation fieldset label,
	.student-invitation label {
		display: block;
		margin-bottom: 10px;
	}
	.student-invitation fieldset label span,
	.student-invitation label span {
		display: block;
		min-width: 200px;
	}
	.student-invitation fieldset label input,
	.student-invitation label input {
/*		width: 100%;*/
	}	
	
}

/* Menu bar goes responsive */
@media only screen and ( max-width: 782px ) {
	.sidebar-name{
		/*clear: both;*/
	}
}

/* List table anomalies */
@media ( max-width: 439px ) {
	.coursepress_page_course_details .nav-tab{
		padding: 10px;
	}


}


/* List table anomalies */
@media ( max-width: 555px ) {
	#students_accordion .additional_class_actions_add_student,
	#students_accordion .additional_class_actions { 
		width: 100%; 
	}
	
}

/* For extra small devices */
@media ( max-width: 480px ) {
	
	.student-invitation fieldset label,
	.student-invitation label {
		display: block;
		margin-bottom: 10px;
	}
	.student-invitation fieldset label span,
	.student-invitation label span {
		display: block;
		min-width: 200px;
	}
	.student-invitation fieldset label input,
	.student-invitation label input {
		width: 100%;
	}	
	
	.coursepress_page_course_details .nav-tab{
		font-size: 0.8em;
		padding: 13px;
	}
}
