@media only screen and ( max-width: 1250px ) {
    .column-status{
        width: 15%;
    }
    
    .column-course{
        width: 40%;
    }
}

@media only screen and ( max-width: 1150px ) {
    .column-units{
        width: 13%;
    }
    
    .column-status{
        width: 17%;
    }
}

@media only screen and ( max-width: 960px ) {
    .column-units{
        width: 15%;
    }
    
    .column-status{
        width: 17%;
    }
}



/* Left side navifation ( Admin Menu ) is collapsed */
@media only screen and ( max-width: 900px ) {
}

/* Menu bar goes responsive */
@media only screen and ( max-width: 782px ) {
	.check-column,
	.column-status,
	.column-units,
	.column-students,
	#posts-filter { 
		display: none; 
	}
	
}

/* List table anomalies */
@media ( max-width: 555px ) {

}

/* For extra small devices */
@media ( max-width: 480px ) {
}
