/* Left side navifation ( Admin Menu ) is collapsed */
@media only screen and ( max-width: 1200px ) {
    .students .column-latest-activity,
    .students .column-registration-date{
        width: 12%;
    }

    .students .column-courses{
        width: 8%;
    }
}

@media only screen and ( max-width: 1150px ) {
    .students .column-latest-activity{
        display: none;
    }
}

@media only screen and ( max-width: 1150px ) {
    .students .column-registration-date{
        display: none;
    }
}


/* Menu bar goes responsive */
@media only screen and ( max-width: 782px ) {
    .check-column,
    .column-registration-date,
    .column-user-firstname,
    .column-user-lastname,
    .coursepress_page_students #posts-filter { 
        display: none; 
    }

    .coursepress_page_students .column-user-fullname {
        display: table-cell;
    }

    .coursepress_page_students th {
        text-overflow:ellipsis;
    }

    /* Workbook view */
    .coursepress_page_students .course-holder .sidebar-name{
        clear: both;
    }
    .coursepress_page_students #units-wrap .border-divider {
        margin-bottom: 0px;
    }
    .coursepress_page_students #units-wrap .tablenav {
        height: 25px;
    }
    .coursepress_page_students #units-wrap .tablenav .chosen-select {
        position: relative;
        top: -8px;
        width: 200px;
        margin-right: 20px;
    }
    .coursepress_page_students #units-wrap .column-title {
        width: 30%;
    }
    .coursepress_page_students #units-wrap .column-response {
        width: 14%;
    }
    .coursepress_page_students #units-wrap #units_accordion a.button-units {
        width: 75%;
    }

}

@media only screen and ( max-width: 700px ) {
    .student-workbook .column-module{
        display: none;
    }
    .student-workbook .column-comment{
        display: none;
    }
}


/* List table anomalies */
@media ( max-width: 555px ) {
    .column-latest-activity {
        display: none;
    }
    .coursepress_page_students .column-edit,
    .coursepress_page_students .column-workbook,
    .coursepress_page_students .column-courses {
        width: 10%;
    }
    .coursepress_page_students #units-wrap #units_accordion a.button-units {
        width: 85%;
    }

    /* Wordkbook view */
    .coursepress_page_students #units-wrap .column-module,
    .coursepress_page_students #units-wrap #submission_date,
    .coursepress_page_students #units-wrap .coloumn-submission-date {
        display: none;
    }

    .coursepress_page_students #units-wrap .column-title {
        font-size: 1.1em;
    }
    .coursepress_page_students #units-wrap .column-title .extra-information {
        font-size: 0.9em;
    }

    .coursepress_page_assessment .column-submission-date,
    .coursepress_page_assessment .column-module{
        display: none;
    }
    /*	extra-information*/

}

@media only screen and ( max-width: 500px ) {
    .student-workbook .column-grade{
        display: none;
    }
}

@media only screen and ( max-width: 400px ) {
    .student-workbook .column-submission-date{
        display: none;
    }
}
