.page-builder-title{
    display: block;
    font-size: 13px;
    background-color: #f1f1f1;
    padding: 10px;
    font-weight: bold;
    color: #000;
}

.front-page-builder-elements-holder .output-element{
    display: inline-block;
    /*width: 92px;*/
    width: auto;
    padding-left: 12px;
    padding-right: 12px;
    height: 49px;
    background: transparent url( ../images/Assets.svg ) no-repeat;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border: 1px solid #fff;
    cursor: pointer;
    position: relative;
}

.front-page-builder-elements-holder .output-element .add-element{
    position: absolute;
    display: block;
    background: transparent url( ../images/Assets.svg ) no-repeat;
    background-position: -714px -234px;
    width: 13px;
    height: 13px;
    top: -7px;
    right: -7px;
    display: none;
}

.front-page-builder-elements-holder .element-label{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #959595;
    width: 100%;
    margin-top: 25px;
    display: block;
}

.front-page-builder-elements-holder .input-element .element-label{
    color: #008dc8;
}

.front-page-builder-elements-holder .output-element:hover > .add-element{
    display: block;
}

.front-page-builder-elements-holder .text_front_page_module{
    background-position: -56px -58px;
}

.front-page-builder-elements-holder .image_front_page_module{
    background-position: -211px -58px;
}

.front-page-builder-elements-holder .video_front_page_module{
    background-position: -374px -58px;
}

.h3-label-center{
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
}

.column-icon{
    width: 16px;
    height: 16px;
    display: inline-block;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

.column-icon:hover{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.column-one-icon{
    background: transparent url( ../images/column-one-icon.png ) no-repeat;
}

.column-two-icon{
    background: transparent url( ../images/column-two-icon.png ) no-repeat;
}

.column-tree-icon{
    background: transparent url( ../images/column-tree-icon.png ) no-repeat;
}

.column-two-thirds-icon{
    background: transparent url( ../images/column-two-thirds-icon.png ) no-repeat;
}

.front-page-builder-controls{
    float: left;
    width: 100%;
}

.front-page-builder .module-holder-title{
    float: left;
    width: 100%;
}

.front-page-builder .module-holder-title .col_1{
    width: 100%;
}

.front-page-builder .module-holder-title .col_2{
    width: 49%;
}

.front-page-builder .module-holder-title .col_3{
    width: 33%;
}

.front-page-builder .module-holder-title .col_2_3{
    width: 66%;
}