.assessment-response-wrap .remove-response-btn{
    float: right;
    font-size: 20px;
}

.assessment-response-wrap .module_response_description a {
    display: block;
    float: right;
}

.assessment .ui-widget-content{
    border: 0px;
}

.assessment .ui-widget-header{
    border: 0px;
}

.assessment .sidebar-name{
    background:none;
}

.assessment .ui-state-default, .assessment .ui-widget-content .assessment .ui-state-default, .assessment .ui-widget-header .ui-state-default{
    background:none;
}

.assessment .ui-tabs-nav a:hover{
}

.assessment .ui-tabs .ui-tabs-nav{
    border-bottom: 1px solid #ccc !important;
    padding:0;
}

.assessment .ui-corner-all{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.assessment .ui-tabs .ui-tabs-nav li.ui-tabs-active{
    border: 1px solid #ccc;
}

.assessment .ui-tabs .ui-tabs-nav li.ui-tabs-active a{
    color:#000;
    outline: 0;
}

.assessment .ui-tabs .ui-tabs-nav li{
    margin-bottom: -1px;
    padding-bottom: 1px;
    cursor: pointer;
}

.assessment .ui-tabs .ui-tabs-nav li:hover{
    border: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.assessment .ui-tabs .ui-tabs-nav li a{
    text-shadow: #fff 0 1px 0;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    padding: 4px 14px 4px;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    color:#aaa;
    outline: 0;
    cursor: pointer;
}
.assessment .ui-tabs .ui-tabs-nav li a:hover{
    color:#d54e21;
    cursor: pointer;
}



.assessment .ui-tabs .ui-tabs-nav li a:hover, .assessment .ui-tabs .ui-tabs-nav li a:active, .assessment .ui-tabs .ui-tabs-nav li a:focus,
.assessment .ui-tabs .ui-tabs-nav li.ui-tabs-active a:hover, .assessment .ui-tabs .ui-tabs-nav li.ui-tabs-active a:active, .assessment .ui-tabs .ui-tabs-nav li.ui-tabs-active a:focus
{
    outline: 0;
}


.assessment .ui-tabs .ui-tabs-panel{
    padding: 1em 0.1em;
}

.uppercase{
    /*    text-transform: uppercase;*/
    text-transform: capitalize;		
}

.block{
    display: block;
    width:100%;
}

.assessment-column{
    border-bottom:1px #dfdfdf solid;
    padding-bottom:3px;
    padding-left:7px;

}

.first-right-border{
    border-right: 1px solid #dfdfdf !important;
}

.assessment-holder{
    position: relative;
    background-color: #fff;
    border-color: #ddd;
    border-width: 0 1px 1px;
    border-style: none solid solid;
    padding: 0;
}

.assesment-response-details{
    padding:10px;
}

.assessment-response-wrap{
    margin: 4px 0px 0 0;
}


h3 .response-response-name{
    float: left;
    width: 70%; 
}

h3 .response-student-info{
    float: right;
    display: block;
    width: 29%;
    text-align: right;
}

.module_response_description{

}

.assessment-holder label, .assesment-response-details label{
    width: 100%;
    color:#000;
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
}

.regular-border-divider{
    border-top: 1px solid #dfdfdf;
    margin: 20px 10px 20px 0px;
}

.front_response_content{
    border: 1px solid #ddd;
    padding: 5px 10px 5px 10px;
    background-color: #fcfcfc;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 98%;
}

.module_textarea_response_answer .front_response_content{
    max-height: 300px;
    overflow-y: scroll;
}

.assessment-holder .buttons{
    text-align: right;
    margin-right: 10px;
    float: right;
    width: 100%;
}

.assessment-holder .buttons p{
    padding-top: 0px;
    float: right;
   // width: 10%;
    //min-width: 120px;
    margin-top: 5px;
    margin-left: 10px;
}

.assessment-holder #response_grade{
    float: right;
    width: 10%;
    min-width: 120px;
    margin-top: 5px;
}

.additional_grade_info{
    width: 30%;
    min-width: 200px;
    float: left;
    text-align: left;
    margin-left: 30px;
    margin-top: 15px;
}

td.less_visible_row{
    color:#ddd !important;
}

.ungraded{
    padding-top: 5px;
    float: left;
    margin-left: 20px;
}

.shadow-table
{
    position: relative;
    width: 100%;
    background: #ddd;
    padding: 0em 0em;
    color: rgba( 0,0,0, .8 );
    text-shadow: 0 1px 0 #fff;
    line-height: 1.5;
    margin: 0px auto;
}


.shadow-table:before, .shadow-table:after 
{
    z-index: -1; 
    position: absolute; 
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%; 
    top: 80%;
    max-width:300px;
    background: rgba( 0, 0, 0, 0.7 ); 
    -webkit-box-shadow: 0 15px 10px rgba( 0,0,0, 0.7 );   
    -moz-box-shadow: 0 15px 10px rgba( 0, 0, 0, 0.7 );
    box-shadow: 0 15px 10px rgba( 0, 0, 0, 0.7 );
    -webkit-transform: rotate( -3deg );    
    -moz-transform: rotate( -3deg );   
    -o-transform: rotate( -3deg );
    -ms-transform: rotate( -3deg );
    transform: rotate( -3deg );
}

.shadow-table:after 
{
    -webkit-transform: rotate( 3deg );
    -moz-transform: rotate( 3deg );
    -o-transform: rotate( 3deg );
    -ms-transform: rotate( 3deg );
    transform: rotate( 3deg );
    right: 10px;
    left: auto;
}

.radio_input_module ul.radio_answer_check_li{
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

.radio_input_module ul.radio_answer_check_li li{
    margin-left: 10px;
}

.radio_input_module ul.radio_answer_check_li li .radio_answer_check{
    margin-right: 10px;
}

.correct_answer, .not_correct_answer{
    width: 20px;
    margin-left: 10px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-right,  .ui-corner-tl, .ui-corner-tr{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.assessment .ui-widget-content{
    background: transparent;
}

/* Column widths */
.column-name {
    width: 12%;
}
.column-module {
    width: 12%;
}
.column-title {
    width: 36%;
}
.column-submission-date {
    width: 15%;
}
.column-response {
    width: 10%;
}
.column-grade {
    width: 10%;
}
.column-comment {
    width: 5%;
}

.assessment-archive-table th{
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}