@media only screen and ( max-width: 1720px ) {
    .module-content .show_title_on_front,
    .mandatory_answer, .group-check label.mandatory_answer{
        width: 32%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .second-group-check.group-check label:first-child{
        width: 64%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .second-group-check.group-check label.limit_attampts_label{
        width: 32%;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media only screen and ( max-width: 1200px ) {
    .module-content .show_title_on_front,
    .mandatory_answer, .group-check label.mandatory_answer{
        width: 49%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .second-group-check.group-check label:first-child{
        width: 49%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .second-group-check.group-check label.limit_attampts_label{
        width: 49%;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media only screen and ( max-width: 1175px ) {
    .module-content .show_title_on_front,
    .mandatory_answer, .group-check label.mandatory_answer{
        width: 49%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .second-group-check.group-check{
        margin-left: 1px;
    }
    
    .second-group-check.group-check label:first-child{
        width: 100%;
        margin-left: 24px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    
    .second-group-check.group-check label.limit_attampts_label{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media only screen and ( max-width: 1480px ) {
    .module-content input[type="text"].radio_answer{
        width: 94%;
        margin: 5px 0px 10px 0px;
    }

    .module-content input[type="text"].checkbox_answer{
        width: 94%;
        margin: 5px 0px 10px 0px;
    }
}

@media only screen and ( max-width: 1200px ) {
    .video_url_holder input.video_url,
    .file_url_holder input.file_url{
        width: 88%;
    }

    .video_url_holder input.video_url_button,
    .file_url_holder input.file_url_button{
        width: 10%;
    }
    
    .unit-details .file_url_holder{
        float: left;
    }
    
    .unit-details .file_url_holder input.image_url{
        float: left;
        width: 86%;
        margin-right: 1%;
    }
    
    .unit-details .file_url_holder input.image_url_button{
        float: left;
        width: 12%;
    }
    
    .unit-details .audio_url_holder{
        float: left;
    }
    
    .unit-details .audio_url_holder input.audio_url{
        float: left;
        width: 86%;
        margin-right: 1%;
    }
    
    .unit-details .audio_url_holder input.audio_url_button{
        float: left;
        width: 12%;
    }
    
    .unit-details .file_url_holder input.file_url{
        float: left;
        width: 86%;
        margin-right: 1%;
    }
    
    .unit-details .file_url_holder input.file_url_button{
        float: left;
        width: 12%;
    }
}

@media only screen and ( max-width: 1150px ) {
    .module-content input[type="text"].radio_answer{
        width: 93%;
        margin: 5px 0px 10px 0px;
    }

    .module-content input[type="text"].checkbox_answer{
        width: 93%;
        margin: 5px 0px 10px 0px;
    }

    .video_url_holder input.video_url,
    .file_url_holder input.file_url{
        width: 86%;
    }

    .video_url_holder input.video_url_button,
    .file_url_holder input.file_url_button{
        width: 11%;
    }
}

@media only screen and ( max-width: 1039px ) {
    .student-invitation fieldset label,
    .student-invitation label {
        display: block;
        margin-bottom: 10px;
    }
    .student-invitation fieldset label span,
    .student-invitation label span {
        display: block;
        min-width: 200px;
    }
    .student-invitation fieldset label input,
    .student-invitation label input {
        /*		width: 100%;*/
    }	

    .video_url_holder input.video_url,
    .file_url_holder input.file_url{
        width: 84%;
    }

    .video_url_holder input.video_url_button,
    .file_url_holder input.file_url_button{
        width: 12%;
    }
    
    .unit-details .file_url_holder input.image_url{
        float: left;
        width: 80%;
        margin-right: 1%;
    }
    
    .unit-details .file_url_holder input.image_url_button{
        float: left;
        width: 18%;
    }
    
    .unit-details .audio_url_holder input.audio_url{
        float: left;
        width: 80%;
        margin-right: 1%;
    }
    
    .unit-details .audio_url_holder input.audio_url_button{
        float: left;
        width: 18%;
    }
    
    .unit-details .file_url_holder input.file_url{
        float: left;
        width: 80%;
        margin-right: 1%;
    }
    
    .unit-details .file_url_holder input.file_url_button{
        float: left;
        width: 18%;
    }

}


@media only screen and ( max-width: 960px ) {
    .module-content .show_title_on_front,
    .mandatory_answer, .group-check label.mandatory_answer{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .module-content .group-check{
        margin-bottom: 0px;
    }
    
    .module-content .group-check.second-group-check{
        margin-top: 0px;
        margin-bottom: 20px;
    }
    
    .second-group-check.group-check label:first-child{
        width: 100%;
        margin-left: 24px;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    
    .second-group-check.group-check label.limit_attampts_label{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media only screen and ( max-width: 960px ) {
    .module-content input[type="text"].radio_answer{
        width: 91%;
        margin: 5px 0px 10px 0px;
    }

    .module-content input[type="text"].checkbox_answer{
        width: 91%;
        margin: 5px 0px 10px 0px;
    }

    .video_url_holder input.video_url,
    .file_url_holder input.file_url{
        width: 84%;
    }

    .video_url_holder input.video_url_button,
    .file_url_holder input.file_url_button{
        width: 14%;
    }
}

/* Left side navifation ( Admin Menu ) is collapsed */
@media only screen and ( max-width: 900px ) {
    .student-invitation fieldset label,
    .student-invitation label {
        display: block;
        margin-bottom: 10px;
    }
    .student-invitation fieldset label span,
    .student-invitation label span {
        display: block;
        min-width: 200px;
    }
    .student-invitation fieldset label input,
    .student-invitation label input {
        /*		width: 100%;*/
    }	

}

/* Menu bar goes responsive */
@media only screen and ( max-width: 782px ) {
    .sidebar-name{
        /*clear: both;*/
    }

    .widefat .course-structure th input[type=checkbox]:before, .course-structure input[type=checkbox]:checked:before {
        font: 400 20px/1 Dashicons;
        margin: -3px -4px;
    }
}

@media only screen and ( max-width: 730px ) {
    .tree .tree-unit-right .module_preview,
    .tree .tree-page-right .module_preview{
        margin-left: 23%;
    }
}

@media only screen and ( max-width: 690px ) {
    .tree .tree-unit-left{
        width: 57.5%;
    }

    .tree .tree-page-left{
        width: 53.5%;
    }

    .tree .tree-unit-right{
        width: 41%;
    }

    .tree .tree-page-right {
        width: 43.2%;
    }

    .course-details .nav-tab {
        font-size: 0.7em;
    }

    .course-details .course-state .publish-course-message{
        font-size: 13px;
    }

    .course-details .nav-tab{

    }
}

@media only screen and ( max-width: 660px ) {
    .tree .tree-unit-left{
        width: 55.5%;
    }

    .tree .tree-unit-right{
        width: 43%;
    }

    .tree .tree-page-left{
        width: 51.5%;
    }

    .tree .tree-page-right {
        width: 45.4%;
    }
}

@media only screen and ( max-width: 630px ) {
    .tree .tree-unit-left{
        width: 50%;
    }

    .tree .tree-unit-right{
        width: 47%;
    }

    .tree .tree-page-left{
        width: 45%;
    }

    .tree .tree-page-right {
        width: 50.1%;
    }
}

@media only screen and ( max-width: 600px ) {
    .tree .tree-unit-left{
        width: 58%;
    }

    .tree .tree-unit-right{
        width: 39%;
    }

    .tree .tree-page-left{
        width: 57%;
    }

    .tree .tree-page-right {
        width: 41%;
    }

    .course-section .course-form {
        padding: 5% 0% 0%;
    }

    .course-section .course-form .course-structure table{
        margin: 20px 0 20px 0px;
    }

    .course-details .nav-tab {
        font-size: 0.7em;
    }
    
    .course-details #students_accordion .additional_class_actions,
    .course-details #students_accordion .additional_class_actions_add_student{
        width: 98%;
    }


    .course-state {
        display: inline-block;
        float: none;
        margin-right: 2px;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media ( max-width: 570px ) {
    .video_url_holder input.video_url,
    .file_url_holder input.file_url{
        width: 81%;
    }

    .video_url_holder input.video_url_button,
    .file_url_holder input.file_url_button{
        width: 17%;
    }

    .course-section .course-form div.narrow {
        width: 100%;
    }
    
    #students_accordion .manage-column.column-user_lastname,
    #students_accordion .manage-column.column-last_name{
        display: none;
    }
    
}

/* List table anomalies */
@media ( max-width: 555px ) {
    #students_accordion .additional_class_actions_add_student,
    #students_accordion .additional_class_actions { 
        width: 100%; 
    }

}

@media only screen and ( max-width: 550px ) {
    .tree .tree-unit-left{
        width: 53%;
    }

    .tree .tree-unit-right{
        width: 45%;
    }

    .tree .tree-page-left{
        width: 51%;
    }

    .tree .tree-page-right {
        width: 47.6%;
    }
}

@media only screen and ( max-width: 520px ) {
    .tree .tree-unit-left{
        width: 50%;
    }

    .tree .tree-unit-right{
        width: 46%;
    }

    .tree .tree-page-left{
        width: 45%;
    }

    .tree .tree-page-right {
        width: 48.8%;
    }

    .course-details .nav-tab {
        font-size: 0.7em;
        //max-width: 100px;
        //text-overflow: ellipsis;
        //overflow: hidden;
    }
}

/* For extra small devices */
@media ( max-width: 480px ) {

    .student-invitation fieldset label,
    .student-invitation label {
        display: block;
        margin-bottom: 10px;
    }
    .student-invitation fieldset label span,
    .student-invitation label span {
        display: block;
        min-width: 200px;
    }
    .student-invitation fieldset label input,
    .student-invitation label input {
        width: 100%;
    }	

    .unit-details .nav-tab{
        font-size: 0.8em;
        padding: 13px;
    }
    
    #students_accordion .manage-column.column-user_firstname,
    #students_accordion .manage-column.column-first_name{
        display: none;
    }
    
    .unit-details .file_url_holder input.image_url{
        float: left;
        width: 75%;
        margin-right: 1%;
    }
    
    .unit-details .file_url_holder input.image_url_button{
        float: left;
        width: 23%;
    }
    
    .unit-details .audio_url_holder input.audio_url{
        float: left;
        width: 75%;
        margin-right: 1%;
    }
    
    .unit-details .audio_url_holder input.audio_url_button{
        float: left;
        width: 23%;
    }
    
    .unit-details .file_url_holder input.file_url{
        float: left;
        width: 75%;
        margin-right: 1%;
    }
    
    .unit-details .file_url_holder input.file_url_button{
        float: left;
        width: 23%;
    }
}

@media ( max-width: 450px ) {
    .video_url_holder input.video_url,
    .file_url_holder input.file_url{
        width: 79%;
    }

    .video_url_holder input.video_url_button,
    .file_url_holder input.file_url_button{
        width: 18%;
    }
}

/* List table anomalies */
@media ( max-width: 439px ) {
    .unit-details .nav-tab{
        padding: 10px;
    }
}

@media ( max-width: 400px ) {
    .course-details .nav-tab{
        width: 90.8%;
        max-width: 100%;
    }

    .course-details h2.nav-tab-wrapper, .course-details h3.nav-tab-wrapper{
        margin-left: 0px;
        padding-left: 0px;
    }
    
    #students_accordion .manage-column.column-ID,
    #students_accordion .manage-column.column-id{
        display: none;
    }
}
