/* Left side navifation ( Admin Menu ) is collapsed */
@media only screen and ( max-width: 900px ) {
}

/* Menu bar goes responsive */
@media only screen and ( max-width: 782px ) {
}

/* List table anomalies */
@media ( max-width: 555px ) {

}

/* For extra small devices */
@media ( max-width: 480px ) {
}
