/* Left side navifation ( Admin Menu ) is collapsed */
@media only screen and ( min-width: 2000px ) {
	
}


/* Left side navifation ( Admin Menu ) is collapsed */
@media only screen and ( max-width: 900px ) {
}

/* Menu bar goes responsive */
@media only screen and ( max-width: 782px ) {
	/* Hide from smaller displays. */
	.hide-small {
		display:none;
	}
	.visible-small {
		display:block;
	}
	
	.tablenav-top .actions { 
		float: none; 
		width: 100%; 
	}
	
	.tablenav-top .actions .search-form .search-box { 
		position:relative; 
		width: 100%; 
		margin:0; 
		padding: 0; 
		height: auto; 
	}
	
	.tablenav-top .actions .search-form .search-box input[name="s"] { 
		width: auto; 
		margin: 0 6px 0 0;
	}
	
	p.search-box input[type="submit"] {
	    margin-bottom: 0;
	    position: relative;
	    top: 1px;
	}
	
	.nav-tab {
		font-size:0.9em;
	}
	
	.quicktags-toolbar, div.mce-toolbar-grp  {
		display: none;
	}

	/* Fix button heights. */
	.unit-control-buttons .wp-core-ui input.button-units[type="submit"],
	.course-control-buttons	.wp-core-ui input.button-units[type="submit"],
	.unit-control-buttons a.button.button-units,
	.unit-control-buttons input[type="submit"].button.button-units{
		height: 30px;
		padding: 4px 14px 6px 14px;
	}	
	
	.unit-control-buttons .button.button-preview {
		height: 31px;
	    margin: 3px 0 4px;
	}	
	
	.responsive-reset,
	.responsive-reset *,
	.responsive-reset a:hover,
	.responsive-reset a:visited,
	.responsive-reset a:active{
		background:none;
		border:none;
		bottom:auto;
		clear:none;
		cursor:default;
		/* didn't really know what the default for display should be*/
		/*display:inline;*/
		float:none;
		font-family:Arial, Helvetica, sans-serif;
		font-size:medium;
		font-style:normal;
		font-weight:normal;
		height:auto;
		left:auto;
		letter-spacing:normal;
		line-height:normal;
		max-height:none;
		max-width:none;
		min-height:0;
		min-width:0;
		overflow:visible;
		position:static;
		right:auto;
		text-align:left;
		text-decoration:none;
		text-indent:0;
		text-transform:none;
		top:auto;
		visibility:visible;
		white-space:normal;
		width:auto;
		z-index:auto;
	}
	
}

/* List table anomalies */
@media ( max-width: 555px ) {
	.hide-extra-small {
		display:none;
	}
	.visible-extra-small {
		display:block;
	}
	.column-units {
		display:none;
	}
	
	.unit-control-buttons .wp-core-ui input.button-units[type="submit"],
	.course-control-buttons	.wp-core-ui input.button-units[type="submit"],
	.unit-control-buttons a.button.button-units,
	.unit-control-buttons input[type="submit"].button.button-units,
	.unit-control-buttons a.button.button-publish,
	.unit-control-buttons a.button.button-unpublish,
	.unit-control-buttons .button.button-preview,
	.unit-control-buttons a.button.button-settings{
	    width: 100px;
	}

}

/* For extra small devices */
@media ( max-width: 480px ) {

	.column-units {
		display:none;
	}

	.column-actions { 
		width: 5%;
	}
	

}
