@media only screen and ( max-width: 1480px ) {
    .module-content input[type="text"].radio_answer{
        width: 94%;
        margin: 5px 0px 10px 0px;
    }

    .module-content input[type="text"].checkbox_answer{
        width: 94%;
        margin: 5px 0px 10px 0px;
    }
}

@media only screen and ( max-width: 1200px ) {
    .video_url_holder input.video_url,
    .file_url_holder input.file_url{
        width: 88%;
    }

    .video_url_holder input.video_url_button,
    .file_url_holder input.file_url_button{
        width: 10%;
    }
}

@media only screen and ( max-width: 1150px ) {
    .module-content input[type="text"].radio_answer{
        width: 93%;
        margin: 5px 0px 10px 0px;
    }

    .module-content input[type="text"].checkbox_answer{
        width: 93%;
        margin: 5px 0px 10px 0px;
    }

    .video_url_holder input.video_url,
    .file_url_holder input.file_url{
        width: 86%;
    }

    .video_url_holder input.video_url_button,
    .file_url_holder input.file_url_button{
        width: 11%;
    }
}

@media only screen and ( max-width: 1039px ) {
    .student-invitation fieldset label,
    .student-invitation label {
        display: block;
        margin-bottom: 10px;
    }
    .student-invitation fieldset label span,
    .student-invitation label span {
        display: block;
        min-width: 200px;
    }
    .student-invitation fieldset label input,
    .student-invitation label input {
        /*		width: 100%;*/
    }	

    .video_url_holder input.video_url,
    .file_url_holder input.file_url{
        width: 84%;
    }

    .video_url_holder input.video_url_button,
    .file_url_holder input.file_url_button{
        width: 12%;
    }

}

@media only screen and ( max-width: 960px ) {
    .module-content input[type="text"].radio_answer{
        width: 91%;
        margin: 5px 0px 10px 0px;
    }

    .module-content input[type="text"].checkbox_answer{
        width: 91%;
        margin: 5px 0px 10px 0px;
    }

    .video_url_holder input.video_url,
    .file_url_holder input.file_url{
        width: 84%;
    }

    .video_url_holder input.video_url_button,
    .file_url_holder input.file_url_button{
        width: 14%;
    }
}

/* Left side navifation ( Admin Menu ) is collapsed */
@media only screen and ( max-width: 900px ) {
    .student-invitation fieldset label,
    .student-invitation label {
        display: block;
        margin-bottom: 10px;
    }
    .student-invitation fieldset label span,
    .student-invitation label span {
        display: block;
        min-width: 200px;
    }
    .student-invitation fieldset label input,
    .student-invitation label input {
        /*		width: 100%;*/
    }	

}

/* Menu bar goes responsive */
@media only screen and ( max-width: 782px ) {
    .sidebar-name{
        /*clear: both;*/
    }

    .widefat .course-structure th input[type=checkbox]:before, .course-structure input[type=checkbox]:checked:before {
        font: 400 20px/1 Dashicons;
        margin: -3px -4px;
    }
}

@media only screen and ( max-width: 730px ) {
    .tree .tree-unit-right .module_preview,
    .tree .tree-page-right .module_preview{
        margin-left: 23%;
    }
}

@media only screen and ( max-width: 690px ) {
    .tree .tree-unit-left{
        width: 57.5%;
    }

    .tree .tree-page-left{
        width: 53.5%;
    }

    .tree .tree-unit-right{
        width: 41%;
    }

    .tree .tree-page-right {
        width: 43.2%;
    }
}

@media only screen and ( max-width: 660px ) {
    .tree .tree-unit-left{
        width: 55.5%;
    }

    .tree .tree-unit-right{
        width: 43%;
    }

    .tree .tree-page-left{
        width: 51.5%;
    }

    .tree .tree-page-right {
        width: 45.4%;
    }
}

@media only screen and ( max-width: 630px ) {
    .tree .tree-unit-left{
        width: 50%;
    }

    .tree .tree-unit-right{
        width: 47%;
    }

    .tree .tree-page-left{
        width: 45%;
    }

    .tree .tree-page-right {
        width: 50.1%;
    }
}

@media only screen and ( max-width: 600px ) {
    .tree .tree-unit-left{
        width: 58%;
    }

    .tree .tree-unit-right{
        width: 39%;
    }

    .tree .tree-page-left{
        width: 57%;
    }

    .tree .tree-page-right {
        width: 41%;
    }

    .course-section .course-form {
        padding: 5% 0% 0%;
    }

    .course-section .course-form .course-structure table{
        margin: 20px 0 20px 0px;
    }
}

@media ( max-width: 570px ) {
    .video_url_holder input.video_url,
    .file_url_holder input.file_url{
        width: 81%;
    }

    .video_url_holder input.video_url_button,
    .file_url_holder input.file_url_button{
        width: 17%;
    }
}

@media only screen and ( max-width: 550px ) {
    .tree .tree-unit-left{
        width: 53%;
    }

    .tree .tree-unit-right{
        width: 45%;
    }

    .tree .tree-page-left{
        width: 51%;
    }

    .tree .tree-page-right {
        width: 47.6%;
    }
}

@media only screen and ( max-width: 520px ) {
    .tree .tree-unit-left{
        width: 50%;
    }

    .tree .tree-unit-right{
        width: 46%;
    }

    .tree .tree-page-left{
        width: 45%;
    }

    .tree .tree-page-right {
        width: 48.8%;
    }
}


@media ( max-width: 450px ) {
    .video_url_holder input.video_url,
    .file_url_holder input.file_url{
        width: 79%;
    }

    .video_url_holder input.video_url_button,
    .file_url_holder input.file_url_button{
        width: 18%;
    }
}

/* List table anomalies */
@media ( max-width: 439px ) {
    .nav-tab-wrapper .nav-tab{
        padding: 10px;
    }
}


/* List table anomalies */
@media ( max-width: 555px ) {
    #students_accordion .additional_class_actions_add_student,
    #students_accordion .additional_class_actions { 
        width: 100%; 
    }

}

/* For extra small devices */
@media ( max-width: 480px ) {

    .student-invitation fieldset label,
    .student-invitation label {
        display: block;
        margin-bottom: 10px;
    }
    .student-invitation fieldset label span,
    .student-invitation label span {
        display: block;
        min-width: 200px;
    }
    .student-invitation fieldset label input,
    .student-invitation label input {
        width: 100%;
    }	

    .nav-tab-wrapper .nav-tab{
        font-size: 0.8em;
        padding: 13px;
    }
}
