.shadow-table
{
    position: relative;
    width: 100%;
    background: #ddd;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0em 0em;
    color: rgba( 0,0,0, .8 );
    text-shadow: 0 1px 0 #fff;
    line-height: 1.5;
    margin: 0px auto;
}

.shadow-table:before, .shadow-table:after 
{
    z-index: -1; 
    position: absolute; 
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%; 
    top: 80%;
    max-width:300px;
    background: rgba( 0, 0, 0, 0.7 ); 
    -webkit-box-shadow: 0 15px 10px rgba( 0,0,0, 0.7 );   
    -moz-box-shadow: 0 15px 10px rgba( 0, 0, 0, 0.7 );
    box-shadow: 0 15px 10px rgba( 0, 0, 0, 0.7 );
    -webkit-transform: rotate( -3deg );    
    -moz-transform: rotate( -3deg );   
    -o-transform: rotate( -3deg );
    -ms-transform: rotate( -3deg );
    transform: rotate( -3deg );
}

.shadow-table:after 
{
    -webkit-transform: rotate( 3deg );
    -moz-transform: rotate( 3deg );
    -o-transform: rotate( 3deg );
    -ms-transform: rotate( 3deg );
    transform: rotate( 3deg );
    right: 10px;
    left: auto;
}

.center{
    text-align: center;
}

.remove-button{
    background-image: url( "../images/delete.png" );
    background-position: 30px 31px;
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
    display: block;
}

.course_excerpt{
    margin-bottom: 5px;
    margin-top: 7px;
}

.width-50{
    width: 50%;
}

.width-17{
    width: 17%;
}

a .remove-btn{
    margin-left: 17px;
    margin-right: auto;
    margin-top: 1px;
    font-size: 18px;
}

.column-course .row-actions{
    /*    text-transform: uppercase;*/
}

/* Column Widths */
.column-course { 
    width: 50%; 
}

.column-units { 
    width: 5%; 
}

.column-students { 
    width: 5%; 
}

.column-status { 
    width: 10%;
}

.column-actions { 
    width: 10%;
}

.column-remove { 
    width: 5%; 
}

.column-course .course-thumbnail img{
    width:100%;
    height:auto;
}

.courses-state{
    display: inline-block;
    margin-top: 3px;
    margin-left: 0px;
}

.courses-state .control:focus {
    background:none;
    outline:none;
}

.courses-state .control {
    border-radius: 10px;
    background: rgb(176,176,176);
    width:40px;
    height:18px;
    margin: -2px 10px 0px 10px;
    position: relative;
    opacity:.8;
    display: inline-block;
    float: left;
}

.courses-state .control:hover {
    cursor: pointer;
    opacity:1;
}

.courses-state .control .toggle {
    width:12px;
    height:12px;
    margin:3px;
    background: #F4F4F4;
    border-radius:50%;
    display:block;
    position:absolute;
    -webkit-transition:all .2s ease-in-out;
    left:0px;
}

.courses-state .control .toggle:hover {
    -webkit-transform:scale(1.1);
}

.courses-state .control.on .toggle {
    left:21px;
}

.courses-state .control.on {
    background: rgb(107,187,26);
}

.courses-state .control.disabled {
    background: #eaeaea;
}

.courses-state .publish-course-message{
    display: inline-block;
    font-size: 14px;
    float: left;
    margin-top: -2px;
    margin-right: 10px;
}

.courses-state .live,
.courses-state .draft{
    color:#d4d4d4;
    display: inline-block;
    font-size: 14px;
    margin-top: -2px;
    float: left;
    font-weight: bold;
}

.courses-state .live.on{
    color:#6bbb1a;
}

.courses-state .draft.on{
    color:red;
}


.course-rows .course-row{
    background-color: #ffff;
}


.course-rows .course-row:nth-child(2n){
    background-color: #f9f9f9;
}

.course-row-ui-state-highlight{
    background-color: #eaeaea;
    height: 90px;
    width: 100%;
}