.reports .ui-widget-content{
    border: 1px solid #ddd;
}

.shadow-table
{
    position: relative;
    width: 100%;
    background: #ddd;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0em 0em;
    color: rgba( 0,0,0, .8 );
    text-shadow: 0 1px 0 #fff;
    line-height: 1.5;
    margin: 0px auto;
}


.shadow-table:before, .shadow-table:after 
{
    z-index: -1; 
    position: absolute; 
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%; 
    top: 80%;
    max-width:300px;
    background: rgba( 0, 0, 0, 0.7 ); 
    -webkit-box-shadow: 0 15px 10px rgba( 0,0,0, 0.7 );   
    -moz-box-shadow: 0 15px 10px rgba( 0, 0, 0, 0.7 );
    box-shadow: 0 15px 10px rgba( 0, 0, 0, 0.7 );
    -webkit-transform: rotate( -3deg );    
    -moz-transform: rotate( -3deg );   
    -o-transform: rotate( -3deg );
    -ms-transform: rotate( -3deg );
    transform: rotate( -3deg );
}

.shadow-table:after 
{
    -webkit-transform: rotate( 3deg );
    -moz-transform: rotate( 3deg );
    -o-transform: rotate( 3deg );
    -ms-transform: rotate( 3deg );
    transform: rotate( 3deg );
    right: 10px;
    left: auto;
}

.widefat .first-tr td{
    border-width: 0px;
}
.changable{
    margin:0px 0px 12px 0px;
    padding-left: 5px;
    text-align: right;
}
.pdf{
    background-image: url( "../images/pdf_document.png" );
    background-repeat: no-repeat;
    height: 16px;
    display: block;
    margin-left: 12px;
    cursor: pointer;
}

.widefat td{
    font-size: 12px;
    padding: 15px 6px 2px;
    vertical-align: top;
}

.widefat tbody th.check-column{
    padding: 15px 0 14px;
}

.button-settings{
    margin-bottom: 10px;
}

/* Column Widths */
.reports .column-ID {
	width: 4%;
}
.reports .column-user-fullname{
	width: 20%;
}
.reports .column-user-firstname
{
	width: 10%;
}
.reports .column-user-lastname
{
	width: 10%;
}
.reports .column-responses{
	width: 10%;
}
.reports .column-average-grade{
	width: 10%;
}
.reports .column-report{
	width: 5%;
}

.reports .column-user-fullname {
	display: none;
}

.reports th{
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
}