/* @override http://dev.site/wp-content/plugins/membership/membershipincludes/css/coursescriptions.css?ver=12 */

div.course-liquid-left {
	float: left;
	clear: left;
	width: 100%;
	margin-right: -325px;
}
div.course-liquid-right {
	float: right;
	clear: right;
	width: 300px;
}
#course-left {
	margin-left: 5px;
	margin-right: 325px;
}
#course-left #edit-sub {
	background-color: transparent;
	border: 0 none;
}
div.course-holder-wrap {
	padding: 0;
	margin: 10px 0 20px;
}

.sidebar-name {
	background-color: #aaa;
	background-image: url(../images/ed-bg.gif);
	text-shadow: #FFF 0 1px 0;
	border-color: #dfdfdf;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-khtml-border-top-right-radius: 8px;
	-khtml-border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

.sidebar-name:hover {
	color: #333 !Important;
	cursor: move;
}

#main-start .sidebar-name:hover {
	color: #333 !Important;
	cursor: auto;
}

p.description {
	margin: 0 12px 12px;
}

.level-holder {
	border-width: 0 1px 1px;
	border-style: none solid solid;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-khtml-border-bottom-right-radius: 8px;
	-khtml-border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	background-color: #f1f1f1;
	border-color: #ddd;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 20px;
	overflow: hidden;
        min-height: 98px;
}

.course-holder {
	position: relative;
	background-color: #fff;
	border-color: #ddd;
	border-width: 0 1px 1px;
	border-style: none solid solid;
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-khtml-border-bottom-right-radius: 8px;
	-khtml-border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	padding: 0;
}

div.course-details {
	padding-top: 10px;
	padding-left: 10px;
}

.course-holder label {
	margin-bottom: 5px;
	font-weight: bold;
	display: block;
}

.course-holder div select {
	margin-bottom: 10px;
	margin-top: 0;
}

input.wide, textarea.wide {
	margin-top: 5px;
	width: 98%;
	margin-left: 0;
	margin-bottom: 5px;
}

.half {
	margin-top: 5px;
	width: 48%;
	margin-right: 2%;
	margin-bottom: 5px;
        float: left;
}

.course-holder h3 {
	background-color: #edf3fe;
	text-shadow: 0 1px 0 #FFFFFF;
	color: #000;
	font: normal bold 12px/2.2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-left: 0;
	margin-right: 0;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.droppable-levels {
	width: 95%;
	margin-left: 15px;
	margin-bottom: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border: 3px dashed #ddd;
	color: #a9a9a9;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	clear: both;
	margin-top: 20px;
}

.droppable-levels.hoveringover {
	border: 3px dashed #78aad3;
	color: #78aad3;
}

#positive-rules {
	background: #fcfcfc;
}
#negative-rules {
	background: #fcfcfc;
}

.action-top.open {
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-khtml-border-top-right-radius: 6px;
	-khtml-border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	background: #dfdfdf url("../images/gray-grad.png") repeat-x left top;
	text-shadow: #fff 0 1px 0;
	width: 260px;
	margin-left: 10px;
	padding: 5px 5px 5px 15px;
	font-weight: bold;
	border: 1px solid #ddd;
	margin-bottom: 0px;
	min-height: 20px;
}

.action-top.closed {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	border-radius: 6px;
	background: #dfdfdf url("../images/gray-grad.png") repeat-x left top;
	text-shadow: #fff 0 1px 0;
	width: 260px;
	margin-left: 10px;
	padding: 5px 5px 5px 15px;
	font-weight: bold;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	min-height: 20px;
}

.action-top:hover {
	cursor: move;
}

.action-body.open {
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottm-left-radius: 6px;
	-khtml-border-bottm-right-radius: 6px;
	-khtml-border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	background: #f7f7f7;
	text-shadow: #fff 0 1px 0;
	width: 250px;
	margin-left: 10px;
	padding: 5px 15px;
	font-weight: normal;
	border: 1px solid #ddd;
	margin-bottom: 10px;
	min-height: 20px;
}

.action-body.closed {
	display: none;
}

.action-button {
	float: right;
	margin-right: 0px;
	width: 26px;
	height: 20px;
	background: url("../images/arrows.png") no-repeat scroll 5px 3px transparent;
}

.action-button:hover {
	background: url("../images/arrows-dark.png") no-repeat scroll 5px 3px transparent;
}

.action-top-placeholder {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	border-radius: 6px;
	background: transparent;
	width: 250px;
	margin-left: 10px;
	padding: 5px 15px;
	font-weight: bold;
	margin-bottom: 10px;
	min-height: 20px;
	border: 1px dashed #ddd;
}

div.course-operation {
	float: left;
	width: 95%;
	margin-left: 15px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #ddd;
	margin-bottom: 0;
}

li.afterserial div.course-operation {
	border-color: #d81813;
	border-width: 1px;
}

li.afterserial div.course-operation div.inner-operation {
	background-color: #ffd6d6;
	-moz-border-radius-bottomleft: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottm-left-radius: 6px;
	-khtml-border-bottm-right-radius: 6px;
	-khtml-border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

h2.sidebar-name span {
	float: right;
}
h2.sidebar-name span a {
	text-decoration: none;
	font-size: 11px;
}

#hiden-actions {
	margin-left: 5px;
	margin-right: 325px;
	display: none;
}

div.course-operation h2 {
	text-shadow: 0 1px 0 #FFFFFF;
	color: #000;
	font: normal bold 12px/2.2em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-left: 0;
	margin-right: 0;
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

div.course-operation .inner-operation {
	padding: 10px;
	font-size: 12px;
	overflow: hidden;
}

div.course-operation .inner-operation p {
	margin-top: 0;
}

div.course-operation .inner-operation p.description {
	margin: 0;
}

#membership-levels-start, #membership-levels-holder {
	clear: both;
	overflow: hidden;
	margin-top: 0;
}

div.joiningline {
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	width: 1px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	background: #ddd;
	height: 20px;
}

div.buttons {
	text-align: right;
	padding: 10px 15px 10px 10px;
}
div.buttons a.cancellink {
	margin-right: 10px;
	font-size: 12px;
	text-decoration: underline;
	color: #797979;
}

.sortable-levels {
	overflow: hidden;
	margin-bottom: 0;
}

.placeholder-levels {
	width: 95%;
	margin-top: 20px;
	margin-left: 15px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	border: 2px dashed #ddd;
	color: #a9a9a9;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	clear: both;
	min-height: 150px;
}

div.levelinformation {
	border: 1px solid #ddd;
	width: 45%;
	min-height: 145px;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.no-movecursor {
	cursor: auto !Important;
}

#wp-course_description-wrap {
	width: 98%;
}