/*html .mceContentBody {
	max-width: none !important;
}

.mce-content-body
{
	font-size: 14px;
	font-family: "Open Sans",sans-serif;
}*/

html .mceContentBody {
	max-width: none !important; 
	font-size: 14px;
	font-family: "Open Sans", Lato, sans-serif;
	line-height: 1.3em;
}

html .mceContentBody h1 {
	font-size: 2.1em;
}

html .mceContentBody h2 {
	font-size: 1.6em;
}

html .mceContentBody h3 {
	font-size: 1.27em;
}

html .mceContentBody h4 {
	font-size: 1.1em;
}

html .mceContentBody h5 {
	font-size: 0.93em;
}

html .mceContentBody h6 {
	font-size: 0.85em;
}

.wp-editor-container textarea{
	width: 100%;
}