.cp_popup_overall{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    position: absolute;
    z-index: 999998;
    opacity: 0.3;
    display: none;
}

.cp_popup_window{
    width: 450px;
    background: #f4f4f4;
    z-index: 999999;
    display: none;
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
    padding: 25px;
    padding-top: 55px;
    min-height: 440px;
}

.cp_popup_window label input{
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px;
    color: #737373;
    padding: 8px;
    border: 1px solid #e0e0e0;
}

.cp_popup_button_container {
    text-align: right;
	position:relative;
}

.cp_popup_window button.apply-button.enroll-success {
    clear: both;
    float: none;
    margin: 20px auto 0 auto;
    position: relative;
    top: 25px;
}

label.cp_popup_col_2 {
    width: 47%;
    float: left;
    display: inline-block;
    margin-right: 4%;
}

input#cp_popup_username {
    float: left;
    display: block;
    margin-bottom: 25px;
}

a.cp_login_step{
    color: #58a2cc;
    margin-top: 10px;
    display: block;
}

.cp_popup_col_2 .apply-button.signup,
.cp_popup_col_2 .apply-button.login{
    float: right;
    margin-right: -8px;
    min-width: 80%;
}

.cp_popup_success_message {
    margin-top: 25px;
}

label.cp_popup_col_2.second-child{
    margin-right: 0%;
}

.cp_popup_buttons{
    display: block;
    margin-top: 10px;
    float: right;
    width: 100%;
}

.cp_popup_buttons.login_buttons{
    margin-top: 25px;
}

.cp_popup_window label input[type="text"],
.cp_popup_window label input[type="password"]{
    width: 96%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cp_popup_window label{
    margin-bottom: 20px;
    display: block;
}

.cp_popup_loading{
    background: transparent url( ../images/ajax-loader.gif ) no-repeat;
    position: absolute;
    top: 225px;
    width: 16px;
    height: 16px;
    left: 50%;
    right: -50%;
    display: none;
}

.cp_popup_title{
/*    text-transform: uppercase;*/
    text-transform: capitalize;
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    font-weight: 300;
    color: #000;
}

.cp_popup_close_button{
    background: transparent url( ../images/popup-close.png ) no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.cp_blur{
    -webkit-filter: blur(2px); 
    -moz-filter: blur(2px);
    -o-filter: blur(2px); 
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.cp_no_blur{
    -webkit-filter: blur(0px); 
    -moz-filter: blur(0px); 
    -o-filter: blur(0px); 
    -ms-filter: blur(0px); 
    filter: blur(0px);
}

.cp_popup_required{
    font-size: 16px;
}

.validation_errors{
    font-weight: normal;
    color: #D0021B;
    margin-bottom: 10px;
    position: relative;
    min-height: 24px;
    display: block;
}

.cp_error_field{
    border: none !important;
    border: 1px solid #d0021b !important;
}

.cp_popup_col_2 input.cp_error_field{
    background-image:url(../images/popup-validate-incorrect.png);
    background-repeat:no-repeat;
    background-position: 95.9% 11px;
}

.cp_popup_col_1 input.cp_error_field{
    background-image:url(../images/popup-validate-incorrect.png);
    background-repeat:no-repeat;
    background-position: 98.1% 11px;
}

.cp_popup_col_2 input.cp_no_error_field{
    background-image:url(../images/popup-validate-correct.png);
    background-repeat:no-repeat;
    background-position: 95.9% 11px;
}

.cp_popup_col_1 input.cp_no_error_field{
    background-image:url(../images/popup-validate-correct.png);
    background-repeat:no-repeat;
    background-position: 98.1% 11px;
}

button.apply-button-green{
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #61b616;
    background-color: #61b616;
    min-height: 32px;
    min-width: 100px;
    padding: 5px;
    float: right;
    display: block;
    color: #fff;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    font-size: 22px;
/*    text-transform: uppercase;*/
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border: none;
    text-shadow: none;
    font-weight: 300;
    box-shadow: none;
}


.cp_popup_success_message {
	margin: 0 50px;
}
.cp_popup_success_message,
.cp_popup_success_message p {
	font-size: 16px;
}

.cp_popup_success_message .congratulations-image,
.cp_popup_congratulations_title { 
	text-align: center;
}
.cp_popup_success_message .congratulations-image img {
	margin-left: auto;
	margin-right: auto;
}

.cp_popup_success_message .congratulations-image {
	margin: 25px auto;
}

@media ( max-width: 520px ) {
    .cp_popup_window{
        width: 88%;
        margin-left: 0%;
        margin-right: 5%;
        height: 100%;
    }

    .cp_popup_overall{
        height: auto;
    }

    .cp_popup_close_button {
        position: fixed;
        top: 20px;
        right: 25px;
    }
}

@media ( max-width: 480px ) {
    .cp_popup_window{
        width: 88%;
        margin-left: 0%;
        margin-right: 5%;
        height: 100%;
        position: absolute;
    }

    .cp_popup_overall{
        height: auto;
    }

    .cp_popup_close_button {
        position: absolute;
        top: 20px;
        right: 25px;
    }
}

@media ( max-width: 435px ) {
    label.cp_popup_col_2{
        width: 100%;
    }
}
