[submodule "inc/premium/external/dashboard"]
	path = inc/premium/external/dashboard
	url = git@bitbucket.org:incsub/wpmudev-dashboard-notification.git

[submodule "themes/coursepress"]
	path = themes/coursepress
	url = git@bitbucket.org:incsub/coursepress-theme.git
	branch = development

[submodule "inc/external/wpmu-lib"]
	path = inc/external/wpmu-lib
	url = git@bitbucket.org:incsub/wpmu-lib.git
