$fontPath: "../font/";
@font-face {
  font-family: 'ico-cp';
  src:url( '#{$fontPath}cp_icon.eot' );
  src:url( '#{$fontPath}cp_icon.eot?#iefix' ) format( 'embedded-opentype' ),
  url( '#{$fontPath}cp_icon.ttf' ) format( 'truetype' ),
  url( '#{$fontPath}cp_icon.woff' ) format( 'woff' ),
  url( '#{$fontPath}cp_icon.svg#icomoon' ) format( 'svg' );
  font-weight: normal;
  font-style: normal;
}
#toplevel_page_coursepress .wp-menu-image:before {
  font-family: 'ico-cp' !important;
  content: "\e600";
}
