@import "common/mixin.scss";

.coursepress-wrap {

  #cp-instructors-box,
  #cp-facilitators-box {
    display: block;
    border: 1px solid $color_1;
    background-color: $color_2;
    padding: 15px 25px;
    margin-bottom: 15px;
    @include radius(3px);
    @include clearfix;

    p {
      text-align: center;
      margin: 60px 0;
    }
  }
  .cp-div-auto {
    padding-left: 15px;
  }

  .units-content {
    margin: -25px -25px 0 -25px;

    padding: 0 0 25px 0;
  }
  .cp-units-table {
    width: 100%;
    border: 0;

    th, td {
      border: 0;

      &:first-of-type {
        padding-left: 25px;
      }
    }

    thead {
      th, td {
        border: 0;
        padding: 8px 15px;
        background-color: $grey_6;

      }
    }
    .column-unit {
      border: 1px solid red;
      width: 40%;
    }
    .column-step {
      width: 30%;
      border: 1px solid blue;
    }
  }
  .column-unit {
    border: 1px solid red;
    width: 39%;
  }
  .column-step {
    width: 31%;
    border: 1px solid blue;
  }
  .column-preview {
    text-align: center;
  }
  .unit-table-list {
    width: 100%;
    border-width: 0 0 0 1px;
    margin: 5px 0 25px;
    border-left: 1px solid $grey_5;
    @include boxshadow(0);

    td {
      &:first-of-type {
        padding-left: 20px;
      }
    }
  }

  .unit-view {
    padding: 15px 20px;

    &:after {
      content: '';
      display: block;
      margin: 0 -20px;
      @include bordered;
    }
  }
  .cp-unit-heading {
    h3 {
      margin: 0;
    }
  }
  .course-menu .units-list {
    .unit-item {
      margin: 0;
      padding: 4px 0;
      border: 0;
      font-size: 13px;
      display: block;
      @include radius(0);
    }
  }

  .coursepress-page {
    .cp-menu-items {
      .cp-menu-item {
        &.step-course-units {
          &.active {
            @include radius(6px);

            .menu-label {
              display: block;
              border: 1px solid red;
              margin-bottom: 8px;
            }

            button {
              display: block;
              margin: 8px 15px 8px 0;
              color: #ffffff;
              padding: 4px 20px;
            }
          }
        }
      }
    }
  }
}