// Use in Assessments page
@import "common/mixin.scss";
@import "common/cp-search-form";
#coursepress-assessments {
    .coursepress-page {
        .cp-flex {
            margin-bottom: 12px;
            &.cp-students {
                @media screen {
                    @media (max-width: $wp_admin_width_to_hide_left_menu) {
                        display: block;
                    }
                }
                .cp-div {
                    width: 30%;
                    @media screen {
                        @media (max-width: $wp_admin_width_to_hide_left_menu) {
                            width: 100%;
                            margin-left: 0;
                            padding-bottom: 1em;
                        }
                    }
                    .select2-selection--single {
                        min-width: auto;
                    }
                }
            }
        }
        #cp-search-form {
            @media screen {
                @media (max-width: 450px) {
                    .cp-input-clear {
                        input[name=s] {
                            width: 170px;
                        }
                    }
                }
            }
        }
        .cp-input-group {
            li {
                padding: 10px
            }
        }
        ul.cp-assessments-overview {
            display: flex;
            padding: 13px 17px 8px 14px;
            background-color: $grey_10;
            border-radius: 5px;
            .cp-assessments-strong {
                font-weight: 600;
            }
            li {
                padding-right: 5%;
            }
        }
        .cp-title {
            font-weight: bolder;
        }
        .coursepress-table {
            .cp-assessments-table-container {
                margin-top: 30px;
                font-size: 15px;
                .cp-assessments-questions-expanded {
                    width: 100%;
                    background-color: #f1f1f1;
                    float: left;
                    tr {
                        td, th {
                            background-color: #f1f1f1;
                        }
                    }
                    tr.cp-question-title th {
                        background: #e5e5e5;
                    }
                }
            }
            .column-student {
                .cp-flex {
                    align-items: center;
                    .gravatar {
                        padding-right: 15px;
                        img {
                            @include radius(50%);
                        }
                    }
                    .user_login {
                        padding-right: 5px;
                    }
                    .display_name {
                        font-weight: normal;
                    }
                }
            }
            .cp-tr-expanded {
                background-color: $grey_12;
            }
            .cp-collapse-btn {
                padding: 5px 8px;
                margin-right: 2px;
                background-color: $grey_4;
                color: $color_2;
                @include radius(4px);
                transition: color 0.4s;
                cursor: pointer;
                border: 1px solid transparent;
                font-size: 85%;
                &:before {
                    @include icon('\f00d');
                    margin: 5px;
                }
            }
            .cp-units-icon {
                &:after {
                    @include icon('\f19d');
                    margin-left: 5px;
                    color: #2b6fb6;
                    padding-right: 15px;
                }
            }
            .cp-tick-icon {
                &:before {
                    @include icon('\f00c');
                    margin-left: 5px;
                    color: #6bbb1a;
                    padding-right: 5px;
                }
            }
            .cp-cross-icon {
                &:before {
                    @include icon('\f00d');
                    margin-left: 5px;
                    color: #aa0000;
                    padding-right: 5px;
                }
            }
            .cp-plus-icon {
                &:after {
                    @include icon('\f067');
                    margin-left: 5px;
                    cursor: pointer;
                }
            }
            .cp-minus-icon {
                &:after {
                    @include icon('\f068');
                    margin-left: 5px;
                    cursor: pointer;
                }
            }
            .cp-no-answer {
                margin-left: 5px;
                color: #ff0000;
            }
            .column-student {
                width: 20%;
            }
            .column-grade {
                width: 5%;
            }
            h3 {
                margin: 0;
            }
            ul.cp-assessments-units-expanded {
                li {
                    width: $width;
                    float: left;
                    padding: 10px 0;
                    background: $white;
                    border-radius: 4px;
                    border: 1px solid $grey_5;
                    &.cp-expanded {
                        padding-bottom: 0;
                    }
                }
                .pull-left {
                    padding-left: 10px;
                }
                .pull-right {
                    padding-right: 10px;
                }
                .cp-green {
                    color: #008000;
                }
                .cp-red {
                    color: #FF0000;
                }
            }
            .cp-assessments-details {
                ul.cp-assessments-answers {
                    li {
                        padding: 0;
                        border: 0;
                        background: none;
                    }
                }
            }
            .cp-right-answer {
                color: #26b928;
            }
            .cp-wrong-answer {
                color: #ce0000;
            }
            .column-modules_progress,
            .column-reports {
                a {
                    padding: 8px;
                }
            }
        }
        @media screen {
            @media (max-width: $wp_admin_width_to_hide_left_menu) {
                .column-last_active {
                    display: none;
                }
            }
            @media (max-width: 500px) {
                .column-modules_progress {
                    display: none;
                }
            }
        }
    }
    @media screen {
        @media (min-width: 1024px) {
            .coursepress-table {
                th, td {
                    display: table-cell;
                }
                .hidden {
                    display: none;
                }
                th {
                    font-weight: bolder;
                }
            }
        }
    }
}
