// Use in courselist
@import 'common/mixin.scss';

.coursepress-wrap {
  margin-top: 15px;

  .cp-search-form {
    margin: 0px 0 12px 0;

    input[type="text"] {
      width: 100%;
    }
  }

  .wp-heading-inline {
    .cp-btn {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .coursepress-table {
    .column-units,
    .column-students,
    .column-certified,
    .column-status {
      text-align: center;
      padding-left: 5px;
      padding-right: 5px;
    }
    tbody {
      tr {
        &:nth-child(2n+1) {
          background-color: #ffffff;
          &.odd {
            background-color: $grey_6;
          }
        }
        &:nth-child(2n-1) {
          td {
            border: 0;
            padding-top: 15px;
            padding-bottom: 15px;
          }
        }
        &.odd {
          background-color: $grey_6;
        }
      }
      .column-title {
        font-size: 15px;
      }
      .column-actions td {
        padding-top: 0;
      }
      .cp-row-actions {
        @include clearfix;
        border-top: 1px solid $grey_5;
        padding: 15px 0 0 0;
      }
    }

    .cp-dropdown {
      position: relative;
      display: inline-block;
      margin-left: 15px;

      .cp-dropdown-btn {
        position: relative;
        background-color: $grey_6;
        padding-left: 10px;
        &:after {
          @include icon('\f107');
          margin-left: 5px;
        }
      }
      .cp-dropdown-menu {
        position: absolute;
        background-color: $grey_6;
        border: 1px solid $grey_4;
        display: none;
        top: 18px;
        padding: 5px 0;
        width: 160px;
        z-index: 9;
        @include hide;
        @include radius(4px);

        li {
          display: block;
          padding: 4px 10px;
          margin: 0;

          &:hover {
            background-color: $grey_5;
          }
          a {
            display: block;
            margin: 0;
          }
          &.cp-delete:hover {
            background-color: rgba(255, 0, 0, 0.04);
          }
        }
        &.open {
          display: block;
          @include show;
        }
      }
    }
    .cp-row-actions {
      a {
        display: inline-block;
        margin-bottom: 15px;
      }
    }
    .cp-edit-overview,
    .cp-edit-units {
      &:after {
        content: '|';
        display: inline-block;
        color: $grey_4;
        margin: 0 15px;
      }
    }
  }

  @media screen {
    @media (min-width: 800px) {
      .cp-search-form {
        float: right;
        margin-top: -40px;

        input[type="text"] {
          width: 230px;
        }
      }
    }
  }

  .cp-admin-pagination {
    clear: both;
    float: right;
    padding-bottom: 20px;
  }
}