// Use in Settings page
@import "common/mixin.scss";
@import "admin/table.scss";

#wpwrap {

.coursepress-wrap {

  .cp-code-box {
    font-family: $code_font;
    display: block;
    border: 1px solid $color_1;
    background-color: $color_2;
    padding: 0 10px;
    @include radius(3px);
    @include clearfix;
    width: $width;

    p {
      line-height: 1.5;
    }
  }
  .cp-select-list {
    height: 250px;
    max-width: 98%;
    overflow: auto;
    border: 1px solid $grey_4;
    padding-top: 10px;
    li {
      margin: 0;
      border-right: none;
      padding: 8px 15px;
      text-align: left;
      &.active {
        border-top: 1px solid $grey_4;
        border-bottom: 1px solid $grey_4;
        @include radius(0);
      }
    }
  }
  .cp-usage-label {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    height: 6px;
    margin: 10px 0 2px 0;
  }
  .cp-attr-sub-label {
    font-size: 12px;
    font-weight: 600;
    color: $grey_3;
  }
  .cp-box-content {
      .box-label-area,
      .box-inner-content {
          border-top: 1px solid $grey_5;
      }
      &:first-of-type {
          .box-label-area,
          .box-inner-content {
              border-top: 0;
          }
      }
    &.cp-shortcode-list {
      background-color: $grey_6;
    }
    .box-inner-content {
        .option {
            min-height: 2em;
            h3 {
                color: $grey_3;
                font-size: .9em;
                margin: 0;
            }
            &.half {
                width: 48%;
                float: left;
                margin-right: 2%;
                &:last-child {
                    margin-right: 0;
                    margin-left: 2%;
                }
            }
            &.option-radio_slider {
                position: relative;
                margin-left: 50px;
                .wpmui-radio-slider-wrapper {
                    .wpmui-radio-slider {
                        position: absolute;
                        left: -50px;
                        top: 0;
                        border: 1px solid $grey_4;
                        &.on {
                            background: $grey_8;
                            .wpmui-toggle {
                                background: $blue_6;
                            }
                        }
                    }
                    .wpmui-toggle {
                        background: $grey_3;
                        width: 18px;
                        height: 18px;
                        margin: -1px 0;
                    }
                }
            }
        }
        .flex {
            display: flex;
            padding-bottom: 10px;
            .option {
                padding-left: 10px;
                &:first-child {
                    padding-left: 0;
                }
            }
        }
    }
  }
}
}
