// Use in comments pages
@import "common/mixin.scss";
@import "common/cp-search-form";

#coursepress-reports-list {
    .coursepress-page {
        .cp-flex {
            align-items: center;
            .gravatar {
                padding-right: 15px;
                img {
                    @include radius(50%);
                }
            }
            .user_login {
                font-weight: 600;
                padding-right: 5px;
            }
        }
        .coursepress-table {
            margin-bottom: 2em;
            tbody {
                .column-answered,
                .column-average,
                .column-id,
                .column-responses {
                    text-align: right;
                }
                .column-answered,
                .column-average,
                .column-responses {
                    width: 5em;
                }
                .column-id {
                    width: 3em;
                }
            }
            .column-download,
            .column-view {
                width: 5em;
                text-align: center;
                .fa {
                    font-size: 2em;
                }
            }
            .column-id,
            .check-column {
                width: 2.2em;
                padding: 11px 0 0 3px;
            }
            &.coursepress-table-summary {
                .column-answered,
                .column-average,
                .column-responses {
                    width: 20%;
                }
            }
        }
    }
}
