#toplevel_page_coursepress-upgrade {
	display: none;
}
.coursepress-upgrade-nag {
	background-color: rgb(3, 31, 52);
	color: rgb(192, 215, 235);
	padding: 5px 15px;
	border-left-width: 8px;
	font-family: 'Open Sans', Georgia, serif;
	font-weight: 300;

	&.frontend-nag {
		line-height: 40px;
		padding: 20px 30px;
		max-width: 900px;
		margin: 90px auto;
		box-shadow: 0 0 10px rgba(0,0,0,0.3);

		p {
			margin: 0;
			text-align: center;
		}
	}

	p {
		font-size: 18px;
	}
	.button-primary,
	.button-primary:hover {
		text-transform: uppercase;
		border: 3px solid rgba(53, 131, 191, 0.4) !important;
		height: auto;
		padding: 5px 10px;
		line-height: 1;
		background-color: rgb(6, 56, 94);
		color: rgb(232, 218, 66);
		text-shadow: none;
		font-weight: 700;
	}
	&.notice-error {
		background-color: rgba(255, 0, 0, 0.1);
		p {
			color: #333;
		}
	}
}
.coursepress-upgrade-view {
	.coursepress-update-view {
		margin: 5px 0;
		padding: 8px 15px;
		background-color: #FFF;
		border: 1px solid #CCC;

		.students-progress {
			font-weight: bold;
		}

		.course-progress {
			display: block;
			float: left;
			margin: -5px 10px 0 -5px;
			width: 25px;
			height: 25px;
			background: url(../../2.0/asset/img/loader.gif) no-repeat center center;

			&.success, &.error {
				position: relative;
				background: none;
				&:before {
					content: '\f147';
					font-family: Dashicons;
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					text-align: center;
					font-size: 24px;
					line-height: 24px;
					color: green;
				}
			}
			&.error:before {
				content: '\f335';
				color: red;
			}
		}
	}
}