.course-structure-block,{
	.tree {
		margin: 0;
		list-style: none;
		ul {
			margin: 0 0 0 25px;
			list-style: none;
		}
	}
	.unit {
		display: block;
		clear: both;
		.fold {
			display: inline-block;
			width: 25px;
			float: left;
			height: 25px;
			margin-right: 15px;
			cursor: pointer;
			&:before {
				content: '\f140';
				font-family: Dashicons;
				font-size: 20px;
				line-height: 1.2;
			}
			&.folded:before {
				content: '\f139';
			}
		}
	}
}
.course-wrapper {
	.tree {
		@include nolist;
		ul,ol {
			@include nolist;
			a {
				@include reset_a;
			}
		}
	}

	.enroll-box {
		display: block;
		margin: 15px 0;
		border: 0;
		padding: 20px 0;

		&:after {
			display: block;
			content: '';
			clear: both;
		}
		strong {
			background-color: transparent;
			text-shadow: none;
			color: inherit;
			font-size: 100%;
			font-weight: inherit;
			min-width: 160px;
		}
		.course-completed-button {
			position: relative;
			padding-left: 35px !important;
			&:before {
				content: '\f147';
				position: absolute;
				left: 0;
				font-family: Dashicons;
				font-size: 1.7em;
				line-height: 115%;
			}
		}
	}
	.enroll-box-left {
		float: left;
	}
	.enroll-box-right {
		float: right;
		padding-top: 5px;
	}
	.course-structure-block {
		.unit-page-module-wrapper,
		.unit-page-title-wrapper,
		.unit-title-wrapper {
			@include appearance( inherit );
			border: 0;
			border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
			margin: 0;
			overflow: hidden;
			padding: 2px 0;
			position: relative;
			width: 100%;
		}
	}
	.unit-title-wrapper {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		padding: 10px 0 0 0;
		width: auto;
		&:first-child {
			padding: 0;
		}
	}
	.module-title,
	.page-title,
	.unit-title {
		float: left;
		a {
			@include reset_a;
		}
	}
	.module-title {
		padding-left: 20px;
		a {
			padding-left: 20px;
			text-decoration: none;
			border: none;
		}
	}
	.unit-title {
		font-weight: bold;
		clear: both;
	}
	.unit-page-title {
		padding-left: 20px;
	}
	.enrolled {
		.module-title,
		.page-title,
		.unit-title {
			width: 100%;
			float: none;
			a {
				display: block;
				width: 100%;
			}
		}
		.module-title {
			padding-left: 20px;
		}
	}
	.unit-module-preview-link,
	.unit-page-link,
	.unit-link {
		float: right;
		margin-right: 50px;
	}
	.unit-page-estimate {
		position: absolute;
		top: 2px;
		right: 0;
	}
	.unit-page-estimate {
		position: absolute;
		top: 2px;
		right: 0;
	}
	.course-description {
		margin: 15px 0;
		padding: 15px 0;
	}
	.course-structure-block li {
		clear: both;
	}
	.instructor-block {
		display: block;
		margin: 15px 0;
		border: 1px solid rgba(0, 0, 0, 0.04);
		border-width: 1px 0;
		padding: 15px 0;
		.instructor-profile {
			border: 1px solid rgba(0, 0, 0, 0.04);
			display: inline-block;
			text-align: center;
			padding: 10px;
			background-color: #FFF;
			.avatar {
				margin-bottom: 5px;
			}
		}
	}
}
.coursepress-course-share {
	display: block;
	margin: 15px 0;
	border: 1px solid rgba(0, 0, 0, 0.04);
	border-width: 1px 0;
	padding: 8px 0;

	a, a[href] {
		@include reset_a;
		margin: 0 5px;
		display: inline-block;
		vertical-align: middle;
		span {
			font-size: 130%;
		}
	}
}
