.course_list_box_item {
	margin: 10px 0 25px 0;
	position: relative;
	transform-style: preserve-3d;
	overflow: hidden;
	clear: both;
	border: 1px solid rgba(0, 0, 0, 0.04);
	background-color: #FFF;
	padding: 15px;

	* {
		box-sizing: border-box;
	}
	.course-title {
		margin-top: 0;
		padding: 0;
	}
	.course-summary p:last-child {
		margin-bottom: 0;
	}
	.course-information {
		padding: 0 0 0 25px;
		border: 0;
		vertical-align: top;
		width: 100%;
		display: block;
	}
	.instructor-list {
		display: block;
		margin: 15px 0;
		border: 1px solid rgba(0, 0, 0, 0.04);
		border-width: 1px 0;
		padding: 8px 0;
	}
	&.has-thumbnail {
		.course-thumbnail {
			padding-bottom: 10px;
			figure {
				padding: 0;
				margin: 0;
			}
			img {
				border: 1px solid rgba(0, 0, 0, 0.04);
				padding: 8px;
				background-color: #f2f2f2;
			}
		}
	}
	.apply-button-details {
		display: none;
	}
	.course-meta-information {
		&:after {
			content: '';
			display: block;
			clear: both;
		}
		.course-language,
		.course-start-date,
		.course-category,
		.course-cost {
			float: left;
			margin-right: 20px;
			&:before {
				font-family: fontawesome;
				display: inline-block;
				margin-right: 5px;
			}
		}
		.course-start-date:before {
			content: '\f017';
		}
		.course-language:before {
			content: '\f0ac';
		}
		.course-cost:before {
			content: '\f0d6';
		}
	}
	.coursepress-course-link {
		@include button;
		float: right;
	}
	.clickable {
		cursor: pointer;

		.clickable-label {
			display: none;
			font-size: 1em;
			margin: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&:hover {
			.course-information {
				*:not([class*="clickable-label"]) {
					filter: blur(2px);
				}
			}
			.clickable-label {
				display: block;
				font-weight: bold;
				color: #ffffff;
				z-index: 2;
				&:after {
					font-family: fontawesome;
					display: inline-block;
					margin-left: 5px;
					content: '\f090';
				}
			}
			&:before {
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				background: rgba(0, 0, 0, 0.7);
				content: '';
				z-index: 1;
			}
		}
	}
}
