.course-wrapper {
	.tree {
		@include nolist;
		ul,ol {
			@include nolist;
			a {
				@include reset_a;
			}
		}
	}

	.enroll-box {
		overflow: hidden;
		border-top: 1px solid rgba(0, 0, 0, 0.2);
		position: relative;
		&:after {
			display: block;
			content: '';
			clear: both;
		}
	}
	.enroll-box-left {
		float: left;
	}
	.enroll-box-right {
		float: right;
		padding-top: 5px;
	}
	.unit-page-module-wrapper,
	.unit-page-title-wrapper,
	.unit-title-wrapper {
		width: 100%;
		overflow: hidden;
		border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
		padding: 2px 0;
		position: relative;
	}
	.unit-title-wrapper {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		padding: 10px 0 0 0;
		&:first-child {
			padding: 0;
		}
	}
	.module-title,
	.page-title,
	.unit-title {
		float: left;
		a {
			@include reset_a;
		}
	}
	.module-title {
		padding-left: 20px;
		a {
			padding-left: 20px;
			text-decoration: none;
			border: none;
		}
	}
	.unit-title {
		font-weight: bold;
		clear: both;
	}
	.unit-page-title {
		padding-left: 20px;
	}
	.enrolled {
		.module-title,
		.page-title,
		.unit-title {
			width: 100%;
			float: none;
			a {
				display: block;
				width: 100%;
			}
		}
		.module-title {
			padding-left: 20px;
		}
	}
	.unit-module-preview-link,
	.unit-page-link,
	.unit-link {
		float: right;
		margin-right: 50px;
	}
	.unit-page-estimate {
		position: absolute;
		top: 2px;
		right: 0;
	}
}