.bbm-modal {
	label {
		span {
			display: block;
			padding-bottom: 5px;
		}
		&.weak-password-confirm {
			display: none;
		}
	}
}

.signup-form .password-strength-meter {
    float: right;

	&.bad {
		color: red;
	}

	&.good {
		color: orange;
	}

	&.strong {
		color: green;
	}
}