.bbm-modal {
	label {
		span {
			display: block;
			padding-bottom: 5px;
		}
		&.weak-password-confirm {
			display: none;
		}
	}
}

.password-strength-meter-container {
    float: right;
	display: inline-block;
	margin-bottom: 0;

	.password-strength-meter {
		&.bad {
			color: red;
		}

		&.good {
			color: orange;
		}

		&.strong {
			color: green;
		}
	}
}