@mixin reset_a {
	text-decoration: none;
	outline: 0;
	border: 0;
	box-shadow: none;
}
@mixin nolist {
	margin: 0;
	padding: 0;
	list-style: none;
}
@mixin locked {
	position: relative;
	&:before {
		content: "\f160";
		font-family: Dashicons;
		float: right;
		font-size: 1.2em;
		line-height: 1.4em;
	}
}
.cp {
	.hide {
		display: none;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.cp-download {
		text-decoration: none;
	}
	.button {
		padding: 5px 12px;
		text-decoration: none;
		text-decoration-style: none;
		border: 1px solid rgba(0, 0, 0, 0.02);
		cursor: pointer;

		&:hover {
			text-decoration: none;
		}
		a {
			text-decoration: none;
			border: 0;
			color: inherit;
		}
	}
	.cp-error-box {
		display: block;
		padding: 15px 15px 0 15px;
		border: 1px solid rgba(0, 0, 0, 0.05);

		p {
			margin-top: 0;
		}
		.cp-closed {
			text-decoration: none;
			float: right;
			width: 25px;
			text-align: center;
			cursor: pointer;
		}
	}
}
.cp-mask {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.04);
}
.cp-submenu {
	margin: 0 0 25px 0;
	display: block;

	.submenu {
		list-style: outside none none;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		overflow: hidden;
		margin: 0;
		padding: 0 0 5px 0;
	}
	.submenu-item {
		display: table-cell;
		margin: 0 5px 0 0;
		padding: 0;

		a {
			padding: 4px 12px;
			@include reset_a;
		}
	}
}
.course_list_box_item {
	margin: 10px 10px 0 0;
	position: relative;
	transform-style: preserve-3d;
	overflow: hidden;
	clear: both;
	* {
		box-sizing: border-box;
	}
	.course-title {
		margin: 0;
		padding: 0;
	}
	.course-summary p:last-child {
		margin-bottom: 0;
	}
	.course-information {
		padding: 0 10px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-left: 5px solid rgba(0, 0, 0, 0.2);
	}
	&.has-thumbnail {
		.course-thumbnail {
			width: 40%;
			float: left;
			padding-right: 2px;
			position: absolute;
			top: 0;
			bottom: 0;
		}
		.course-information {
			width: 60%;
			float: right;
		}
	}
	button {
		position: absolute;
		bottom: 5px;
		right: 5px;
		float: right;
	}
	.course-meta-information {
		.course-language,
		.course-start-date,
		.course-category,
		.course-cost {
			&:before {
				font-family: fontawesome;
				display: inline-block;
				margin-right: 5px;
			}
		}
		.course-start-date:before {
			content: '\f017';
		}
		.course-language:before {
			content: '\f0ac';
		}
		.course-cost:before {
			content: '\f0d6';
		}
	}
	.clickable {
		cursor: pointer;

		.clickable-label {
			display: none;
			font-size: 1em;
			margin: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&:hover {
			.course-information {
				*:not([class*="clickable-label"]) {
					filter: blur(2px);
				}
			}
			.clickable-label {
				display: block;
				font-weight: bold;
				color: #ffffff;
				z-index: 2;
				&:after {
					font-family: fontawesome;
					display: inline-block;
					margin-left: 5px;
					content: '\f090';
				}
			}
			&:before {
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				background: rgba(0, 0, 0, 0.7);
				content: '';
				z-index: 1;
			}
		}
	}
}
