@media screen and (min-width: 768px) {
	.enrolment-container-div {
		.bbm-modal {
			margin: 0 auto;
		}
	}
}

@media screen and (max-height: 800px) {
	body {
		.enrolment-container-div {
			padding: 1em;
			.bbm-wrapper {
				position: static;
				.bbm-modal {
					max-height: initial;
				}
			}
			&.cp-mask {
				position: fixed;
				padding: 5em;
			}
		}
	}
}

@media screen and (min-height: 801px) {
	.cp-mask {
		position: fixed;
	}
}

