@media screen and (max-height: 800px) {
	body .enrolment-container-div .bbm-wrapper {
		top: 50px;
	}
}
@media screen and (max-height: 700px) {
	body .enrolment-container-div .bbm-wrapper {
		top: 10px;
	}
}
@media screen and (min-width: 568px) {
    .enrolment-container-div {
        .bbm-modal {
            margin: 0 auto;
        }
    }
}

@media screen and (max-height: 600px) {
    body {
        .enrolment-container-div {
            padding: 1em;
            .bbm-wrapper {
                position: static;
                border-radius: 0;
                .bbm-modal {
                    max-height: initial;
                    width: auto;
                }
            }
            &.cp-mask {
                position: static;
                padding: 0;
                width: auto;
                height: auto;
                border-top: 4px solid #5dd5fb;
            }
        }
    }
}

@media screen and (min-height: 601px) {
    .cp-mask {
        position: fixed;
    }
}

