@mixin reset_a {
	text-decoration: none;
	outline: 0;
	border: 0;
	box-shadow: none;
}
@mixin nolist {
	margin: 0;
	padding: 0;
	list-style: none;
}
@mixin locked {
	position: relative;
	&:before {
		content: "\f160";
		font-family: Dashicons;
		float: right;
		font-size: 1.2em;
		line-height: 1.4em;
	}
}
@mixin button {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 5px 12px;
	text-decoration: none;
	text-decoration-style: none;
	border: 1px solid $border_color;
	background-color: $button_bg;
	cursor: pointer;
	color: inherit;
	line-height: 1.2;
	font-weight: 400;
	box-shadow: none;

	&:hover {
		text-decoration: none;
		box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 3px 0 rgba(0, 0, 0, 1);
	}
	a {
		text-decoration: none;
		border: 0;
		color: inherit;
	}
}

@mixin appearance ($value) {
	-webkit-appearance: $value;
	-moz-appearance: $value;
	appearance: $value;
}

/** Color Scheme **/
$color1: #999;
$color2: rgba(255, 0, 0, 0.5);
$border_color: rgba(0, 0, 0, 0.3);
$button_bg: #F4F4F4;
$warning_bg: rgba(255, 0, 0, 0.05);
$warning_border: 1px solid rgba(255, 0, 0, 0.09);
