.cp {
	.cp-module-content {
		position: relative;
		display: block;
		margin: 15px auto 25px auto;
		max-width: 1024px;
		clear: both;
		border: 1px solid transparent;
		font-size: 110%;
		padding: 0;
		border-radius: 5px;
		box-sizing: border-box;

		* {
			box-sizing: border-box;
		}

		.comment-reply-title {
			margin: 0;
			padding-bottom: 15px;
		}
		.comment-notification {
			display: inline-block;
			margin: 0;
			float: left;
		}
		.comment-form {
			margin: 0;
			padding: 0 0 15px 0;
		}
		.comment-list {
			margin: 25px 0;
		}
		.comment-respond {
			border: 1px solid rgba(0, 0, 0, 0.16);
			padding: 15px 25px;
			background-color: rgba(255, 255, 255, 0.56);

			.form-submit {
				margin: 0 0 15px 0;
				text-align: right;
				#submit {
					margin: 0;
					width: auto;
				}
			}
		}
	}
	.module-header {
		border: 0;
		margin: 0 0 25px 0;
		padding: 0;
		@include appearance( inherit );
		.modul-title {
			margin: 0;
		}
		.is-mandatory {
			font-weight: normal;
			float: right;
			font-size: 0.8em;
			text-transform: uppercase;
			color: $color2;
			&:before {
				content: '*';
				display: inline-block;
				vertical-align: middle;
				padding: 2px 4px;
			}
		}
		h4 {
			.is-mandatory {
				font-size: 0.7em;
			}
		}
	}
	.quiz_timer {
		position: absolute;
		top: 15px;
		right: 20px;
		font-weight: 600;
	}
	.quiz_timer_info {
		position: absolute;
		top: 35px;
		right: 20px;
		padding: 5px 0;
		color: red;
		text-transform: uppercase;
		font-size: 11px;
		display: none;
		text-align: right;
		line-height: 14px;
		.button-reload-module {
			font-size: 13px;
			margin: 0;
		}
	}
	.module-content {
		max-width: 100%;
		* {
			max-width: 100%;
		}
	}
	.module-elements {
		margin: 15px 0;
		select,
		input[type="text"],
		textarea {
			display: block;
			width: 100%;
			max-width: 100%;
			option {
				padding: 4px 12px;
			}
		}
		input {
			&[type="checkbox"],
			&[type="radio"] {
				margin-top: .3em;
			}
		}
		input[type="text"],
		textarea {
			padding: 12px 15px;
			height: auto;
		}
		li {
			input,
			label {
				display: inline-block;
				vertical-align: middle;
				margin: 0 5px 0 0;
			}
		}
		.file {
			position: relative;
			display: inline-block;
			max-width: 100%;
			.button {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				&:after {
					content: '\f317';
					font-family: Dashicons;
					float: right;
					font-size: 1.4em;
					line-height: 1;
				}
			}
		}
		.current-file {
			display: block;
			margin-top: 25px;
			border: 1px solid $border_color;
			padding: 5px 10px;
		}
		.comment-list {
			list-style: none;
			.avatar {
				float: left;
				margin-right: 15px;
			}
			.comment-meta {
				clear: right;
				font-size: 14px;
				clear: right;
				margin-bottom: 15px;
			}
			.reply {
				clear: both;
				text-align: right;
			}
			.comment-body {
				clear: both;
				margin: 15px 0;
				border: 1px solid rgba(0, 0, 0, 0.16);
				padding: 15px 25px;
				background-color: rgba(255, 255, 255, 0.56);
			}
			li {
				list-style: none;
				li {
					margin-left: 25px;
				}
			}
		}
		&.module-type-video {
			.video_player {
				overflow: hidden;
			}
		}
	}
	.cp-try-again {
		margin-top: 15px;
	}
	.module-quiz-question {
		.question {
			font-size: 110%;
			font-weight: 600;
			margin: 25px 0 15px 0;
		}
	}
	.module-response {
		margin-bottom: 20px;

		.cp-student-status {
			display: block;
			text-align: right;

			.cp-status {
				padding: 4px 12px;
				text-transform: uppercase;
				border: 5px double rgba(0, 0, 0, 0.1);
				background-color: #FFF;
				border-radius: 10px;
				font-size: 80%;

				&.status-pass {
				}
				&.status-fail {
				}
			}
		}
		.cp-answers {
			.chosen-answer {
				display: inline-block;
				vertical-align: middle;
				width: 30px;

				&:before {
					content: "\f335";
					font-family: Dashicons;
					text-align: center;
				}
				&.correct:before {
					content: "\f147";
				}
			}
		}
		.quiz-results,
		.form-results {
			table {
				text-align: left;
				border: 0;
			}
			td, th {
				padding: 5px 15px;
				border: 1px solid rgba(0, 0, 0, 0.04);
			}
			td {
				text-align: right;
			}
			tr:nth-child(even) {
				background-color: rgba(0, 0, 0, 0.04);
			}
		}
	}
	.invalid-extension {
		margin: 25px 0 0 0;
		font-style: italic;
		font-size: 14px;
		padding: 5px 12px;
		clear: both;
		background-color: $warning_bg;
		border: $warning_border;
	}
	.cp-sub {
		margin: 15px 0;
		p {
			margin: 0;
			font-style: italic;
			font-size: 14px;
			opacity: 0.8;
		}
	}
	.unit-pager {
		display: block;
		clear: both;
		padding: 0;
		text-align: left;
		.save-progress-and-exit-container {
			padding-bottom: 1em;
			.save-progress-and-exit {
				font-size: .9em;
				opacity: .8;
				box-shadow: none;
			}
		}
	}
	.prev-button,
	.next-button {
		display: inline-block;
		cursor: pointer;
		margin-top: 10px;
		padding: 8px 25px;
		font-size: 120%;
		a {
			@include reset_a;
			color: inherit;
		}
	}
	.next-button {
		float: right;
	}
	.button {
		@include button;
	}
}
.coursepress-focus-view {
	.coursepress-breadcrumbs {
		border-bottom: 3px solid rgba(0, 0, 0, 0.2);
		margin-bottom: 10px;
		font-size: 0.9em;
		a.crumb {
			@include reset_a;
		}
	}
	.breadcrumb-milestone {
		display: inline-block;
		&:after {
			font-family: dashicons;
			content: "\f139";
			vertical-align: bottom;
			position: relative;
			top: 1px;
		}
	}
	.focus-nav {
		clear: both;
		display: block;
	}
	.focus-nav-prev,
	.focus-nav-next {
		display: inline-block;
		cursor: pointer;
		margin-top: 10px;
		@include button;
		a {
			@include reset_a;
			color: inherit;
		}
	}
	.focus-nav-next {
		float: right;
	}
	.loader {
		width: 100%;
		text-align: center;
		padding: 20px;
		display: block;
		.fa {
			margin: 0 auto;
			font-size: 2em;
		}
		&.hidden {
			display: none;
		}
	}
}
