.instructors-content {
	margin: 15px 0;
	display: block;
}
.units-archive-list {
	clear: both;
	list-style: none;

	.fa-lock {
		display: none;
	}
	li {
		position: relative;
		clear: both;
		list-style: none;
		display: block;

		a, a[href] {
			text-decoration: none;
			outline: 0;
			border: 0;
			box-shadow: none;
		}
		&:before {
			content: ' ';
			font-family: Dashicons;
			font-size: 1.2em;
			line-height: 1.4em;
			float: left;
			display: block;
			width: 30px;
			text-align: center;
		}
	}
	.fold {
			display: inline-block;
			width: 25px;
			float: left;
			height: 25px;
			margin-right: 15px;
			cursor: pointer;
			&:before {
				content: '\f140';
				font-family: Dashicons;
				font-size: 20px;
				line-height: 1.2;
			}
			&.folded:before {
				content: '\f139';
			}
	}
	.unit-archive-single {
		ul, ol {
			margin: 0;
			padding: 0;
		}
		.unit-archive-single-title {
			display: block;
		}
		.unit-archive-module-wrapper {
			display: block;
			clear: both;
		}
		.section-title {
			padding-left: 45px;
		}
		.module-title {
			padding-left: 60px;
		}
	}
	.course-progress-disc-container {
		position: relative;
		float: right;
		margin-bottom: -25px;
		a {
			opacity: 1;
			filter: alpha(opacity=100);
			margin: 0;
			top: 0;
			left: 0;
		}
	}
	.course-preview-container {
		float: right;
		font-size: 0.8em;
		font-style: italic;
	}
	.unit-archive-single-module-status {
		font-size: 0.7em;
		font-style: italic;
		opacity: 0.5;
	}
	.li-locked-unit {
		img {
			display: none;
		}
		&:after {
			content: attr(data-title);
			position: absolute;
			right: 0;
			padding: 5px 15px;
			font-size: 14px;
			background-color: rgba(0, 0, 0, 0.06);
			color: #111;
			display: none;
		}
		&:hover:after {
			display: block;
		}
		.unit-archive-single {
			@include locked;
		}
		.unit-archive-single-title .unit-delay-date {
			float: right;
		}
		.course-progress-disc-container {
			display: none;
		}
	}
	.module-required {
		position: relative;
		&:after {
			content: '\f227';
			font-family: Dashicons;
			float: right;
			font-size: 1.2em;
			line-height: 1.4em;
			color: red;
		}
		&.module-completed:after {
			display: none;
		}
	}
	.module-locked {
		.module-title {
			@include locked;
		}
	}
}
