.instructors-content {
	margin: 15px 0;
	display: block;
}
.units-archive-list {
	clear: both;
	list-style: none;

	li {
		position: relative;
		clear: both;
		list-style: none;
		display: block;

		a, a[href] {
			text-decoration: none;
			outline: 0;
			border: 0;
			box-shadow: none;
		}
		&:before {
			content: ' ';
			font-family: Dashicons;
			font-size: 1.2em;
			line-height: 1.4em;
			float: left;
			display: block;
			width: 30px;
			text-align: center;
		}
	}
	.unfolded {
		&:before {
			content: "\f140";
		}
	}
	.folded {
		&:before {
			content: "\f139";
		}
	}
	.unit-archive-single {
		ul, ol {
			margin: 0;
			padding: 0;
		}
		.unit-archive-single-title {
			display: block;
		}
		.unit-archive-module-wrapper {
			display: block;
			clear: both;
		}
		.section-title {
			padding-left: 45px;
		}
		.module-title {
			padding-left: 60px;
		}
	}
	.course-progress-disc-container {
		float: right;
		margin-bottom: -25px;
	}
	.course-preview-container {
		float: right;
		font-size: 0.8em;
		font-style: italic;
	}
	.unit-archive-single-module-status {
		font-size: 0.7em;
		font-style: italic;
		opacity: 0.5;
	}
	.li-locked-unit {
		.unit-archive-single-title {
			@include locked;
		}
		.course-progress-disc-container {
			display: none;
		}
	}
	.module-locked {
		.module-title {
			@include locked;
		}
	}
}
