.cp-student-workbook {
	.course-completion-progress {
		small {
			float: right;
			font-size: 1.6em;
		}
	}

	.workbook-table {
		margin: 15px 0;
		border: 1px solid rgba(0, 0, 0, 0.04);

		th, td {
			vertical-align: top;
			text-align: left;
			background-color: transparent;
			padding: 8px 15px;
		}
		.row-unit th {
			border: 1px solid rgba(0, 0, 0, 0.04);
			border-width: 1px 0;
			padding: 8px 15px;
			background-color: #FFF;
			&.td-right {
				width: 20%;
			}
		}
		.td-right {
			text-align: right;
		}
		.non-gradable {
			&:before {
				content: '\f534';
				font-family: Dashicons;
				font-size: 120%;
				margin-right: 10px;
				line-height: 16px;
				vertical-align: middle;
			}
		}
		.button {
			@include button;
			&.button-download:after {
				content: '\f316';
				font-family: Dashicons;
				margin-left: 25px;
			}
		}
		.column-title {
			width: 25%;
		}
		.question {
			font-size: 110%;
			font-weight: 600;
		}
		.answer {
			padding-left: 25px;
			&:before {
				content: '\f335';
				font-family: Dashicons;
				font-size: 130%;
				width: 25px;
				display: inline-block;
				vertical-align: middle;
				margin-left: -25px;
			}
			&.chosen-correct:before {
				content: '\f147';
			}
		}
	}
}