.cp-icon {
  display: inline-block;
  border: 1px solid #dadada;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
  background-color: #ededed;

  &.cp-icon-md {
    font-size: 1.4em;
    height: 35px;
    width: 40px;
    line-height: 35px;
  }
}