.wpmu-footer-text {
  position: relative;
  display: block;
  margin: 50px 0;
  text-align: center;
  font-size: 15px;
  color: #a9a9a9;
  @include clearfix;

  a {
    text-decoration: none;
    color: #a9a9a9;
  }
}
.select2-dropdown {
  border: 1px solid $color_1;
  padding: 8px 15px;
}
.select2-search__field {
  padding: 8px 15px !important;
  margin-bottom: 10px;
  @include radius(4px);
}

.coursepress-wrap {
  font-size: 14.5px;

  @include boxsizing;
  @include clearfix;

  * {
    @include boxsizing;
  }

  .select2-container {
    width: 100%;

    .select2-selection {
      height: 38px;
      padding: 5px;
      background-color: $color_2;
      border: 1px solid $color_1;
    }
    .select2-selection__arrow {
      height: 38px;
    }
  }

  .active {
    display: block;
    opacity: 1;
    @include transition(opacity 0.4s);
  }
  .inactive {
    display: none;
    opacity: 0;
    @include transition(opacity 0.4s);
  }
  .cp-count {
    display: inline-block;
    padding: 0 6px;
    @include radius(50%);
    font-size: 11px;
    background-color: #ffffff;
    float: right;
    margin: 0 0 0 5px;
  }
  .cp-pad-right {
    padding-right: 15px;
  }
  .cp-pad-left {
    padding-left: 15px;
  }
  .course-title-tag {
    display: block;
    font-size: 11px;
    color: #838383;
    text-transform: uppercase;
  }
  .wp-heading-inline {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    margin-bottom: 25px;
  }
  .label {
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
  }
  .description {
    font-style: normal;
  }
  input[type="text"],
  input[type="number"],
  textarea {
    display: block;
    width: 100%;
    line-height: 2;
    padding: 4px 12px;
    margin: 0;
    outline: 0;
    border: 1px solid $color_1;
    background-color: $color_2;
    @include radius(4px);
    @include boxshadow(none);

    &:focus {
      border-color: $color_3;
    }
  }
  input[type="number"] {
    display: inline-block;
    width: 70px;
    padding-right: 0;
  }
  textarea {
    resize: none;
  }
  select {
    width: 100%;
  }
  [type="text"].cp-input-auto {
    width: auto;
    display: inline-block;
  }
  a:active,
  a:focus {
    @include boxshadow(none);
    outline: 0;
  }
  .cp-box {
    margin-bottom: 25px;
    @include clearfix;

    .label {
      font-size: 0.856em;
    }
  }
  .cp-toggle-box {
    margin: 15px 0;

    .description {
      margin-left: 50px;
    }
  }
  .cp-right {
    float: right;
  }
  .cp-sep {
    &:after {
      content: '';
      display: block;
      clear: both;
      float: left;
      width: 100%;
      margin: 25px 0;
      border: 1px solid $color_1;
      border-bottom-color: $color_2;
    }
  }
  .cp-flex {
    display: flex;
    @include clearfix;

    input,
    button {
      margin: 0;
    }
    .cp-div-flex {
      flex: 1;
    }
    &.cp-flex-2 {
      .cp-div-left,
      .cp-div-right {
        flex: auto;
      }
      .cp-div-left {
        flex: 100;
      }
      .cp-div-right {
        padding-left: 25px;
      }
    }
  }

  @media screen {
    @media (min-width: 760px) {

    }
  }
}