.coursepress-wrap {
  .coursepress-table {
    margin-bottom: 25px;

    @include radius(4px);

    th, td {
      padding: 15px 10px;
      font-size: 15px;

      &:first-of-type {
        padding-left: 25px;
      }
      &:last-of-type {
        padding-right: 25px;
      }
      display: none;
    }
    td {
      text-align: center;
    }
    thead th {
      font-size: 16px;
    }

    .column-title {
      font-size: 1em;
      font-weight: 400;
      display: table-cell;
      text-align: left;
    }
    .column-status {
      width: 8%;
      text-align: right;
    }
    .column-units,
    .column-students,
    .column-certified {
      width: 5%;
    }
    .odd {
      th, td {
        background-color: rgb(249, 249, 249);
      }
    }
    .column-actions {
      td {
        display: table-cell;
        text-align: left;
        padding-top: 0;
        padding-bottom: 0;
        font-size: 14px;

        &:before {
          content: '';
          display: block;
          @include bordered;
          margin-bottom: 12px;
        }
        &:after {
          content: '';
          display: block;
          @include bordered;
          margin: 10px -20px 0 -20px;
        }
      }
      &:last-of-type {
        td:after {
          border: 0;
        }
      }
    }

    @media screen {
      @media (min-width: 800px) {
        th, td {
          display: table-cell;
          &.hidden {
            display: none;
          }
        }
      }
    }
  }
}