#course-edit-template {
  .cp-slug {
    font-weight: 700;
  }
  .course-footer {
    .step-back {
      float: left;
    }
  }
  .icon-move {
    &:before {
      @include icon('\f00a');
      padding: 0 10px 0 8px;
      color: $grey_4;
    }
  }
  .cp-select-list {
    .icon-move {
      padding-left: 0;
    }
  }
}

.cp-admin-pagination {
  .tablenav-pages-navspan,
  .prev-page,
  .next-page {
    box-sizing: content-box;
  }
}
