#course-edit-template {
  .cp-course-video {
    .cp-div-flex {
      padding-right: 15px;
    }
  }
  .cp-course-categories {
    .cp-div-flex-2 {
      padding-right: 0;
    }
    .cp-div-flex {
      text-align: right;
    }
  }
  #cp-instructors-box,
  #cp-facilitators-box {
    position: relative;
    min-height: 130px;
    border: 2px solid $grey_5;
    background-color: $grey_6;
    @include radius(6px);
    margin-bottom: 5px;
    text-align: center;

    .description {
      position: absolute;
      top: 40%;
      width: 100%;
    }

    ul.cp-instructors-list {
      margin: 5px 3px;

      li {
        float: left;
        width: auto;
        padding: 5px 8px;
        margin: 0 2px;
        border-radius: 6px;
        background: $grey_4;
        color: $white;
        &:after {
          @include icon('\f00d');
          margin-left: 5px;
          cursor: pointer;
        }
      }
    }
  }
  .cp-users-box {
    @include clearfix;
    margin-bottom: 25px;

    .cp-bordered-btn {
      float: right;
      text-transform: uppercase;
    }
  }

}
.coursepress-modal {
  font-size: 100%;

  .cp-content-nopad {
    padding: 0;
  }

  .cp-div-grey {
    background-color: $grey_12;
  }

  .cp-div-flex {
    padding: 20px 33px 50px;
  }

  [type="text"],
  select {
    margin: 6px 0px;
    display: block;
    background-color: $grey_9;
    line-height: 1.5;
    width: 100%;
  }

  .label {
    display: block;
    margin-bottom: 5px;
  }
}