.coursepress-wrap {
  .coursepress-page-transparent {
    background-color: transparent;
    border: 0;
  }
}
#course-students {
  background-color: transparent;
  padding: 0;

  .coursepress-table {
    margin-top: 0;
  }

  .column-student {
    width: 70%;
  }
  .noitems {
      text-align: center;
      padding: 4em 0;
      color: $grey_1;
      p {
         font-size: 1.2em;
         margin: 5px 0;
     }
  }
}

#student-invites {
  .cp-box {
    margin-bottom: 15px;

    .label {
      margin-bottom: 5px;
      display: block;
    }
  }
  .send-invite {
    .fa {
      display: none;
    }
    &.active {
      .fa {
        display: inline-block;
      }
    }
  }
}

#invited-students {
  .invitee-active td {
    background-color: rgba(0, 255, 0, 0.02);
  }
}

.cp-invitee-container {
  display: block;
  margin: 25px 0;
}

@media screen {
  @media (min-width: 1024px) {
    #student-invites {
      width: 40%;
      padding-right: 25px;
    }
    #invited-students {
      width: 60%;
    }
  }
}
