.coursepress-wrap {
  .coursepress-page-transparent {
    background-color: transparent;
    border: 0;
  }
}
#course-students {
  background-color: transparent;
  padding: 0;

  .coursepress-table {
    margin-top: 0;
  }

  .column-student {
    width: 70%;
  }
}