.course-breadcrumb {
    display: block;
    padding: 0;
    list-style: none;
    @include width0;
    @include clearfix;
    @include font( 12, 15, 600 );
    @media screen and (max-width: $width_3) {
        padding: 0 15px;
    }
    @media screen and (max-width: $width_8) {
        display: none;
    }
    li {
        display: inline;
        margin-bottom: 10px;
        &:before {
            @include icon( "\f105" );
            padding: 0 .5em;
        }
        &:first-of-type{
            &:before {
                display: none;
            }
        }
        &.current {
            font-weight: 400;
        }
    }
    a {
        color: $dark_3;
    }
}
