.course-breadcrumb {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  @include clearfix;

  li {
    display: inline-block;
    border-bottom: 3px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    font-size: 0.9em;

    &:before {
      content: '\f139';
      font-family: 'Dashicons';
      display: inline-block;
      vertical-align: top;
    }

    &:first-of-type:before {
      content: '\f102';
    }
  }
}
