.course-breadcrumb {
    display: block;
    padding: 0;
    list-style: none;
    @include width0;
    @include clearfix;
    @media screen and (max-width: $width_3) {
        padding: 0 15px;
    }
    li {
        display: inline;
        margin-bottom: 10px;
        font-size: 0.9em;
        &:before {
            @include icon( "\f105" );
            padding: 0 .5em;
            font-weight: bold;
        }
        &:first-of-type{
            &:before {
                display: none;
            }
        }
        &.course-item {
            font-weight: 600;
        }
    }
    a {
        color: $dark_3;
    }
}
