.course-structure {
    display: block;
    margin: 25px 0;
    @include clearfix;

    .tree {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    @mixin preview {
            background-color: #ffffff;
            border: 1.5px solid $grey_3;
            display: inline-block;
            float: right;
            font-size: 11px;
            @include radius(3px);
            @include transition(opacity 0.4s);
            opacity: 0.3;
            padding: 4px 12px;
            text-transform: uppercase;
            &:hover {
                opacity: 1;
                @include transition(opacity 0.4s);
            }
    }

    .unit-tree {
        .preview {
            @include preview();
        }

        .fold {
          display: inline-block;
          width: 25px;
          float: left;
          height: 25px;
          margin-right: 15px;
          cursor: pointer;

          &:before {
            content: '\f140';
            font-family: Dashicons;
            font-size: 20px;
            line-height: 1.2;
          }

          &.folded:before {
            content: '\f139';
          }
        }

        .timer {
            float: right;
            font-size: 10px;
            line-height: 14px;
            display: inline-block;
            vertical-align: middle;
            padding: 5px;

            &:before {
                content: '\f469';
                font-family: 'Dashicons';
                display: inline-block;
                vertical-align: middle;
                font-size: 14px;
                margin: 0 5px;
            }
        }
        .unit-title, .module-title, .course-step {
          border: 0;
          border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
        }
        .unit-title {
            display: block;
            padding: 5px 0 5px 15px;
            color: $grey_1;
            @include clearfix;

            a {
                color: $dark_1;
                font-weight: 600;
                box-shadow: none;
            }

            .unit-feature-image {
                float: left;
                margin-right: 15px;
            }
        }

        .has-progress {
            position: relative;

            .unit-progress {
                position: absolute;
                top: 0;
                right: 0;
                height: 36px;
                width: 36px;

                span {
                    position: absolute;
                    font-size: 7px;
                    text-align: center;
                    height: 36px;
                    width: 36px;
                    line-height: 36px;
                    left: 0;
                }
            }
        }
    }

    .module-tree {
        .module-title {
            display: block;
            font-size: 96%;
            padding: 5px 0 5px 30px;
            a {
              box-shadow: none;
            }
            &:hover {
                .preview {
                    opacity: 1;
                    @include transition(opacity 0.4s);
                }
            }
            .preview {
                @include preview();
            }
        }
        .module {
            &.has-preview {
                .module-title {
                    &:after {
                        clear: both;
                        content: ' ';
                        display: block;
                        height: 1px;
                    }
                }
            }
        }
    }

    .step-tree {
        .course-step {
            display: block;
            font-size: 94%;
            padding: 5px 0 5px 50px;
            a {
              box-shadow: none;
            }
        }
    }

    &.course-structure-nav {
        margin: 0;

        .module-tree {
            border: 1px solid $grey_5;
        }

        .module-title {
            padding: 5px 10px;
            font-size: 14px;
            background-color: $grey_5;
        }

        .course-step {
            padding: 5px 12px;
            background-color: $grey_6;
        }
        .course-current-step {
            font-weight: bolder;
        }
    }
}
