.course-item-box {
    display: block;
    margin-bottom: 25px;
    @include clearfix;

    .course-entry-header,
    .course-description {
        text-align: center;
    }

    .course-metas {
        margin: 15px 0;
        span {
            display: block;
        }
    }
    .course-meta {
        flex: 1;
    }

    @media screen {
        @media (min-width: 768px) {
            display: flex;

            .course-entry-header,
            .course-description {
                text-align: left;
            }

            .course-feature-image-container {
                flex: 1;
            }
            .course-info {
                flex: 2;
                padding-left: 25px;
            }
            .course-title {
                margin-top: 0;
            }
        }
    }
}
