.course-item-box {
    display: block;
    margin-bottom: 25px;
    @include clearfix;
    .course-metas {
        margin: 15px 0;
        span {
            display: block;
        }
    }
    .course-info {
        .course-instructors {
            display: block;
            margin: 15px 0;
            border: 1px solid rgba(0, 0, 0, 0.04) {
                width: 1px 0;
            }
            padding: 8px 0;
            h3 {
                &.label {
                    margin-right: 15px;
                    font-size: 16px;
                }
            }
        }
        .quick-course-info {
            font-size: 1rem;
            line-height: 2em;
            > span {
                display: block;
                padding: 0 2em 0 0;
                &:before {
                    @include font_awesome();
                    font-size: 1.5em;
                    padding-right: 10px;
                    display: block;
                    float: left;
                }
            }
            .course-time {
                &:before {
                    content: '\f017';
                }
            }
            .course-lang {
                &:before {
                    content: '\f0ac';
                }
            }
            .course-category {
                &:before {
                    content: '\f02b';
                }
            }
            .course-cost {
                 @include font( 32, 39, 600 );
                span {
                    padding: 0;
                    text-align: right;
                }
            }
            button {
                &.apply-button-details {
                    display: none;
                    @media screen and (max-width: $width_8) {
                        margin-top: 15px;
                        width: 100%;
                        display: block;
                    }
                }
            }
        }
    }
}
.archive {
    .course-is-enrolled {
        .course-info {
            .quick-course-info {
                button {
                    &.apply-button-details {
                        display: block;
                    }
                }
                .course-cost {
                    display: none;
                }
            }
        }
    }
}
.single-course {
    .course-info {
        .quick-course-info {
            button {
                &.apply-button-details {
                    display: block;
                }
            }
        }
    }
}
