.single-course {
    .course-overview {
        .course-description {
            padding: 15px 0;
            border: 1px solid $grey_5;
            border-left: 0;
            border-right: 0;
        }
        input {
            &[name=course_passcode] {
                margin-bottom: 1em;
            }
        }
    }
    .course-instructors {
      h3.label {
        display:inline-block;
        font-size: 1rem;
        margin-right: 15px;
      }
    }
}
