/* Notifications and Discussions */
.coursepress-notifications {
    .notifications-content {
        @include width;
        @include padding_width_7;
    }
}
.coursepress-forum {
    .discussions-content,
    .course-discussion-content {
        @include width;
        @include padding_width_7;
        .course-discussion-title {
            @media screen and ( max-width: $width_8 ) {
                @include font( 20, 24, 600 );
            }
        }
    }
}

.coursepress-notifications,
.coursepress-forum {
    color: $dark_3;
    a {
        color: $dark_3;
    }
    .course-discussion-wrapper {
        .button {
            @include button;
        }
    }
    .discussion-new {
        display: block;
        margin: 15px 0 25px 0;
        text-align: right;
        .button {
            @include button;
            @media screen and ( max-width: $width_8 ) {
                width: 100%;
            }
        }
    }
    ul {
        &.discussion-archive-list,
        &.notification-archive-list {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
            @include width;
            *,
            &:before,
            &:after {
                box-sizing: border-box;
            }
            li {
                background-color: $grey_9;
                margin-bottom: 1em;
                padding: 30px;
                @media screen and ( max-width: $width_8 ) {
                    padding: 15px 15px 45px 15px;
                }
                &.date {
                    padding: 0 0 30px 0;
                    background-color: transparent;
                    span {
                        @include button;
                        @include radius( 22px );
                        line-height: 44px;
                        padding: 0 2em;
                        font-weight: 200;
                        text-transform: uppercase;
                        &:hover {
                            box-shadow: none;
                        }
                        @media screen and ( max-width: $width_8 ) {
                            @include font( 14, 38, 400 );
                        }
                    }
                }
                .notification-title {
                    @include font( 24, 24, 700 );
                    color: $dark_3;
                    @media screen and ( max-width: $width_8 ) {
                        @include font( 18, 21, 600 );
                    }
                }
                .notification-meta {
                    @include font( 16, 19, 400 );
                    @media screen and ( max-width: $width_8 ) {
                        @include font( 12, 15, 400 );
                    }
                    strong {
                        span {
                            font-weight: 400;
                        }
                    }
                }
                .notification-content {
                    margin-top: 1em;
                    @media screen and ( max-width: $width_7 ) {
                        @include font( 16, 24, 400 );
                    }
                }
            }
        }
        &.discussion-archive-list {
            li {
                margin-bottom: 0;
                border-bottom: 1px solid $grey_12;
            }
        }
        &.notification-archive-list {
            padding-top: 0;
            margin-top: 25px;
            background: {
                image: url('data:image/gif;base64,R0lGODdhAgACAIABAO7u7v///ywAAAAAAgACAAACAoRRADs=');
                repeat: repeat-y;
                position: 73px 0;
            }
        }
    }

    .discussion-responces {
        clear: both;
        display: inline-block;
        float: right;
        margin-left: 2%;
        vertical-align: top;
        width: 13%;
        text-align: center;
        @include font( 16, 19, 600 );
        span {
            display: block;
            margin-bottom: 13px;
        }
        .discussion-comment {
            padding: 0;
            transform-style: preserve-3d;
            position: relative;
            .comment {
                font-size: 1.3em;
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(1.2, 1);
            }
        }
        @media screen and ( max-width: $width_8 ) {
            padding-top: 10px;
            display: block;
            width: 100%;
            text-align: left;
            margin: 0;
            span {
                display: inline;
            }
        }
    }

    .discussion-archive-single,
    .notification-archive-single {
        display: inline-block;
        margin: 0;
        padding: 0;
        vertical-align: top;
        width: 85%;
        h3 {
            margin: 0;
            padding: 0;
            vertical-align: top;
            width: 100%;
            @include font( 20, 24, 600 );
            @media screen and ( max-width: $width_8 ) {
                @include font( 16, 19, 600 );
            }
        }
        @media screen and ( max-width: $width_8 ) {
            width: 100%;
        }
    }

    .discussion-archive-single {
        .meta {
            margin-top: 1em;
            span {
                font-weight: bold;
            }
            @media screen and ( max-width: $width_8 ) {
                display: none;
            }
        }
    }

    .notification-archive-single .notification_author {
        font-size: 0.8em;
        font-style: italic;
    }

    .discussion-archive-single {
        hr {
            border: none;
            border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
            margin: 10px 0 0 0;
            background: none;
        }
    }

    .course-discussion-wrapper {
        .course-discussion-content {
            padding-bottom: 1em;
            &.new {
                input,
                textarea {
                    width: 100%;
                }
                textarea {
                    min-height: 400px;
                }
                .button-links {
                    text-align: right;
                    margin: 10px 0 0 0;
                    padding: 0;
                    a {
                        cursor: pointer;
                        margin-left: 20px;
                    }

                }
            }
        }
        .form-submit {
            text-align: right;
        }
        #comments {
            padding-top: 0;
            @include padding_width_7;
        }
        .comments-area {
            @include width;
            form {
                margin-top: 1em;
                background-color: $grey_12;
                padding: 20px;
            }
            .comment-reply-link {
                @include reset;
                font-weight: bold;
                &:before {
                    @include icon( '\f112' );
                }
            }
            .comments-title {
                @include font( 20, 24, 600 );
                color: $dark_3;
            }
            .comment-list {
                background-color: $grey_9;
                padding: 30px 20px;
                article {
                    margin-top: 0;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    footer {
                        display: flex;
                    }
                }
                .comment-author {
                    @include font( 16, 50, 600 );
                    .avatar {
                        position: static;
                        float: left;
                        @include radius( 50% );
                        width: 50px;
                        height: 50px;
                    }
                    b {
                        padding: 0 10px 0 20px;
                    }
                }
                .comment-metadata {
                    &:before {
                        content: "|";
                        padding-right: 8px;
                    }
                    @include font( 16, 50, 600 );
                    letter-spacing: initial;
                    a {
                        box-shadow: none;
                        color: $dark_3;
                    }
                }
                .comment-content {
                    @include font( 16, 23, 400 );
                }
                .comment-content,
                .reply,
                .children {
                    margin-left: 70px;
                    @media screen and ( max-width: $width_8 ) {
                        margin-left: 0;
                    }
                }
                .children {
                    padding-left: 0;
                    .children {
                        .children {
                            margin-left: 0;
                        }
                    }
                }
                /* Twenty Seventeen hack */
                .bypostauthor > .comment-body > .comment-meta > .comment-author .avatar {
                    border: 0;
                    padding: 0;
                }
            }
            .comment-respond {
                .comment-reply-title {
                    @include font( 20, 24, 600 );
                    border: 0;
                    @media screen and ( max-width: $width_8 ) {
                        @include font( 18, 21, 600 );
                    }
                }
                .comment-form {
                    label {
                        @include font( 12, 15, 600 );
                        margin-bottom: 6px;
                    }
                }
            }
            .comment-meta {
                @media screen and ( max-width: $width_7 ) {
                    margin-bottom: 0;
                }
            }
        }
    }

    .course-discussion {
        .discussion-section {
            padding: 1em 0;
            p {
                margin: 0;
            }
        }
        .discussion-title,
        .discussion-content {
            margin-bottom: 1em;
        }
        .button-links {
            text-align: right;
            a {
                &.button {
                    float: left;
                }
            }
            input {
                margin-left: 3em;
            }
        }
        textarea {
            min-height: 200px;
        }
        select,
        textarea,
        input[type=text] {
            width: 100%;
            @include font( 16, 24, 400 );
            background-color: $white;
            padding: 14px 15px;
            @include radius( 5px );

        }
        label {
            @include font( 12, 16, 600 );
        }
    }
}
