/* Notifications and Discussions */
.coursepress-notifications {
    .notifications-content {
        max-width: $width_a;
        margin: 25px auto;
    }
}
.coursepress-forum {
    .discussions-content,
    .course-discussion-content {
        max-width: $width_a;
        margin: 25px auto;
    }
}

.coursepress-notifications,
.coursepress-forum {
    color: $dark_1;
    a {
        color: $dark_1;
    }
    .course-discussion-wrapper {
        .button {
            @include button;
        }
    }
    .discussion-new {
        display: block;
        margin: 15px 0 25px 0;
        text-align: right;
        .button {
            @include button;
        }
    }
    ul {
        &.discussion-archive-list,
        &.notification-archive-list {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
            max-width: $width_a;
            margin: 25px auto;
            *,
            &:before,
            &:after {
                box-sizing: border-box;
            }
            li {
                background-color: $grey_12;
                margin-bottom: 1em;
                padding: 30px;
                &.date {
                    padding: 0 0 30px 0;
                    background-color: transparent;
                    span {
                        @include button;
                        @include radius( 22px );
                        line-height: 44px;
                        padding: 0 2em;
                        font-weight: 200;
                        text-transform: uppercase;
                        &:hover {
                            box-shadow: none;
                        }
                    }
                }
                .notification-title {
                    font-size: 1.5em;
                }
                .notification-meta {
                    strong {
                        span {
                            font-weight: normal;
                        }
                    }
                }
                .notification-content {
                    margin-top: 1em;
                }
            }
        }
    }

    .discussion-archive-single-meta {
        clear: both;
        display: inline-block;
        float: right;
        margin-left: 2%;
        vertical-align: top;
        width: 13%;
        text-align: center;
        font-weight: bold;
        span {
            display: block;
        }
        .discussion-comment {
            padding: 0;
            transform-style: preserve-3d;
            position: relative;

            .comment {
                font-size: 1.3em;
                margin: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(1.2, 1);
            }
        }
    }

    .discussion-archive-single,
    .notification-archive-single {
        display: inline-block;
        margin: 0;
        padding: 0;
        vertical-align: top;
        width: 85%;
        h3 {
            margin: 0;
            padding: 0;
            vertical-align: top;
            width: 100%;
            font-size: 1.5em;
        }
    }

    .discussion-archive-single {
        .meta {
            margin-top: 1em;
            span {
                font-weight: bold;
            }
        }
    }

    .notification-archive-single .notification_author {
        font-size: 0.8em;
        font-style: italic;
    }

    .discussion-archive-single {
        hr {
            border: none;
            border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
            margin: 10px 0 0 0;
            background: none;
        }
    }

    .course-discussion-wrapper {
        .course-discussion-content {
            padding-bottom: 1em;
            &.new {
                input,
                textarea {
                    width: 100%;
                }
                textarea {
                    min-height: 400px;
                }
                .button-links {
                    text-align: right;
                    margin: 10px 0 0 0;
                    padding: 0;
                    a {
                        cursor: pointer;
                        margin-left: 20px;
                    }

                }
            }
        }
        .form-submit {
            text-align: right;
        }
        .comments-area {
            max-width: $width_a;
            margin: 25px auto;
            form {
                margin-top: 1em;
                background-color: $grey_12;
                padding: 20px;
            }
            .comment-reply-title {
                border: 0;
            }
            .comment-reply-link {
                @include reset;
                font-weight: bold;
                &:before {
                    @include icon("\f3e5");
                    padding-right: 5px;
                }
            }
        }
    }

    .course-discussion {
        .discussion-section {
            padding: 1em 0;
            p {
                margin: 0;
            }
        }
        .discussion-title,
        .discussion-content {
            margin-bottom: 1em;
        }
        .button-links {
            text-align: right;
            a {
                &.button {
                    float: left;
                }
            }
            input {
                margin-left: 3em;
            }
        }
        textarea {
            min-height: 200px;
        }
        label {
            font: {
                size: .9em;
                weight: bold;
            }
        }
    }
    .coursepress-wrap {
        .content-area {
            .page-header {
                .page-title {
                    max-width: $width_a;
                    margin: 25px auto;
                }
            }
        }
    }
}
