.course-item-box {
    display: block;
    margin-bottom: 25px;
    @include clearfix;
    .course-metas {
        margin: 15px 0;
        span {
            display: block;
        }
    }
    .course-info {
        .course-instructors {
            display: block;
            margin: 15px 0;
            border: 1px solid rgba(0, 0, 0, 0.04) {
                width: 1px 0;
            }
            padding: 8px 0;
            h3 {
                &.label {
                    margin-right: 15px;
                    font-size: 16px;
                }
            }
        }
        .quick-course-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @include font( 16, 19, 400 );
            color: $dark_3;
            @media screen and ( max-width: $width_8 ) {
                @include font( 12, 15, 400 );
                flex-wrap: wrap;
                span {
                    padding-top: 10px;
                    min-width: 50%;
                    &.course-cost {
                        min-width: 100%;
                        @include font( 20, 24, 600 );
                        padding: {
                            top: 5px;
                            left: 0;
                            right: 0;
                        }
                    }
                }
            }
            > span {
                display: block;
                padding: 0 2em 0 30px;
                @media screen and ( max-width: $width_8 ) {
                    padding-bottom: 6px;
                }
                &:before {
                    @include font_awesome();
                    font-size: 24px;
                    display: block;
                    float: left;
                    margin-left: -25px;
                    @media screen and ( max-width: $width_8 ) {
                        font-size: 16px;
                    }
                }
            }
            .course-time {
                &:before {
                    content: '\f017';
                }
            }
            .course-lang {
                &:before {
                    content: '\f0ac';
                }
            }
            .course-category {
                &:before {
                    content: '\f02b';
                }
            }
            .course-cost {
                 @include font( 32, 39, 600 );
                span {
                    padding: 0;
                    text-align: right;
                }
            }
            button {
                &.apply-button-details {
                    display: none;
                    @media screen and (max-width: $width_8) {
                        margin-top: 15px;
                        width: 100%;
                        display: block;
                    }
                }
                @media screen and ( max-width: $width_7 ) {
                    @include font( 16, 19, 600 );
                    padding: 13px 15px;
                }
            }
        }
    }
}
.archive {
    .course-is-enrolled {
        .course-info {
            .quick-course-info {
                button {
                    &.apply-button-details {
                        display: block;
                    }
                }
                .course-cost {
                    display: none;
                }
            }
        }
    }
}
.single-course {
    .course-info {
        .quick-course-info {
            button {
                &.apply-button-details {
                    display: block;
                }
            }
        }
    }
}
