.single-course {
    .cp-warning-box {
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 25px;
        margin: 5px;
        text-align: center;
        border-radius: 5px;
        p {
            margin-bottom: 0;
        }
    }
    .cp-warning-box:before {
        content: '\f348';
        font-family: Dashicons;
        font-size: 200%;
        line-height: 1;
        float: left;
        color: rgba(255, 0, 0, 0.5);
    }
    .course-overview {
        .course-description {
            padding: 15px 0;
            border: 1px solid $grey_5;
            border-left: 0;
            border-right: 0;
        }
        input {
            &[name=course_passcode] {
                margin-bottom: 1em;
            }
        }
    }
    .course-instructors {
        h3 {
            &.label {
                display:inline-block;
                font-size: 1.5rem;
                margin-right: 5px;
            }
        }
        a {
            &.instructor {
                box-shadow: none;
                display: block;
                margin: 5px 0;
                text-decoration: none;
            }
        }
    }
    .units-archive-list {
        li {
            background-color: transparent;
        }
        .preview {
            background-color: #ffffff;
            border: 1.5px solid $grey_3;
            display: inline-block;
            float: right;
            font-size: 11px;
            @include radius(3px);
            @include transition(opacity 0.4s);
            opacity: 0.3;
            padding: 4px 12px;
            margin-bottom: 10px;
            text-transform: uppercase;
            &:hover {
                opacity: 1;
                @include transition(opacity 0.4s);
            }
        }
        .unit-description,
        .module {
            @include clearfix;
        }
        .unit-progress {
            float: right;
        }
    }
    .page-header {
        padding-bottom: 0;
    }
    .course-content {
        h3 {
            padding: 0;
        }
    }
    .coursepress-wrap {
        .course {
            .entry-content {
                float: none;
                width: 100%;
            }
        }
    }
    .course-details {
        .apply-button {
            background: #1a1a1a;
            border-radius: 2px;
            border: 0;
            color: #fff;
            display: block;
            font-weight: 700;
            line-height: 1;
            margin-top: 1em;
            padding: 0.84375em 0.875em;
            text: {
                transform: uppercase;
                align: center;
            }
        }
    }
}
