.course-structure {
    display: block;
    max-width: $width_7;
    margin: 25px auto;
}
.single-course {
    .course-structure {
        @include clearfix;
        @include font( 16, 19, 400 );
        color: $dark_3;
        @include padding_width_7;
        min-width: 200px;
        a {
            text-decoration: none;
            color: $dark_3;
            box-shadow: none;
        }
        .tree {
            margin: 0;
            padding: 0;
            list-style: none;
            @include clearfix;
        }
        @mixin preview {
            display: inline-block;
            margin-right: 2em;
            float: right;
            @include transition(opacity 0.4s);
            opacity: 0.3;
            @include font( 16, inherit, 600 );
            color: $grey_1;
            &:hover {
                opacity: 1;
                @include transition(opacity 0.4s);
            }
            &:before {
                @include icon("\f06e");
            }
        }
        .unit-tree {
            .preview {
                @include preview();
            }
            .unit-description {
                clear: both;
                margin: 0 20px;
            }
            .fold {
                display: inline-block;
                width: 32px;
                float: left;
                height: 32px;
                margin: 8px 0 0 10px;
                cursor: pointer;
                position: relative;
                z-index: 10000;
                &:before {
                    content: '\f140';
                    font-family: Dashicons;
                    font-size: 32px;
                    line-height: 1.2;
                }

                &.folded:before {
                    content: '\f139';
                }
            }
            .timer {
                float: right;
                font-size: 10px;
                line-height: 14px;
                display: inline-block;
                vertical-align: middle;
                padding: 5px;

                &:before {
                    content: '\f469';
                    font-family: 'Dashicons';
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 14px;
                    margin: 0 5px;
                }
            }
            .unit-title {
                display: block;
                color: $grey_1;
                .unit-feature-image {
                    float: left;
                    margin-right: 15px;
                }
            }
            .unit {
                &.has-progress {
                    position: relative;
                    .unit-progress {
                        position: absolute;
                        top: 25px;
                        right: 25px;
                        height: 36px;
                        width: 36px;

                        span {
                            position: absolute;
                            font-size: 7px;
                            text-align: center;
                            height: 36px;
                            width: 36px;
                            line-height: 36px;
                            left: 0;
                        }
                    }
                }
                .unit-progress-text {
                    display: inline-block;
                    float: right;
                    font-weight: normal;
                    margin-right: 20px;
                }
            }
        }

        .module-tree {
            .module-title {
                display: block;
                @include font(20, 24, 600);
                padding: 16px 0 16px 57px;
                &:hover {
                    .preview {
                        opacity: 1;
                        @include transition(opacity 0.4s);
                    }
                }
                .preview {
                    @include preview();
                }
                @media screen and (max-width: $width_8) {
                    @include font( 16, 19, 600 );
                }
            }
            .module {
                border-top: 1px solid $grey_12;
                margin-top: 5px;
                padding-top: 5px;
                &.has-preview {
                    .module-title {
                        &:after {
                            clear: both;
                            content: ' ';
                            display: block;
                            height: 1px;
                        }
                    }
                }
            }
            >li {
                &:first-of-type {
                    .module {
                        margin: 0;
                        padding: 0;
                        border: 0;
                    }
                }
            }
        }

        .step-tree {
            .course-step {
                display: block;
                padding: 16px 0 16px 57px;
                @media screen and (max-width: $width_8) {
                    padding: {
                        top: 10px;
                        bottom: 10px;
                    }
                }
                a {
                    box-shadow: none;
                }
                &.step-completed {
                    &:after {
                        float: right;
                        @include icon("\f058");
                        padding-right: 20px;
                        font-size: 1.4em;
                        margin-top: -1.5em;
                    }
                }
                &.course-current-step {
                    background-color: $dark_3;
                    color: $white;
                    a {
                        color: $white;
                    }
                }
            }
        }
        &.course-structure-nav {
            margin: 0;
            .module-title {
                padding: 30px 20px 15px 20px;
                padding: {
                    top: 14px;
                    bottom: 14px;
                }
            }
            .course-step {
                @include font( 16, 24, 500 );
                padding: 17px 20px;
                background-color: $grey_6;
                &.step-completed {
                    &:after {
                        content: none;
                    }
                }
            }
            .course-current-step {
                font-weight: bolder;
            }
            @media screen and (max-width: $width_7) {
                display: none;
                background-color: $dark_3;
                color: $white;
                padding: 0;
                position: absolute;
                z-index: 10;
                @include font( 16, 24, 400 );
                .course-step {
                    background-color: transparent;
                    &.course-current-step {
                        background-color: $grey_1;
                    }
                }
                a {
                    color: $white;
                }
            }
        }
        ul {
            &.units-archive-list {
                margin: 0;
                ul, ol {
                    margin: 0;
                }
                ul {
                    &.tree {
                        border: {
                            top: 1px solid $grey_12;
                        }
                    }
                }
                .unit-archive-single {
                    border: 1px solid $grey_12;
                    margin-bottom: 10px;
                    .unit-title {
                        @include font( 20, 24, 600 );
                        padding: 14px 0 14px 56px;
                        background: {
                            color: $grey_9;
                        }
                        @media screen and (max-width: $width_8) {
                            @include font( 16, 19, 600 );
                        }
                    }
                }
            }
            li {
                .course-step {
                    &:before {
                        float: left;
                        @include icon("\f15c");
                        width: 29px;
                        font-size: 24px;
                        @media screen and (max-width: $width_8) {
                            width: 25px;
                            font-size: 20px;
                        }
                    }
                    &.course-step-audio:before        { content: "\f1c7"; }
                    &.course-step-discussion:before   { content: "\f086"; }
                    &.course-step-download:before     { content: "\f019"; }
                    &.course-step-image:before        { content: "\f1c5"; }
                    &.course-step-input-quiz:before   { content: "\f0ca"; }
                    &.course-step-input-upload:before { content: "\f093"; }
                    &.course-step-quiz:before         { content: "\f0ca"; }
                    &.course-step-video:before        { content: "\f1c8"; }
                    &.course-step-zipped:before       { content: "\f1c6"; }
                    a,
                    span {
                        display: block;
                        padding-left: 1.6em;
                    }
                }
            }
        }
    }
}
