.archive,
.coursepress-student-dashboard {
    .coursepress-wrap {
        max-width: $width_2;
        .page-header {
            float: none;
            width: 100%;
        }
        article {
            border: 1px solid $grey_12;
            padding: 14px;
            margin-bottom: 30px;
            @media screen and ( max-width: $width_8 ) {
                margin: 15px;
                .entry-content {
                    display: none;
                }
            }
            .entry-footer {
                border: 0;
            }
        }
        @media screen and ( max-width: $width_2 ) {
            width: 100%;
            padding: {
                left: 15px;
                right: 15px;
            }
        }
    }
}
.coursepress-wrap {
    font-family: "Libre Franklin", sans-serif;
    display: block;
    margin: 0 auto;
    width: 100%;
    @include clearfix;
    font-size: 100%;
    .container {
        margin: 0 auto;
        padding-bottom: 1em;
        .content-area {
            float: none;
            margin: 0;
            width: 100%;
            .page-header {
                border: 0;
                padding: 0;
                margin: 0 0 1em 0;
                float: none;
                width: 100%;
                .cp-page-title {
                    @include font( 24, 29, 600 );
                    margin: 0;
                    padding: 0;
                    @include padding_width_7;
                }
            }
            article {
                .course-info {
                    width: 100%;
                    display: flex;
                    @media screen and ( max-width: $width_8 ) {
                        display: block;
                    }
                    .thumbnail {
                        padding-right: 30px;
                        max-width: 220px;
                        img {
                            max-width: 100%;
                        }
                        @media screen and ( max-width: $width_7 ) {
                            width: 176px;
                            min-width: 176px;
                            img {
                                width: 146px;
                            }
                        }
                        @media screen and ( max-width: $width_8 ) {
                            padding: 0;
                            max-width: 100%;
                        }
                    }
                    .course-entry-wrap {
                        width: 100%;
                        @media screen and ( max-width: $width_7 ) {
                            width: auto;
                        }
                        .entry-content,
                        .entry-footer {
                            float: none;
                            width: 100%;
                        }
                        .course-title {
                            margin-bottom: 5px;
                            @include font( 32, 39, 500 );
                            color: $dark_3;
                            @media screen and ( max-width: $width_7 ) {
                                @include font( 24, 29, 700 );
                            }
                            @media screen and ( max-width: $width_8 ) {
                                @include font( 16, 19, 600 );
                            }
                        }
                        .entry-footer {
                            margin: 0;
                            width: 100%;
                            @media screen and ( max-width: $width_8 ) {
                                margin-left: 0;
                                padding: 0;
                            }
                        }
                        .course-summary {
                            margin-top: 1em;
                            @include font( 16, 19, 400 );
                            color: $grey_1;
                        }
                    }
                    .course-instructors {
                        @include font( 16, 19, 400 );
                        color: $dark_3;
                        margin: 0;
                        padding: 0;
                        .label {
                            display: inline;
                            margin-right: 0;
                            @include font( 16, 19, 600 );
                        }
                        @media screen and ( max-width: $width_8 ) {
                            @include font( 12, 15, 400 );
                            .label {
                                @include font( 12, 15, 600 );
                            }
                        }
                    }
                }
            }
        }
        .entry-content {
            ol, ul {
                margin-left: 1.25em;
            }
        }
    }
    .course-unit-progress {
        text-align: center;
    }
    .error  {
        margin: 15px 0;
        text-transform: uppercase;
        font-size: 13px;
        background-color: rgba(255, 0, 0, 0.02);
        padding: 10px 15px;
        border: 1px solid rgba(255, 0, 0, 0.1);
        &:before {
            @include icon( '\f06a' );
            font-size: 16px;
            vertical-align: baseline;
            margin-right: 8px;
            color: red;
        }
    }
    .td-right {
        text-align: right;
    }
}
@media screen and (max-width: $width_3) {
    .coursepress-student-dashboard {
        .content-area,
        .page-content {
            padding: 0 10px;
        }
    }
    .coursepress-workbook {
        .coursepress-content-wrapper {
            padding: 0 10px;
        }
    }
}
.coursepress-student-login {
    .coursepress-wrap {
        .content-area {
            width: 320px;
            margin: 0 auto;
        }
    }
}

