.single-course {
    .course-unit {
        h2 {
            &.course-title {
                margin: 25px 0 0;
                @include clearfix;
                @media screen and (max-width: $width_3) {
                    padding: {
                        left: 15px;
                        right: 15px;
                    }
                }
            }
        }
        .course-after-title {
            @include clearfix;
        }
        .course-unit-progress {
            position: absolute;
            top: 10px;
            right: 0;
        }
    }
    .coursepress-wrap {
        .toggle {
            display: none;
        }
        &.course-unit {
            .container {
                .content-area {
                    .page-header {
                        position: relative;
                        margin: 0 auto;
                        .course-title,
                        .course-breadcrumb,
                        .course-submenu {
                            @include width_2;
                        }
                        .course-submenu {
                            padding: 0;
                        }
                    }
                }
                .cp-discussion-new-question,
                .cp-discussion-section,
                .cp-discussion-new {
                    @include width;
                    margin: 0 auto;
                }
            }
        }
    }
    .course-content-template {
        display: flex;
        flex-wrap: wrap;
        margin: 25px 0;
        @include padding_width_7;
        @include clearfix;
        .toggle {
            flex-basis: 100%;
            display: none;
            cursor: pointer;
            &:before {
                @include icon("\f0ca");
            }
            &.open {
                &:before {
                    content: "\f00d";
                }
            }
            @media (max-width: $width_7) {
                display: block;
            }
        }
        .unit-description {
            margin-top: 2em;
        }
        .course-content {
            flex: 1;
        }

        @media screen {
            @media (max-width: $width_7) {
                .course-structure-nav {
                    position: absolute;
                    display: none;
                    top: 4em;
                }
            }
        }
    }
}
