.single-course {
    .coursepress-wrap {
        p {
            font-size: 1em;
        }
        .container {
            .content-area {
                .page-header {
                    .cp-page-title,
                    .course-title {
                        @include font(32, 39, 600 );
                        @include width;
                        color: $dark_3;
                        @media screen and ( max-width: $width_8 ) {
                            @include font( 20, 24, 600 );
                            margin-bottom: 0;
                        }
                    }
                    .cp-page-title-discussion {
                        margin-bottom: 0;
                    }
                    .cp-page-meta {
                        @include width;
                        margin-top: 0;
                        @include padding_width_7;
                    }
                }
                .course-content-template {
                    @include width_2;
                }
            }
        }
        .course-details {
            margin-bottom: 25px;
            .course-instructors {
                display: block;
                margin: 15px 0;
                padding: 15px 0;
                h3.label {
                    display: none;
                }
                .instructor-coursepress {
                    border: 1px solid rgba(0, 0, 0, 0.04);
                    display: inline-block;
                    text-align: center;
                    padding: 10px;
                    background-color: #FFF;
                    a[href] {
                        box-shadow: none;
                    }
                }
            }

            @media screen {
                .course-media {
                    img,
                    video {
                        @include radius(10px);
                        overflow: hidden;
                    }
                    .video-js {
                        background: transparent;
                        $vjs_width: 58px;
                        .vjs-big-play-button {
                            @include radius( 50% );
                            background-color: $dark_2;
                            border: 0;
                            width: 58px;
                            height: 58px;
                            line-height: 58px;
                            font-size: 35px;
                            margin: {
                                left: -$vjs_width/2;
                                top: -$vjs_width/2;
                            }
                        }
                        .vjs-control-bar {
                            @include radius( 0 0 10px 10px );
                            overflow: hidden;
                            .vjs-play-control {
                                @include radius( 0 0 0 10px );
                            }
                        }
                    }
                }
                @media (min-width: $width_8) {
                    display: flex;
                    .course-media {
                        width: 50%;
                        padding-right: 15px;
                    }
                    .course-metas {
                        width: 50%;
                        padding-left: 15px;
                    }
                    .coursepress-course-share {
                        display: block;
                        margin: 15px 0;
                        border: 1px solid rgba(0, 0, 0, 0.04);
                        border-width: 1px 0;
                        padding: 8px 0;
                        a[href] {
                            text-decoration: none;
                            outline: 0;
                            border: 0;
                            box-shadow: none;
                            margin: 0 5px;
                            display: inline-block;
                            vertical-align: middle;
                            span {
                                font-size: 130%;
                            }
                        }
                    }
                }
            }
        }
        .content-area {
            article {
                @include width;
                .course-title {
                    font-weight: 600;
                }
                .course-category {
                    @include font( 16, 19, 400 );
                }
            }
        }
    }
    .entry-header {
        padding-bottom: 20px;
        .entry-title {
            margin-bottom: 10px;
        }
        .course-category {
            position: relative;
            padding-left: 29px;
            &:before {
                @include icon("\f02b");
                font-size: 24px;
                position: absolute;
                bottom: -2px;
                left: 0;
            }
        }
    }
    .entry-content {
        .course-metas {
            @include font( 16, 19, 400 );
            color: $dark_3;
            .course-meta {
                font-size: 1em;
                margin-bottom: .5em;
                color: $dark_3;
            }
            .meta-title {
                font-weight: 600;
            }
            .course-meta-price {
                @include font( 32, 39, 600 );
                @media screen and ( max-width: $width_7 ) {
                    @include font( 24, 29, 600 );
                }
            }
            .course-button {
                @media screen and ( max-width: $width_7 ) {
                    a {
                        width: 100%;
                        padding: 12px;
                    }
                }
            }
        }
        .instructor {
            display: flex;
            .profile-avatar{
                padding-right: 15px;
                img {
                    max-width: initial;
                    @include radius(50%);
                }
            }
            .description {
                @include font( 16, 24, 400 );
                .instructor-name {
                    font-weight: bold;
                }
                a {
                    &.instructor {
                        text-decoration: underline;
                        color: $dark_2;
                        @include font( 16, 19, 600 );
                    }
                }
                p {
                    margin-bottom: .6em;
                    color: $dark_3;
                }
            }
        }
        .course-description {
            @include font( 16, 24, 400 );
            color: $dark_3;
            p {
                color: $dark_3;
            }
            @media screen and ( max-width: $width_8 ) {
                .sub-title {
                    @include font( 18, 21, 600 );
                }
            }
        }
    }
    &.coursepress-completion-status {
        .content-area,
        .page-content {
            @media screen and (max-width: $width_3) {
                padding: 0 10px;
            }
        }
    }
}
.coursepress-unit-archive {
    .coursepress-wrap {
        .container {
            .content-area {
                .page-header {
                    .cp-page-title {
                        margin-top: 45px;
                    }
                }
            }
        }
    }
}
