.single-course {
    .coursepress-wrap {
        .course-details {
            margin-bottom: 25px;

            .course-instructors {
                display: block;
                margin: 15px 0;
                border: 1px solid rgba(0, 0, 0, 0.04);
                border-width: 1px 0;
                padding: 15px 0;

                h3.label {
                    display: none;
                }

                .instructor-coursepress {
                    border: 1px solid rgba(0, 0, 0, 0.04);
                    display: inline-block;
                    text-align: center;
                    padding: 10px;
                    background-color: #FFF;

                    a[href] {
                        box-shadow: none;
                    }
                }
            }

            @media screen {
                @media (min-width: $width_9) {
                    display: flex;

                    .course-media {
                        width: 50%;
                        padding-right: 15px;
                    }
                    .course-metas {
                        width: 50%;
                        padding-left: 15px;

                        .course-meta {
                            margin: 0;
                        }

                    }

                    .coursepress-course-share {
                        display: block;
                        margin: 15px 0;
                        border: 1px solid rgba(0, 0, 0, 0.04);
                        border-width: 1px 0;
                        padding: 8px 0;
                        a[href] {
                            text-decoration: none;
                            outline: 0;
                            border: 0;
                            box-shadow: none;
                            margin: 0 5px;
                            display: inline-block;
                            vertical-align: middle;
                            span {
                                font-size: 130%;
                            }
                        }
                    }
                }
            }
        }
        .content-area {
            article {
                @include width;
                .course-title {
                    font-weight: 600;
                }
                .course-category {
                    @include font( 16, 19, 400 );
                }
            }
        }
    }
    .entry-header {
        padding-bottom: 20px;
        .entry-title {
            margin-bottom: 10px;
        }
        .course-category {
            &:before {
                @include icon("\f02b");
            }
        }
    }
    .entry-content {
        .course-metas {
            .meta-title {
                font-weight: bold;
            }
            .course-meta-price {
                @include font( 32, 39, 600 );
            }
        }
        .instructor {
            display: flex;
            .profile-avatar{
                padding-right: 15px;
                img {
                    max-width: initial;
                    @include radius(50%);
                }
            }
            .description {
                .instructor-name {
                    font-weight: bold;
                }
                a {
                    &.instructor {
                        text-decoration: underline;
                        font-weight: 600;
                        color: $dark_2;
                    }
                }
                p {
                    margin-bottom: .6em;
                }
            }
        }
    }
    &.coursepress-completion-status {
        .content-area,
        .page-content {
            @media screen and (max-width: $width_3) {
                padding: 0 10px;
            }
        }
    }
}
.coursepress-unit-archive {
    .coursepress-wrap {
        .container {
            .content-area {
                .page-header {
                    .page-title {
                        margin-top: 45px;
                        max-width: $width_7;
                        margin: 25px auto;
                        @include padding_width_7;
                    }
                }
            }
        }
    }
}
