.course-module-step-template {
  position: relative;
  display: block;
  margin: 0 0 25px 0;
  @include clearfix;

  .required {
    display: block;
    text-align: right;

    span {
      color: red;
      text-transform: uppercase;
      font-size: 12px;
    }
  }

  .module-step-title {
    margin-top: 0;
  }

  .question {
    font-weight: 700;
  }

  ul, ol {
    margin: 0 0 25px 0;
    padding: 0;
    list-style-type: none;

    label {
      font-weight: 200;
    }
  }

  &.step-template-image {
    p {
      margin: 0;
      text-align: center;
      font-size: 98%;
    }
  }
  &.step-template-video {
    .video-js {
      padding: 0;
    }
  }
}