.course-submenu-container {
    background-color: $dark_3;
    @include clearfix;
    margin: 0 0 10px 0;
    .course-submenu {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
        justify-content: center;
        color: $white;
        .menu-item {
            text-decoration: none;
            outline: 0;
            border: 0;
            box-shadow: none;
            font-size: 22px;
            a {
                color: $white;
                display: block;
                padding: 4px 12px;
                margin-bottom: 1px;
                border-bottom: 2px solid transparent;
                &:hover {
                    border-bottom-color: $white;
                }
            }
            &.submenu-active {

            }
        }
        .current-menu-item {
            font-weight: bold;
            a {
                border-bottom-color: $white;
            }
            &:before {
                opacity: 0.6;
            }
        }
    }
}
