.course-submenu-container {
    display: block;
    margin: 0 0 25px 0;
    border-bottom: 1px solid $grey_4;
    @include clearfix;
    .course-submenu {
        margin: 0;
        padding: 0;
        list-style: none;
        .menu-item {
            display: inline-block;
            padding: 4px 12px;
            text-decoration: none;
            outline: 0;
            border: 0;
            box-shadow: none;
            font-size: 22px;
            a {
              color: $grey_3;
            }
            &.submenu-active {

            }
        }
        .current-menu-item {
          a {
            color: $blue_6;
          }
          &:before {
            opacity: 0.6;
          }
        }
    }
}
