.coursepress-wrap {
  .workbook-table {
    width: 100%;
    font-size: 97%;

    td {
      padding: 6px 15px;
    }
    .data-unit td {
      background-color: $grey_5;
      padding: 6px 10px;
    }
    .data-module td {
      background-color: $grey_6;
      padding: 6px 15px;
    }
  }
}
