.coursepress-wrap {
    .grades {
        @include padding_width_7;
    }
    .workbook-table,
    .grades-table {
        @include width;
        background-color: $grey_9;
        border: 0;
        td, th {
            border: 0;
        }
        td {
            padding: 6px 15px;
        }
        .data-unit {
            td {
                padding: 6px 10px;
            }
        }
        .data-module {
            td {
                padding: 6px 15px;
            }
        }
        .row-unit {
            td {
                font: {
                    size: 1.2em;
                    weight: bold;
                }
            }
        }
        .row-elements {
            td {
                padding-bottom: 1em;
            }
        }
    }
    .grades-table {
        tbody {
            tr {
                &:last-child {
                    td {
                        border-bottom: 1px solid $grey_12;
                    }
                }
            }
            &:last-child {
                tr {
                    &:last-child {
                        td {
                            border: 0;
                        }
                    }
                }
            }
        }
    }
}
