.coursepress-wrap {
    .workbook-table,
    .grades-table {
        @include width;
        background-color: $grey_12;
        border: 0;
        td, th {
            border: 0;
        }
        td {
            padding: 6px 15px;
        }
        .data-unit {
            td {
                padding: 6px 10px;
            }
        }
        .data-module {
            td {
                padding: 6px 15px;
            }
        }
        .row-unit {
            td {
                font: {
                    size: 1.2em;
                    weight: bold;
                }
            }
        }
        .row-elements {
            td {
                padding-bottom: 1em;
            }
        }
    }
}
.coursepress-grades,
.coursepress-workbook {
    .coursepress-wrap {
        .container{
            .content-area {
                .page-header {
                    .page-title {
                        @include width;
                    }
                }
            }
        }
    }
}
