.cp-search-form,
.cp-action-form {
    clear: left;
    .cp-flex {
        .cp-div {
            margin-left: 20px;
            &:first-child {
                margin-left: 0;
            }
        }
        label {
            color: $grey_3;
            font-size: .8em;
            font-weight: 600;
            display: block;
        }
    }
}
.cp-search-form {
    .cp-btn {
        padding-bottom: 6px;
        padding-top: 6px;
    }
}
@media screen {
    @media (min-width: 768px) {
        .cp-search-form,
        .cp-action-form {
            margin-bottom: 15px;
            .cp-btn-active {
                display: inline-block;
            }
        }
    }
    @media (min-width: 1024px) {
        .coursepress-table {
            th, td {
                display: table-cell;
            }
            .hidden {
                display: none;
            }
        }
    }
}
