$width: 100%;

$white: #fff;
$black: #000;

$color_1: #dedede;
$color_2: #fbfbfb;
$color_3: #51b9e8;

$dark_1: #333333;
$dark_2: #555555;

$grey_1: #5e5e5e;
$grey_2: #757575;
$grey_3: #808080;
$grey_4: #a4a4a4;
$grey_5: #dedede;
$grey_6: #fbfbfb;
$grey_7: #fefefe;
$grey_8: #fafafa;

$blue_1: #51b9e8;
$blue_2: #4f9ac9;
$blue_3: #497daa;
$blue_4: #366587;
$blue_5: #e1f6ff;
$blue_6: #17a8e3;
$red: #ff0000;

$code_font: Consolas, Monaco, monospace;

@mixin boxsizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@mixin transition($trans) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -ms-transition: $trans;
  -o-transition: $trans;
  transition: $trans;
}
@mixin column($col) {
  width: $width/12*$col;
}
@mixin radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin boxshadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}
@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
@mixin bordered {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #fbfbfb;
}
@mixin icon($icon) {
  content: $icon;
  font-family: 'FontAwesome', sans-serif;
}
@mixin hide {
  opacity: 0;
  @include transition(opacity 0.4s);
}
@mixin show {
  opacity: 1;
  @include transition(opactiy 0.4s);
}
