$width: 100%;
$color_1: #dedede;
$color_2: #fbfbfb;
$color_3: #51b9e8;
$grey_1: #5e5e5e;
$grey_2: #757575;
$grey_3: #808080;
$grey_4: #a4a4a4;
$grey_5: #dedede;
$grey_6: #fbfbfb;
$blue_1: #51b9e8;
$blue_2: #4f9ac9;


@mixin boxsizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@mixin transition($trans) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -ms-transition: $trans;
  -o-transition: $trans;
  transition: $trans;
}
@mixin column($col) {
  width: $width/12*$col;
}
@mixin radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin boxshadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}
@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
@mixin bordered {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #fbfbfb;
}