$width: 100%;
$width_3: 1000px;
$width_7: 768px;
$width_8: 600px;
$width_9: 400px;

$white: #fff;
$black: #000;

$color_1: #dedede;
$color_2: #fbfbfb;
$color_3: #51b9e8;

$dark_2: #222;
$dark_3: #333;
$dark_5: #555;

$grey_1: #5e5e5e;
$grey_2: #757575;
$grey_3: #808080;
$grey_4: #a4a4a4;
$grey_5: #ddd;
$grey_6: #fbfbfb;
$grey_7: #fefefe;
$grey_8: #fafafa;
$grey_9: #f7f7f7;
$grey_10: #e1e1e1;
$grey_11: #e6e6e6;
$grey_12: #eee;
$grey_13: #888;
$grey_14: #ebebeb;

$blue_1: #51b9e8;
$blue_2: #4f9ac9;
$blue_3: #497daa;
$blue_4: #366587;
$blue_5: #e1f6ff;
$blue_6: #17a8e3;

$yellow_1: #d98500;
$yellow_2: #ffe2a5;

$green_1: #006505;
$green_2: #309535;


$red: #ff0000;
$red_1: #fff2f2;
$red_2: #ffe8e8;

$default_radius: 5px;

$wp_admin_width_to_hide_left_menu: 782px;

$code_font: Consolas, Monaco, monospace;

@mixin boxsizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@mixin transition($trans) {
    -webkit-transition: $trans;
    -moz-transition: $trans;
    -ms-transition: $trans;
    -o-transition: $trans;
    transition: $trans;
}
@mixin column($col) {
    width: $width/12*$col;
}
@mixin radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}
@mixin boxshadow($shadow) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}
@mixin clearfix {
    &:before,
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}
@mixin bordered {
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #fbfbfb;
}
@mixin icon($icon) {
    content: $icon;
    display: inline-block;
    font-family: FontAwesome, sans-serif;
    padding-right: 5px;
}
@mixin hide {
    opacity: 0;
    @include transition(opacity 0.4s);
}
@mixin show {
    opacity: 1;
    @include transition(opactiy 0.4s);
}
@mixin columns($columns) {
    -webkit-columns: $columns;
    -moz-columns: $columns;
    columns: $columns;
}
@mixin reset() {
    position: static;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    display: inline;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    list-style: none;
    background: none transparent;
    color: #333333;
    font: {
        size: 100%;
        family: 'Helvetica Neue Light', sans-serif;
        style: normal;
        weight: 200;
    }
    text-transform: none;
    @include boxshadow(none);
    @include radius(0);
    &:hover {
        background: none transparent;
    }
}

@mixin font( $size, $lh, $weight ) {
    font: {
        @if type-of( $size ) == 'number' {
            size:  #{$size}px;
        } @else {
            size:  $size;
        }
        weight: $weight;
    }
    @if type-of( $lh ) == 'number' {
        line-height: #{$lh}px;
    } @else {
        line-height: $lh;
    }
}

@mixin button {
    background: $dark_2;
    @include radius( 3px );
    @include font( 16px, 19px, 600 );
    border: 0;
    color: $white;
    display: inline-block;
    line-height: 1;
    padding: 16px 92px;
    text: {
        align: center;
    }
    &:hover {
        text-decoration: none;
        box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 3px 0 rgba(0, 0, 0, 1);
    }
    a {
        text-decoration: none;
        border: 0;
        color: inherit;
    }
}
@mixin random_border_color() {
    border: 1px solid rgb(random(255),random(255),random(255));
}

@mixin font_awesome {
    font-family: FontAwesome;
}

@mixin width {
    max-width: $width_7;
    margin: 25px auto;
}
@mixin width0 {
    max-width: $width_7;
    margin: 0 auto;
    @media screen and (min-width: 48em) {
        max-width: 1000px;
    }
}

@mixin padding_width_7 {
    padding: {
        left: 15px;
        right: 15px;
    }
}

