.coursepress-wrap,
.coursepress-popup-preview,
.coursepress-modal,
.coursepress-popup {
    .cp-btn {
        border: 0;
        background-color: $grey_5;
        cursor: pointer;
        padding: 8px 15px;
        font-size: 14px;
        line-height: 1.5;
        height: auto;
        display: inline-block;
        @include radius(3px);
        @include boxshadow(inset 0 0 12px 20px $grey_5);
        @include transition(0.4s);

        &:hover {
            @include boxshadow(inset 0 0 12px 20px #a4a4a4);
            @include transition(0.4s);
        }
        &[disabled="disabled"] {
            background-color: $grey_5;
            color: $grey_2;
            cursor: inherit;
            @include boxshadow(inset 0 0 12px 20px $grey_5);
            &:hover {
                @include boxshadow(inset 0 0 12px 20px $grey_5);
            }
        }
    }

  .cp-btn-xs {
    font-size: 12px;
    padding: 4px 8px;
  }
  .cp-btn-default {
    color: #fff !important;
    text-transform: uppercase;
    @include boxshadow(inset 0 0 12px 20px #a4a4a4);
  }

  .cp-btn-active {
    background-color: $blue_1;
    border-color: $blue_3;
    color: #ffffff;
    @include boxshadow(inset 0 0 12px 20px $blue_6);

    &:hover {
      @include boxshadow(inset 0 0 12px 20px #4f9ac9);
    }
  }
  .cp-bordered-btn {
    border: 2px solid $grey_4;
    background-color: transparent;
    color: $dark_2;
    @include boxshadow(none);

    &:hover {
      background-color: $grey_5;
    }
  }
  .cp-btn-clear {
    border: 1px solid transparent;

    &:hover {
      @include boxshadow(none);
    }
  }
  .cp-btn-trash {
    border: 0;
    background-color: transparent;
    @include boxshadow(none);
    color: $red;

    &:before {
      content: '\f014';
      font-family: 'FontAwesome';
    }
    &:hover {
      @include boxshadow(inset 0 0 12px 20px rgba(255, 0, 0, 0.1));
    }
  }
}
.wp-heading-inline {
    .cp-bordered-btn {
        margin-left: 15px;
        padding-top: 6px;
        padding-bottom: 6px;
        vertical-align: top;
        font-family: "Roboto", Arial, sans-serif;
        font-weight: 500;
        color: $grey_13;
    }
}
.coursepress-modal {
  .cp-btn {
    min-width: 110px;
    text-transform: uppercase;
  }
  .cp-invite-btn {
    .fa {
      display: none;
    }
  }
  .cp-progress {
    .fa {
      display: inline-block;
      font-size: 20px;
      margin-right: 8px;
      @include transition(0.4s);
    }
  }
}
.wp-core-ui{
  .option-preview_certificate {
    .wpmui-field-input {
      line-height: 26px;
    }

    .button[disabled],
    .button:disabled{
      color: #000000!important;
      border-color: #ddd!important;
      background: #ddd!important;
    }
  }
}
