.coursepress-wrap {
  input[type="text"],
  input[type="number"],
  textarea,
  select {
    border: 1px solid $grey_4;
    padding: 8px 12px;
    line-height: 1.5;
    font-size: 14px;
    height: auto;
    max-width: 100%;
    @include radius(4px);

    &:focus,
    &:active {
      border-color: $blue_1;
      @include boxshadow(none);
      outline: 0;
    }
  }
  input[type="number"] {
    padding-right: 0;
  }
  select {
    width: 100%;
    display: block;
  }
  .select2-selection--single,
  .select2-selection--multiple {
    padding: 5px 15px;
    height: 40px;
    border-color: $grey_4;
  }
  .select2-selection--multiple {
    .select2-selection__choice {
      padding: 5px;
      margin-top: 0;
      border-color: $grey_4;
      background-color: $grey_5;
      cursor: pointer;
    }
  }
  .select2-container {
    .select2-selection__arrow {
      height: 100%;
      padding: 0 15px;
    }
  }

  .cp-input-clear {
    position: relative;

    input[type="text"] {
      padding-right: 65px;
    }
    button {
      position: absolute;
      right: 4px;
      top: 4.5px;
      padding: 6px 12px;
      font-size: 12px;
      background-color: $grey_5;
      opacity: 0.6;
      @include transition(opacity 0.4s);

      &:hover {
        opacity: 1;
        @include transition(opacity 0.4s);
      }
    }
  }

  .cp-input-group {
    border: 1px solid $grey_4;
    background-color: $grey_6;
    @include radius(6px);

    input {
      display: none;
    }
    li {
      padding: 8px 15px;
      text-align: center;
      margin: 0;
      border-right: 1px solid $grey_4;
      cursor: pointer;
      @include transition(background-color 0.4s);

      &:first-of-type {
        @include radius(6px 0 0 6px);
      }
      &:last-of-type {
        border-right: 0;
        @include radius(0 6px 6px 0);
      }

      &.active {
        background-color: $grey_5;
        @include transition(background-color 0.4s);
      }
    }
  }

  .cp-add-image-box {
    display: flex;
    .cp-thumbnail {
      width: 50px;
      border: 1px solid $grey_4;
      border-right: 0;
      background-size: cover;
      @include radius(4px 0 0 4px);
    }
    .cp-div-url {
      flex: 2;
      border: 1px solid $grey_4;
      background-color: $grey_6;
      @include radius(0 4px 4px 0);
    }
    .cp-btn-browse {
      margin-left: 10px;
    }
    .cp-input-clear,
    .cp-image-url {
      border: 0;
    }
  }
}