.wpmu-footer-text {
  text-align: center;
  @include clearfix;
  margin: 50px 0 25px 0;
  color: $grey_4;

  a {
    text-decoration: none;
    color: $grey_4;

    &:hover {
      color: $blue_4;
    }
  }
}

.coursepress-wrap {
  .cp-delete,
  .cp-delete a {
    color: red;
  }
  a {
    color: $blue_3;
    @include transition(color 0.4s);

    &:hover {
      color: $blue_4;
      @include transition(color 0.4s);
    }
  }
  .cp-right {
    float: right;
  }
  .description {
    font-style: normal;
  }

  .cp-flex {
    display: flex;

    .cp-div-flex {
      flex: 1;
    }
    .cp-div-flex-2 {
      flex: 4;
      padding-right: 15px;
    }
  }
  .inactive {
    display: none;
    @include hide;
  }
  .active {
    display: block;
    @include show;
  }
  .cp-sep {
    padding-bottom: 0;

    &:after {
      content: '';
      display: block;
      margin: 20px 0 10px 0;
      border-top: 1px solid $grey_5;
      border-bottom: 1px solid $grey_6;
    }
  }
  .cp-code {
    font-family: $code_font;
    background-color: $grey_5;
    font-size: 13px;
    padding: 6px;
    display: inline-block;
    @include radius(3px);
  }
  p.cp-code {
    width: $width;
  }
  .iris-picker {
    height: 200px !important;
  }
  .iris-picker-inner {
    width: 95%;
  }
  .iris-slider-offset {
    height: 70%;
  }
}