.coursepress-wrap {
  font-size: 110%;

  a {
    text-decoration: none;
  }
  .wp-heading-inline {
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 600;
    color: $dark_1;
  }
  .course-tag {
    font-size: 11px;
    display: block;
    font-weight: 700;
    color: $grey_2;
  }
  .inactive {
    display: none;
  }

  .cp-flex {
    display: flex;

    .cp-div-flex {
      flex: 1;
    }
    .cp-div-flex-2 {
      flex: 4;
      padding-right: 15px;
    }
    .cp-pad-right {
      padding-right: 15px;
    }
    .cp-pad-left {
      padding-left: 15px;
    }
  }
}

/** CERTIFICATE PREVIEW **/
.coursepress-popup-preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $grey_4;
  z-index: 9999999999999999;

  #coursepress-cert-frame {
    position: relative;
    display: block;
    width: 100%;
    height: 90%;
    border: 1px solid $grey_3;
  }
  button {
    float: right;
    margin: 5px 15px;
  }
  h2 {
    margin: 0;
    color: #ffffff;
    padding-left: 25px;
    line-height: 2.4;
    font-weight: 400;
  }
}