.coursepress-wrap {
  font-size: 110%;

  a {
    text-decoration: none;
  }
  .wp-heading-inline {
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 600;
    color: $dark_1;
  }
  .course-tag {
    font-size: 11px;
    display: block;
    font-weight: 700;
    color: $grey_2;
  }

  .cp-flex {
    display: flex;

    .cp-div-flex {
      flex: 1;
    }
    .cp-div-flex-2 {
      flex: 4;
      padding-right: 15px;
    }
    .cp-pad-right {
      padding-right: 15px;
    }
    .cp-pad-left {
      padding-left: 15px;
    }
  }
}