.coursepress-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);

  .coursepress-popup-body {
    border: 1px solid $grey_5;
    width: 300px;
    margin: 125px auto;
    background-color: #ffffff;
    @include radius(4px);
  }
  .coursepress-popup-heading {
    padding: 15px 25px;
    border-bottom: 1px solid $grey_6;

    h3 {
      margin: 0;
    }
  }
  .coursepress-popup-content {
    padding: 15px 25px;
  }
  .coursepress-popup-footer {
    text-align: center;
    padding: 15px 25px;
  }
  .coursepress-modal-heading {
    border-bottom: 1px solid $grey_5;
  }
  .coursepress-modal-body {
    border-radius: $default_radius;
    width: 45%;
  }
}
.coursepress-modal {
  @extend .coursepress-popup;
  background-color: rgba(221, 221, 221, 0.72);

  .coursepress-popup-body {
    border-radius: $default_radius;
    width: 45%;

    .coursepress-popup-heading {
      border-bottom: 1px solid $grey_5;
      font-size: 0.9em;

      .coursepress-popup-title {
        width: 95%;
        display: inline-block;
        font-size: 0.9em;
      }

      .cp-modal-close {
        float: right;
        cursor: pointer;
        &:after {
          @include icon('\f00d');
          margin-left: 5px;
        }
      }
    }

    .coursepress-popup-footer {
      border-top: 1px solid #DDDDDD;
      text-align: right;
      padding: 27px 25px;
      font-size: 1.1em;
      p {
        font-size: 1.1em;
      }
    }
  }
}

.coursepress-modal {
  font-size: 100%;

  .cp-content-nopad {
    padding: 0;
  }

  .cp-div-grey {
    background-color: $grey_12;
  }

  .cp-div-flex {
    padding: 20px 33px 50px;
  }

  [type="text"],
  select {
    margin: 6px 0px;
    display: block;
    background-color: $grey_9;
    line-height: 1.5;
    width: 100%;
  }

  .label {
    display: block;
    margin-bottom: 5px;
  }

  .select2-container {
    margin: 5px 0;
  }
  .coursepress-popup-heading {
    text-transform: uppercase;
  }
}