.coursepress-wrap .coursepress-table {
    width: 100%;
    margin: 15px 0;
    background-color: #ffffff;
    border-spacing: 0;
    border-collapse: collapse;

    @include radius(6px);

    tr {
        th {
            font-weight: 600;
        }
        td {
            .cp-trash,
            .cp-delete {
                a {
                    color: $red;
                }
                &:hover {
                    background-color: rgba(255, 0, 0, 0.04);
                }
            }
        }
        th, td {
            border: 0;
            text-align: left;
            padding: 12px 15px;
            border: {
                style: solid;
                width: 0 0 0.8px 0;
                color: $grey_5;
            }

            &:last-of-type {
                padding-right: 25px;
            }
        }

        &:nth-child(2n) {
            th, td {
                background-color: $grey_6;
            }
        }
        &.odd {
            th, td {
                background-color: $grey_6;
            }
        }
        &.even {
            th, td {
                background-color: $white;
            }
        }
    }

    thead {
        th, td {
            text-align: left;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
}
