.coursepress-wrap {
  .cp-toggle-input {
    display: none;
  }
  .cp-toggle-btn {
    @include reset;
    position: relative;
    display: inline-block;
    height: 21px;
    width: 45px;
    font-size: 1px;
    line-height: 1px;
    border: 1px solid $grey_5;
    background-color: #ffffff;
    @include radius(20px);
    @include boxsizing;

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 20px;
      top: -1px;
      left: -1px;
      height: 21px;
      background-color: $grey_5;
      border: 0;
      @include radius(20px);
      @include transition(left 0.5s);
    }
  }
  .cp-toggle-input:checked + .cp-toggle-btn {
    &:after {
      left: 23px;
      background-color: $blue_1;
      @include transition(0.5s);
    }
  }
  .cp-toggle-input:disabled + .cp-toggle-btn {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .cp-toggle-box {
    .cp-toggle-btn {
      vertical-align: middle;
      margin-right: 5px;
    }
    .label {
      display: inline-block;
    }
    .description {
      margin-left: 30px;
    }
  }
  .cp-box-content {
    .cp-box.cp-toggle-box {
      .label {
        display: inline-block;
      }
    }
  }

  @media screen {
    @media (min-width: 1024px) {
      .cp-box-content {
        .cp-box.cp-toggle-box {
          .description {
            margin-left: 55px;
          }
        }
      }
    }
  }
}