.cp-user {
    &.cp-flex {
        align-items: center;
        .gravatar {
            padding-right: 15px;
            img {
                @include radius(50%);
            }
        }
        .user_login {
            font-weight: 600;
            padding-right: 5px;
        }
    }
    .column-last_active {
        .activity-kind {
            color: $grey_1;
            display: block;
            font-size: .9em
        }
    }
}
