.coursepress_settings_wrapper {
  margin: 15px 15px 15px 0px;
}

.coursepress_settings_wrapper h3 {
  color: #23282d;
  font-size: 1.4em;
  margin: 0 5px 0 0;
}

.coursepress_settings_wrapper .description {
  color: #888;
  font-size: 0.9em;
  margin: 0 5px 0 0;
}