/**** MarketPress Admin Styles ***********/
div#mp-meta-details label {
  display: block;
  margin-top: 5px;
}
div#mp-meta-details small {
  font-style: italic;
}
div#mp-meta-details .alignleft {
  margin-right: 25px;
}
table#add_coupon td, table#add_coupon th {
  padding-right: 20px;
}
table tr.coupon-active {
  background-color: #C4FFC4;
}
table tr.coupon-inactive {
  background-color: #FFC4C4;
}
.widefat th#thumbnail {
  width: 75px;
}
.widefat td.column-pricing, .widefat td.column-shipping, .widefat td.column-product_categories, .widefat td.column-product_tags, .widefat td.column-sales, .widefat td.column-stock, .widefat td.column-sku, .widefat td.column-variations {
  vertical-align: middle;
}
.widefat th.column-sales, .widefat td.column-sales, .widefat th.column-stock, .widefat td.column-stock {
  width: 50px;
  text-align: center;
}
.fixed .column-reviews {
  padding-top:8px;
  width:4em;
}
span.mp-inv-out { color: red; }
span.mp-inv-warn { color: orange; }
span.mp-inv-full { color: green; }
.widefat a.mp_order_status {
  line-height: 20px;
  height: 20px;
  display: block;
  padding-left: 25px;
  background: transparent no-repeat left center;
}
.widefat tr.status-order_received td a.mp_order_status {
  background-image: url('../images/new-small.png');
}
.widefat tr.status-order_paid td a.mp_order_status {
  background-image: url('../images/credit-cards-small.png');
}
.widefat tr.status-order_shipped td a.mp_order_status {
  background-image: url('../images/delivery-small.png');
}
.widefat tr.status-order_closed td a.mp_order_status {
  background-image: url('../images/secure-payment-small.png');
}

div.mp-settings .postbox .hndle {
  cursor: auto;
}
/*
#mp-single-statuses span {
  line-height: 20px;
  height: 20px;
  display: block;
  padding-left: 25px;
  background: transparent no-repeat left center;
}
#mp-single-statuses .received {
  background-image: url('../images/new-small.png');
}
#mp-single-statuses .paid {
  background-image: url('../images/credit-cards-small.png');
}
#mp-single-statuses .shipped {
  background-image: url('../images/delivery-small.png');
}
#mp-single-statuses .closed {
  background-image: url('../images/secure-payment-small.png');
}
#mp-single-statuses span.current {
  background-color: yellow;
}
*/
#mp-single-statuses span {
  color:#21759B;
  font-size: 12px;
}
#mp-single-statuses span.current {
  font-weight: bold;
  font-size: 16px;
}

#mp-order-shipping-info .inside, #mp-order-products .inside {
  margin: 12px 12px 16px;
}
#mp-order-shipping-info .inside h3 {
  margin-top: 20px;
}
#mp-order-product-table {

}
#mp-order-product-table #quantity, #mp-order-product-table #subtotal {
  width: 30px;
}
#mp-order-product-table #product-name {
  width: 300px;
}
#mp-order-product-table tr {
  border-bottom: 1px #E3E3E3 solid;
}
#mp-order-product-table tr#order-total {
  border: 0;
  border-top: 3px solid #E3E3E3;
}
#mp-order-product-table tr td#total {
  text-align: right;
}
#mp-order-product-table tr td.mp_cart_col_subtotal {
  background-color: #EAF2FA;
}
div#mp-single-order-buttons {
  line-height:23px;
}
ul#sidemenu {
  float:left;
  margin: 10px auto;
  padding-left:0;
}
div#mp-target-countries {
  border: 1px solid #DFDFDF;
  display: inline-block;
  height: 150px;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px;
  position: relative;
  width: 350px;
}
.mp_msgs_txt, .mp_emails_txt {
  width: 100%;
  height: 150px;
}
.mp_emails_sub {
  width: 99.5%;
}
ul.mp-shortcode-options {
  list-style: disc outside none;
  margin-left: 25px;
}

.mp_var_col {
	display: none;
}
.mp_var_col input, .mp_sku_col input {
	width: 100%;
}
.mp_sku_col {
	width: 120px;
}
td.mp_price_col {
	width: 75px;
}
td.mp_sale_col {
	width: 100px;
}

/* FPM: (2.6.0) Updated to limit for text input */
td.mp_price_col input[type="text"], td.mp_sale_col input[type="text"] {
	width: 65px;
}
td.mp_inv_col {
	width: 100px;
}
td.mp_inv_col input {
	width: 30px;
	text-align: center;
}

/* FPM: CSS for admin product custom field styling */
tr.variation td.mp_custom_field_col {
	width: 50px;
}

div#mp-meta-details tr.variation-custom-field label.mp_custom_field_label {
	margin-top: 0;
	width: 70px;
	float: left;
}
tr.variation-custom-field input.mp_custom_field_value {
	width: 50%;
	float: left;
}

tr.variation-custom-field input.mp_custom_field_required {
	float: left;
	margin-right: 5px;
}

div#mp-meta-details tr.variation-custom-field label.mp_custom_field_required_label {
	margin-top: 0;
	float: left;
}

tr.variation-custom-field-hidden {
	display: none;
}
/* End Custom Field */



#mp_add_vars {
	text-align: right;
	font-size: 14px;
	margin-top: 5px;
}
#mp_add_vars a {
  background: transparent url('../images/plus.gif') no-repeat scroll left center;
  padding: 1px 0 1px 20px;
}
.mp_var_remove a {
	text-indent: -9999px;
	overflow: hidden;
	background: transparent url('../images/remove.png') no-repeat scroll center center;
	display: block;
	width: 16px;
	height: 16px;
}
td.mp_var_remove {
	width: 16px;
	vertical-align: middle;
	text-align: left;
}
#mp_variation_message {
	margin-bottom: 5px;
	float: right;
}
#mp_tax_rate_div {
	margin-top: 5px;
}
div#mp-meta-details #mp_tax_rate_div label {
	display: inline;
}
#mp_special_tax {
	margin-left: 15px;
}
#mp_special_tax input {
	text-align: right;
}

div#mp-meta-details #mp_cart_limit_div label { display:inline; }
#mp_limit { margin-left:15px;}

.mp-settings .wp_themeSkin iframe {
  background-color: #FFFFFF;
}
#mp-need-help {
	background: transparent url('../images/need-help.png') no-repeat scroll top left;
	display: block;
	width: 272px;
	height: 119px;
	position: absolute;
	z-index: 10;
	float: right;
	right: 45px;
}
.mp-theme-preview {
	float: left;
	width: 45%;
	margin-right: 5%;
}
.mp-theme-preview img {
	float: left;
	margin-right: 10px;
	margin-bottom: 1px;
}
div.mp-pro-update {
	background-color: #FFEBE8;
	border-color: #CC0000;
	border-radius: 3px 3px 3px 3px;
	border-style: solid;
	border-width: 1px;
	margin: 10px 0;
	padding: 1em;
}
.mp-pro-update {
	color: red;
	font-weight: bold;
}
#mp_stats_widget p.sub, #mp_stats_widget .table {
    margin: -12px;
}
#mp_stats_widget .inside {
    font-size: 12px;
    padding-top: 20px;
}
#mp_stats_widget p.sub {
    color: #8F8F8F;
    font-size: 14px;
    left: 15px;
    padding: 5px 0 15px;
    position: absolute;
    top: -17px;
}
#mp_stats_widget .table {
    margin: 0;
    padding: 0;
    position: relative;
}
#mp_stats_widget .table_content {
    border-top: 1px solid #ECECEC;
    float: left;
    width: 45%;
}
#mp_stats_widget .table_discussion {
    border-top: 1px solid #ECECEC;
    float: right;
    width: 45%;
}
#mp_stats_widget table td {
    padding: 3px 0;
    white-space: nowrap;
}
#mp_stats_widget table tr.first td {
    border-top: medium none;
}
#mp_stats_widget td.b {
    font-size: 14px;
    padding-right: 6px;
    text-align: right;
    width: 1%;
}
#mp_stats_widget td.b a {
    font-size: 18px;
}
#mp_stats_widget td.b a:hover {
    color: #D54E21;
}
#mp_stats_widget .t {
    color: #777777;
    font-size: 12px;
    padding-right: 12px;
    padding-top: 6px;
}
#mp_stats_widget .t a {
    white-space: nowrap;
}
#mp_stats_widget .red {
  color: red;
}
#mp_stats_widget .green {
  color: green;
}

.mp_box_add a{
  background: transparent url('../images/plus.gif') no-repeat scroll left center;
  padding: 1px 0 1px 20px;
}

.mp_box_remove a{
  background: transparent url('../images/remove.png') no-repeat scroll left center;
  padding: 1px 0 1px 20px;
}
