.coursepress-wrap {
    .cp-content-box {
        &:last-of-type {
            border: 0;
        }
    }
    .option {
        margin-bottom: 15px;
        display: block;
        &.option-hidden {
            margin: 0;
        }
    }

    .cp-box-header {
        padding-top: 20px;
    }

    .cp-input-group {
        margin-bottom: 25px;
        li {
            cursor: pointer;
        }
    }
}

.coursepress-settings {

  @media screen {
    @media (min-width: 768px) {
      .cp-box-course-images {
        .box-inner-content {
          display: flex;

          .cp-box {
            width: 100%;
            max-width: 220px;
          }
        }
      }
    }
  }
}
