#coursepress-setting-shortcodes {
    .cp-box-content {
        &.cp-shortcode-details {
            border: 0;
        }
        .cp-shortcode-table {
            width: 100%;
            .cp-code,
            .cp-code-box {
                background-color: $grey_5;
                border: 1px solid $grey_11;
                color: $dark_2;
                font-family: monospace;
                font-size: .8em;
                @include radius( 10px );
                padding: 10px 5px;
            }
            td {
                padding: 10px;
                vertical-align: top;
                .cp-code-box {
                    background-color: $grey_8;
                    p {
                        margin: 0;
                        padding: 0;
                    }
                }
                .cp-attr-sub-label {
                    color: $grey_3;
                    margin-bottom: 3px;
                }
            }
        }
    }
    .cp-pad-right,
    .cp-pad-left {
        ul {
            height: 220px;
        }
    }
}
