.quiz-action-button.single,
.quiz-action-button.multiple,
.quiz-action-button.short,
.quiz-action-button.long,
.form-action-button.short,
.form-action-button.long,
.form-action-button.selectable {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
  height: 30px;
}

.quiz-action-button,
.form-action-button {
    a {
        width: 30px;
        height: 30px;
        display: block;
        cursor: pointer;
    }
}

.quiz-question textarea,
.form-question textarea {
  width: 100%;
}

.quiz-question,
.form-question {
	.question-answer{
		margin-top: 10px;
	}
	input[type='text']{
		width: 100%;
	}
}


.unit-builder-components,
.quiz-action-button {
    .output-element {
        .dashicons {
            color: #959595;
        }
    }
    .input-element {
        .dashicons {
            color: #008dc8;
        }
    }
    .dashicons {
        font-size: 30px;
        padding-top: 6px;
        height: 40px;
        width: 40px;
    }
}
