.coursepress_settings_wrapper.assessment{

  .unit-title {
    margin-top: 15px;
  }

  table {
    width: 100%;
    margin: 15px 0;

    td, th, tr {
      vertical-align: top;
      text-align: left;
      padding: 8px 10px;
    }

    th.student,
    th.submission,
    th.response,
    th.grade,
    th.feedback,
    td.student-name,
    td.student-submission,
    td.student-answer,
    td.student-grade,
    td.instructor-feedback {
      width: 10%;
    }
    th.status {
      width: 7%;
    }
    th.activity,
    td.student-activity {
      width: 43%;
    }

    tr.student-name td {
      font-weight: bold;
    }

    thead tr th:first-child {
      padding-left: 5px;
    }
    tbody {

      tr td {
        border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
      }

      tr:last-child td {
        border-bottom: none;
      }

      tr:first-child td {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 5px;
      }

      tr td:first-child {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        padding-left: 5px;
      }

      tr td:last-child {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        padding-right: 5px;
      }

      tr.treegrid-collapsed {
        td {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
      }

    }

    tbody:last-child,
    thead + tbody {

      tr:first-child td:first-child {
        -webkit-border-top-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        border-top-left-radius: 5px;
      }

      tr:first-child td:last-child {
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        border-top-right-radius: 5px;
      }


    }

    tbody:last-of-type {

      tr:last-child td {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }

      tr:last-child td:first-child {
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-left-radius: 5px;
      }

      tr:last-child td:last-child {
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        border-bottom-right-radius: 5px;
      }

      tr.treegrid-collapsed {
        td {
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        td:first-child {
          -webkit-border-bottom-left-radius: 5px;
          -moz-border-radius-bottomleft: 5px;
          border-bottom-left-radius: 5px;
        }

        td:last-child {
          -webkit-border-bottom-right-radius: 5px;
          -moz-border-radius-bottomright: 5px;
          border-bottom-right-radius: 5px;
        }
      }

    }

    tbody.odd {

      td {
        background: #F9F9F9;
      }

    }

    tbody.alt,
    tbody.even {

      td {
        background: #FFFFFF;
      }

    }

    tfoot td {
      text-align: right;
    }

    .treegrid-expander {
      margin: 8px 5px -2px 5px;
    }
  }
   .prev-page,
   .next-page {
      &:hover .tablenav-pages-navspan {
          background-color: rgb(0, 160, 210);
          border-color: rgb(0, 160, 210);
          color: #FFF;
      }
      .tablenav-pages-navspan {
        background-color: rgb(229, 229, 229);
        color: rgb(0, 160, 210);
      }
    }
  .tablenav-pages {
    text-align: right;
    padding: 0 15px;
  }
  .unit-tabs-container {

    margin-top: 10px;

    span {
      font-weight: bold;
    }

    .unit-tabs {

      display:inline-block;
      margin-left: 10px;

      .unit-tab {

        display: inline-block;
        margin-right: 5px;
        width: 2em;
        text-align: center;

        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;

        border: 1px solid rgba( 0,0,0, 0.2);
        padding: 3px;
        
        font-weight: bold;

        text-decoration: none;

        color: #444444;

      }

      .unit-tab:hover,
      .unit-tab.active {
        background: #0091CD;
        color: #ffffff;
        cursor: pointer;
      }

      .unit-tab.draft {
        opacity: 0.4;
        font-style: oblique;
        font-weight: normal;
      }



    }

  }

  .module-answer-wrapper {

    .course-name,
    .unit-name {
      display:inline-block;
      margin-right: 50px;
    }

    .activity-wrapper {

      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;

      border: 1px solid rgba( 0,0,0, 0.2);
      padding: 3px 10px 20px 10px;
      margin-top: 10px;
      background: #F9F9F9;
      overflow: hidden;


      .response {

        ul li:before {

          font-family: dashicons;
          content: "";
          display: inline-block;
          font-size: 13px;
          height: 12px;
          line-height: 6px;
          margin-right: 4px;
          opacity: 0.5;
          padding: 0;
          text-align: center;
          vertical-align: middle;
          width: 11px;

        }

        ul li.chosen-answer.correct:before {
          content: "\f147";
          color: #41bb8a;
        }

        ul li.chosen-answer.incorrect:before {
          content: "\f158";
          color: #ff6666;
        }

        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 5px 10px;
        background: #ffffff;

      }

      .instructor-feedback-label {

        position: relative;
        top: 40px;

      }

      .feedback {

        #feedbackContent {


        }

      }

      .grading {

        float: left;

      }

      .save-button {
        padding-top: 20px;
        text-align: right;
      }


    }


  }

  .collapse-all-students > a,
  .expand-all-students > a {
    background: none repeat scroll 0 0 #f9f9f9;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
  }

}

 .cp-right {
    float: right;
  }
.cp-certified {
	color: rgb(107, 187, 26);
	text-transform: uppercase;;
	font-size: 1.5em;
	border: 4px rgb(107, 187, 26) double !important;
	padding: 4px 12px;
    vertical-align: middle;
	margin-left: 15px;
}
.student-row  {
  .cp-certified {
    font-size: 14px;
    padding: 2px 8px;
  }
}
.cp-content {
  margin: 15px 0;
  table {
    width: 100%;
  }
  td {
    vertical-align: top;
  }
  .avatar {
    float: left;
    margin-right: 15px;
  }
  h3 {
    margin-top: 0;
  }
  .student-data {
    width: 20%;
  }
  .cp-course-grade {
    font-size: 3.2em;
    vertical-align: middle;
  }
  .cp-unit-div {
    border: 1px #DDD solid;
    margin-bottom: 5px;
    background-color: #FFF;
    clear: both;
    &:after {
      content: "";
      clear: both;
      display: block;
    }
    h3 {
      border-bottom: 1px #DDD double;
      padding: 8px 10px;
      margin: 0;
      background-color: #F4F4F4;
      cursor: pointer;
    }
    .cp-modules {
      box-sizing: border-box;
      padding: 8px 15px;

      .red {
        color: rgb(254, 0, 0);
        span, .fa {
          color: rgb(254, 0, 0);
        }
      }
      .green {
        color: rgb(107, 187, 26);
        span, .fa {
          color: rgb(107, 187, 26);
        }
      }
      .cp-check {
        text-transform: uppercase;
          background-color: #F4F4F4;
          padding: 0 8px;
          border-radius: 20px;
      }
      .cp-module {
        border: 1px #DDD dashed;
        margin-bottom: 15px;
        padding: 25px 15px 8px 15px;
      }
      .module-grade {
        text-align: center;
      }
      .cp-assess-label {
        font-weight: 700;
        margin-bottom: 5px;
        display: inline-block;
      }
      h4 {
        margin-top: 0;
      }
      .cp-page-title {
        margin-top: 10px;
      }
      .chosen-answer {
        float: left;
        width: 25px;
      }
      .chosen-answer.correct:before {
        content: "\f147";
        font-family: Dashicons;
        color: rgb(65, 187, 138);
        font-size: 26px;
      }
      .chosen-answer.incorrect:before {
        content: "\f158";
        font-family: Dashicons;
        color: red;
        font-size: 26px;
      }
      .cp-answer-box {
        position: relative;
        background-color: #F4F4F4;
        padding: 8px;
        font-style: italic;
      }
      .button, .button-primary {
          font-size: 12px;
      }
      .cp-required {
        color: #FF6D6D;
        margin: -10px 15px 0 15px;
        text-transform: uppercase;
        font-size: 12px;
      }
      .module-submit {
        margin-left: 10px !important;
      }
      .cp-assessment-div {
        margin-top: -10px;
      }
      .cp-feedback-text .cp-assessment-div {
        position: relative;
        z-index: 999999;
      }
      .cp-assessment-div .fa-spinner {
        margin-left: 15px;
        color: rgb(0, 142, 194);
      }
      .cp-assessment-div.coursepress-tooltip:after {
        width: 300px;
        right: 0;
        margin-top: 5px;
      }
      .cp-grade-editor {
        margin-bottom: 25px;
      }
      .cp-grade-editor-box {
        clear: both;
        padding: 15px;
        background-color: #FFF;
        border: 1px #DDD solid;
        &:after {
          content: "";
          display: block;
          clear: both;
        }
        .cp-assess-label {
          display: block;
        }
      }
      .cp-active {
        color: rgb(0, 142, 194);
      }
      .cp-instructor-feedback {
        margin: 25px 0 15px 0;
        display: block;
        clear: both;
        h4 {
          font-size: 16px;
          border-bottom: 1px #DDD solid;
          padding-bottom: 10px;
        }
        .cp-feedback-buttons {
          margin-top: -55px;
        }
        .cp-draft-icon {
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 400;
          margin-right: 5px;
          color: rgb(254, 0, 0);
          float: left;
        }
      }
      .cp-feedback-editor {
        clear: both;
        display: none;
        .cp-feedback-title {
          display: inline-block;
          font-weight: 700;
          font-size: 18px;
        }
        .description {
          margin-bottom: -25px;
        }
        .cp-edit-grade-box {
          float: none;
          margin: 15px 0;
          padding-bottom: 20px;
          clear: both;
        }
        .coursepress-tooltip:after {
          max-width: 320px;
          margin-top: 30px;
        }
      }
      .cp-question {
        font-size: 14px !important;
      }
      .cp-response {
        max-width: 75%;
      }
      .cp-no-answer {
        position: relative;
        padding-top: 15px;
        &:after,
        &.module-assessable .cp-answer-box:after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(255, 109, 109, 0.1);
          z-index: 1;
        }
        &.module-assessable:after {
          display: none;
        }
        .cp-answer-box {
          max-width: 50%;
        }
      }
      .cp-instructor-edit {
        label {
          display: block;
        }
      }
    }
  }
}
.cp-result-details {
	margin: 15px 0;
    td {
      padding: 5px 20px;
      font-weight: 700;
      background-color: #FFF;
      text-align: center;
      border: 1px #DDD solid;
  }
  em {
	font-weight: 200;
	font-style: normal;
	padding: 0 10px;
  }
}

.modules-answer-wrapper {
	border: 1px #ddd solid;
	background-color: #FFF;
    padding: 15px;
  .cp-responses {
      margin: 0;
  }
  table {
    margin-bottom: 15px;
    td {
      vertical-align: middle;
    }
  }
}
.cp-course-selector {
  h4 {
    margin-bottom: 5px;
  }
}
#the-list .cp-unit-div {
  border: 0;
  margin: 0;
}
.cp-table .avatar {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.cp-table td {
  padding: 8px 12px;
  vertical-align: middle !important;
}
.cp-back {
  margin-top: 12px;
}
.cp-back a {
  text-decoration: none;
}
.cp-table a {
  text-decoration: none;
}
.cp-actions {
  .cp-min-tooltip {
    margin: 0 0 5px 0;
    &:after {
      width: 220px;
      right: 0;
    }
  }
  .coursepress-tooltip:after {
    width: 100px;
    padding: 4px;
    margin-top: 12px;
    right: -40px;
    text-align: center;
    background-color: #FFF;
    color: #333;
  }
  .cp-refresh-progress {
    color: rgb(0, 115, 170);
    background-color: transparent;
    border: 0;
    padding: 0 8px;
    font-size: 16px;
    &.fa-spin {
      color: #FF6D6D;
    }
  }
}
.cp-units {
  width: 100%;
  display: block;
  margin: 15px 0;
  clear: both;
  .cp-unit-tab {
    background-color: #DDD;
    padding: 5px 15px !important;
    margin: 0 5px 5px 0;
    &.active {
      color: #FFF;
      background-color: rgb(0, 142, 194);
    }
  }
}
.cp-box {
  display: inline-block;
  margin-right: 15px;
  label {
    display: block;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .label {
    font-weight: 400;
  }
  .select2 {
    min-width: 220px;
    max-width: 250px;
  }
}
.cp-inline-responses {
  .cp-unit-div {
    border: 0;
    margin: 15px 0;
    .cp-toggle {
      border: 0;
      .dashicons {
        display: none;
      }
    }
  }
}
.cp-loader-info {
  margin: 15px 0;
  text-align: center;
  font-size: 20px;
  .fa {
    color: rgb(0, 142, 194);
  }
}

.cp-assessment-page {
	.users {
		.column-certificates,
		.column-modules,
		.column-view_all {
			vertical-align: middle;
		}
		.column-modules {
			.cp-edit-grade,
			a {
				color: #0073aa;
				position: relative;
				padding: 5px;
				text-align: center;
				cursor: pointer;
				&.active {
					border: 1px #DDD solid;
					background-color: #FFF;
					padding: 10px;
					display: inline-block;
					margin-bottom: -10px;
					border-width: 1px 1px 0 1px;
				}
			}
		}
		.cp-responses {
			background-color: #fff;
		}
	}
}

