@import 'colors';

#unit-builder {
  .unit-detail {
    h3 {
      font-size: 1.4em;
      .unit-state {
        font-size: 0.8em;
      }
    }
    .fa-cog {
      margin-right: 5px;
    }
    label {
      padding-bottom: 5px;
    }
  }
}
// Loading message...
#unit-builder .loading {
  background: url( '#{$imagePath}ajax-loader.gif' ) no-repeat left;
  padding-left: 22px;
  margin: 50px;
}

#unit-builder .section.unit-builder-body .loading {
  margin: 0;
}

#unit-builder .tab-container .tab-content {
  min-height: 818px;
}

.coursepress-ub-tab {
  position: relative;
  cursor: pointer;
}

.coursepress-ub-tab:after {

  position: absolute;
  content: '';
  display: block;
  height: 8px;
  width: 8px;
  top: 38%;
  right: 0.5em;
  border-radius: 50%;
  background: none repeat scroll 0 0 #e0e0e0;
  border: 1px solid #cfcfcf;

}

.coursepress-ub-tab.unit-live:after {
  background: none repeat scroll 0 0 $colorGreen;
  border: 1px solid #61a31e;
}

.coursepress-ub-tab.unit-changed:after {
  background: none repeat scroll 0 0 #dd9116;
  border: 1px solid #bb7615;
}


.tab-tabs {
	ul {
		li{
			&.coursepress-ub-tab {
				span {
					display:block;
					font-weight: bold;
					min-height: 1.4em;
					padding: 7px 24px 7px 7px;
				}
			}
		}
	}
	.button.button-add-new-unit {
		display: block;
		margin: 30px auto 0 auto;
		text-align: center;
		width: 170px;
	}
}

.tab-content {

  .normal {
    font-weight: normal;
  }

  label {
    display: inline-block;
    cursor: default;
  }

  label.bigger {
    font-size:1.1em;
  }

  .unit-builder-content {
    padding: 0;

    .section {
      padding: 10px 20px 20px;
    }

    // Section break module
    .section.mode-output {
      padding:0;
    }

    .section.unit-builder-components {
      border-bottom: 1px solid #e1e1e1;
    }
    .section.unit-builder-modules {
      padding: 0 5px 5px;
      min-height: 150px;
    }

    .toggle-switch.coursepress-ui-toggle-switch.on .left {
      opacity: 0.7;
    }

    .toggle-switch.coursepress-ui-toggle-switch.off .right {
      opacity: 0.7;
    }

    .coursepress-ui-toggle-switch .control {
      opacity: 1;
    }

    // Buttons
    .unit-buttons {
	  margin: 15px 0 5px 0;

      .button {
        border: none;
        box-shadow: none;
        color: #ffffff;
        display: inline-block;
        margin: 5px 5px 0 0;
        text-align: center;
        width: auto;
		min-width: 120px;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
      }
      .button.unit-save-button {
        background: #00b0d6;
      }
      .button.unit-save-button:hover {
        background: #00d3f9;
      }

      .button.unit-delete-button {
        background: none;
        float: right;
      }
      .button.unit-delete-button:hover {
        background: #be4251;
      }

      .button.unit-delete-module-button {
        margin: 10px;
        background: none;
        color: #be4251;
      }
      .button.unit-delete-module-button:hover {
        background: #be4251;
        color: #ffffff;
      }

      .button.unit-delete-page-button {
        float: right;
        background: none;
        color: #be4251;
      }
      .button.unit-delete-page-button:hover {
        background: #be4251;
        color: #ffffff;
      }

      .hidden {
        display: none;
      }

    }

    .button.button-preview {
        background: rgb(236, 140, 53);
      }
      .button.button-preview:hover {
        background: rgb(233, 154, 83);
      }

    .unit-builder-header {
      background: #0074A2;
      color: #ffffff;

      #wp-unit_description_1_1-media-buttons {
        display: none;
      }

      #wp-unit_description_1_1-editor-tools {
        background: rgba( 0,0,0,0.2);
      }

      h3 {
       background: none;
       color: #ffffff;
       border: none;
      }

      label {
        display: block;
        margin-top: 5px;
        cursor: default;
      }

      .unit-state {
        float: right;
      }

      .date {
        position: relative;
      }
      .date:after {
        bottom: 6px;
        color: #c9c9c9;
        content: "\f508";
        font: 17px/17px dashicons;
        position: absolute;
        left: 165px;
        z-index: 1;
      }

      .notice {
          color: #444;
      }
    }

    .unit-builder-pager {
      background: #F1F1F1;
      padding: 3px 20px 8px 20px;

      ul li, ul {
        display: inline-block;
        margin:1px;
      }

      ul {
        margin-left: 10px;
      }

      ul li {
        height: 2.4em;
        padding: 0.5em 10px 0 10px;
        position: relative;
        text-align: center;
        top: 2px;
        min-width: 2.4em;
        font-weight: bold;
        border: 1px solid #A6B1BB;
        box-sizing: border-box;
        cursor: pointer;
      }

      ul li.active:after, ul li.active:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      ul li.active:after {
        border-color: rgba(0, 116, 162, 0);
        border-top-color: #0074A2;
        border-width: 5px;
        margin-left: -5px;
      }

      ul li.active:before {
        border-color: rgba(166, 177, 187, 0);
        border-top-color: #A6B1BB;
        border-width: 6px;
        margin-left: -6px;
      }

      ul li:hover, ul li.active {
        background: #0074A2;
        color: #ffffff;
      }

      ul li.page-droppable {
        background: #555;
        border-width: 2px;
        border-style: dashed;
        width: 50px;
        height: 50px;
        color: #ffffff;
        opacity: 0.7;
      }

      ul li.page-droppable.active {
        background: #0074A2;
      }
      ul li.page-droppable:before,
      ul li.page-droppable:after {
        display: none;
      }

      ul li.page-droppable-hover {
        opacity: 1;
      }

    }

    .unit-builder-pager-info {

      label {
        display: block;
        margin-top: 10px;
      }

      #wp-page_description_1_1-media-buttons {
        display: none;
      }

      #wp-page_description_1_1-editor-tools {
        background: rgba( 0,0,0,0.03 );
      }


      textarea {
        width: 100%;
        display: block;
      }


    }

    // MODULE ELEMENTS
    .input-element, .output-element {
      cursor: pointer;
      display: inline-block;
      font-size: 0.8em;
      font-weight: bold;
      height: 49px;
      margin: 0 5px 12px 0;
      min-width: 50px;
      opacity: 0.7;
      position: relative;
      text-align: center;
      width: 78px;
    }

    .input-element:hover, .output-element:hover {
      opacity: 1;
    }

    .input-element {
      color: #008dc8;
    }

    .output-element {
      color: #565656;
    }

    .input-element a, .output-element a {
      display: block;
      height: 40px;
      margin: 0 auto;
      width: 40px;
    }

	.output-element.module-chat a:before {
		content: '\f101';
		font-family: Dashicons;
		font-size: 36px;
		line-height: 45px;
		color: #999;
	}


    // MODULES
    h3.module-holder-title {
      background: #0092CB;
      color: #ffffff;
      margin: 10px 0 0 0;
      padding: 5px 20px;
      overflow: hidden;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      border: none;
      position: relative;

      .module-type {
        display:inline-block;
        float: right;
        font-size: 0.8em;
        text-transform: uppercase;
      }

      .module-type:after {
        font-family: fontawesome;
        font-weight: normal;
        display: inline-block;
        float: right;
        content: '\f00a';
        margin-left: 10px;
      }

      .module-type:hover:after {
        cursor: move;
      }

    }

    h3.module-holder-title.module-holder-title:before {
      font-family: fontawesome;
      content: '\f0da';
      position: absolute;
      left: 5px;
    }

    h3.module-holder-title.module-holder-title.ui-accordion-header-active:before {
      font-family: fontawesome;
      content: '\f0d7';

    }

    h3.module-holder-title.section {
      background: #f1f1f1;
      color: #949494;
    }

    h3.module-holder-title:hover {
      cursor: pointer;
    }

    .module-holder {

      background: #E7F4FA;

      .wp-editor-area, input, textarea, select {
        font-weight: normal;
        font-size: 1em;
      }

      .module-header {
        padding: 10px 20px 0 20px;
        position: relative;
      }

      .module-components {
        padding: 0 20px 5px 20px;
      }

      label {
        font-size: 1.1em;
        margin-bottom:3px;

        .description {
          font-size: 0.9em;
          font-weight: normal;
        }

      }

      // Title
      div.module-title {
          width: 100%;
          .label, .description {
              display: block;
          }
          input[type=text] {
              width: 100%;
          }
          .show-title {
              text-weight: normal;
          }
      }

      // Cluster
      label.module-show-title,
      label.module-mandatory,
      label.module-assessable,
      label.module-allow-retries,
      label.module-minimum-grade,
      label.module-duration,
      label.module-use-timer {
        width: 32%;

        .description {
          margin-left: 20px;
          display: block;
        }

        margin-top:10px;

        input[type="text"] {
          width: 55px;
          margin-left: 10px;
        }
      }

      // Show Title Checkbox
      label.module-show-title {

      }

      // Mandatory Checkbox
      label.module-mandatory {

      }

      // Assessable Checkbox
      label.module-assessable {

      }
      label.module-assessable-2 {
        display: block;
        margin-top: 10px;
        .description {
          display: block;
        }
      }

      // Minimum Grade
      label.module-minimum-grade {
        .description {
          margin-left: 0;
        }
      }

      // Allow Retries Checkbox
      label.module-allow-retries {

      }

      // Excerpt Editor
      textarea.editor {
        width: 100%;
        min-height: 200px;
      }
      label.module-excerpt {
        width: 100%;
        margin: 10px 0 5px 0;
        position: relative;
        .label {
        }
        .description{
          display: block;
        }
        .wp-editor-wrap {
          iframe {
            height: 400px;
          }
        }

      }

      // Components

      .module {
          padding-bottom: .5em;
          h4 {
              margin: 0;
              font-size: 1.1em;
          }
      }

      .module-components {

        .module-component,
        .question-answer {
          .remove-item,
          .remove-quiz-item {
            cursor: pointer;
            margin-left: 10px;
          }
          .add-item {
            cursor: pointer;
            line-height: 3em;
            margin-left: 36px;
          }
        }

        span.description {
          display: block;
        }

        input.module-title-text {
          width: 100%;
        }

        .component-checkbox-answer, .component-checkbox-answer.wide,
        .component-select-answer, .component-select-answer.wide,
        .component-radio-answer, .component-radio-answer.wide {
          margin: 0 0 5px 10px;
          width: 90%;
        }

        .component-media-caption {

          label {
            font-weight: normal;
          }

          .caption-source {
            margin: 5px 0 0 20px;

            .existing, input[type="text"] {
              margin-left: 20px;
            }

            input[type="text"] {
              width: 80%;
            }

          }

        }



      }


    }

    .section.unit-builder-footer {
      padding: 2px 6px 8px 6px;
      margin:0;
      background: #0074a2;
      color: #ffffff;

      #unit-live-toggle-2 {
        float: right;
        padding: 8px 10px;
      }
      .notice {
          color: #444;
      }

    }

  }

}

.unit-builder-modules {
  .module-header,
  .module-components {
    .label,
    .description {
      margin-bottom: 5px;
    }
    label {
      margin-bottom: 10px;
    }
  }
  .module-header {
    label.module-show-title {
        float: right;
        width: auto;
        margin-bottom: -45px;
        z-index: 1;
        position: relative;
    }
    lable.module-duration {
      	position: relative;
        right: 0;
        input[type="text"] {
          	max-width: 150px;
            display: block;
        }
    }
  }
}
.discussion .module-duration,
.discussion .module-assessable,
.text .module-duration {
  display: none;
}

@media screen and ( max-width: 1000px ) {
	.tab-content {
		.unit-builder-content {
			.module-holder {
				label.module-show-title,
				label.module-mandatory,
				label.module-assessable,
				label.module-allow-retries,
				label.module-minimum-grade,
				label.module-duration,
				label.module-use-timer {
					width: 49%;
					.description {
						margin-left: 0;
					}
				}
				.module-components {
					.module-component {
						.component-checkbox-answer, .component-checkbox-answer.wide,
						.component-select-answer, .component-select-answer.wide,
						.component-radio-answer, .component-radio-answer.wide {
							width: 70%;
						}
					}
				}
			}
		}
	}
}
@media screen and ( max-width: 700px ) {
	.tab-content {
		.unit-builder-content {
			.module-holder {
				label.module-show-title,
				label.module-mandatory,
				label.module-assessable,
				label.module-allow-retries,
				label.module-minimum-grade,
				label.module-duration,
				label.module-use-timer {
					width: 100%;
				}
			}
			.unit-buttons {
				.button {
					display: block;
					&.unit-delete-button {
						float: none;
					}
				}
			}
			.section {
				&.unit-builder-footer {
					#unit-live-toggle-2 {
						float: none;
					}
				}
			}
		}
	}
}

.post-type-course {
  .output-element.module-chat,
  .group-chat {
	display: none;
  }
  &.cp-with-chat {
	 .output-element.module-chat {
	  display: inline-block;
	 }
	.group-chat {
	  display: block;
	}
  }
}

