@import 'colors';

/* Course List Table */
.wp-list-table {
	.courses {
		th.manage-column.column-post_title {
			min-width: 50%;
		}
		.column-units {
			p {
				word-wrap: normal;
			}
		}
		th.manage-column.column-ID {
			width: 6em;
		}
		thead {
			.manage-column.column-date_start,
			.manage-column.column-date_end,
			.manage-column.column-date_enrollment_end,
			.manage-column.column-date_enrollment_start {
				width: 7em;
			}
		}
		tbody {
			.date_start,
			.date_end,
			.date_enrollment_end,
			.date_enrollment_start {
				width: 7em;
			}
		}
	}
	.manage-column.column-status {
		width: 90px;
	}
}

.post-type-course {
	.column-certificates,
	.column-grade,
	.column-modules,
	.column-students,
	.column-view_all {
		width: 100px;
		text-align: center;
	}
	table {
		&.users {
			.column-certificates {
				width: 7em;
				vertical-align: middle;
				.cp-certified {
					font-size: 1em;
					margin: 0;
				}
			}
			.column-username {
				.row-actions {
					.id {
						span {
							color: #000;
						}
					}
				}
			}
			.column-grade,
			.column-modules,
			.column-view_all {
				width: 5em;
			}
			.column-last_active {
				width: 8em;
			}
			td {
				&.column-grade {
					text-align: right;
				}
			}
		}
	}
	.column-taxonomy-course_category,
	.column-date_start,
	.column-date_end,
	.column-date_enrollment_start,
	.column-date_enrollment_end,
	.column-units {
		width: 130px;
	}
	.column-paid {
		width: 40px;
        text-align: center;
        .free {
            opacity: .6;
        }
        .paid {
            font-weight: bold;
            color: red;
        }
	}
}


.coursepress_student_searchbox {
  float: left;
  margin-bottom: -25px;
}
.coursepress_course_add_student_wrapper {
  background: #ffffff;
  margin: 0 0 5px 0;
  padding: 5px;
}

.coursepress_course_add_student_wrapper {
  .withdraw-all-students {
    float: right;
    display: block;
    padding: 5px;
  }
}

.coursepress_course_invite_student_wrapper {
  clear: both;
  display: block;
  width: 100%;

  input{
    font-weight: normal;
  }
}

.tab-content .body .coursepress_course_invite_student_wrapper h3 {
  background: none;
  padding: 0;
  margin: 10px 0;
}

.tab-content .body .coursepress_course_invite_student_wrapper label {
  display: block;
}

.tab-content .body .coursepress_course_invite_student_wrapper label span {
  display: inline-block;
  width: 150px;
}

.actions.column-actions .fa {
  font-size: 1.7em;
}

.actions.column-actions .fa.remove-btn {
  color: #be4251;
  cursor: pointer;
}

.duplicate-course-link {
  cursor: pointer;
}

.column-certificates,
.column-students {
    text-align: right;
}

.certificates.column-certificates {
    .dashicons {
        &:before {
            font-size: 1.7em;
        }
    }
    .dashicons-yes {
        color: $colorGreen;
    }
    .dashicons-no {
        color: $colorRed;
    }
}


