.tab-container {
  position: relative;
  overflow: hidden;
  .tab-content-vertical {
      .button-certificate {
          float: right;
          margin-top: -35px;
      }
  }
}

.tab-tabs {
  float: left;
  width: 191px;
}

.tab-tabs ul {
  list-style: outside none none;
  margin-top: 0;
}

.tab-tabs ul li {
}

.tab-tabs ul li.active {
  background-color: #fff;
  border-radius: 4px 0 0 4px;
  z-index: 0;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.04);
  border: 1px solid #e5e5e5;
  border-right: none;
  box-sizing: border-box;
}

.tab-tabs ul li a, .tab-tabs ul li a:visited {
  display: block;
  padding: 8px 15px;
  font-size: 0.9em;
  font-weight: 500;
  text-decoration: none;
}

.tab-tabs ul li.active a {
  color: #000;
}

.tab-tabs li.setup_tab:before {
  width: 97%;
  margin: 0 auto;
  display: block;
//  min-height:1px;
  content: "";
  border: 1px solid #DDDDDD;
  border-left: none;
  border-right: none;
  border-bottom-color: #FAFAFA;

}

.tab-content {
  background-color: #fff;
  padding: 10px 20px 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  border: 1px solid #e5e5e5;
  margin: 0 0 0 190px;
  min-height: 340px;
  z-index: 10;
	.shortcodes-list {
		.cp-shortcode-examples {
			code {
				display: inline-block;
				padding: 5px 10px;
			}
		}
	}
}

.tab-content .header-save-button {
  float: right;
  position: relative;
  top: -8px;
}

.tab-content .header h3 {
  color: #23282d;
  font-size: 1.3em;
  margin: 0 5px 0 0;
}

.tab-content .header .description {
  color: #888;
  font-size: 0.9em;
  margin: 0 5px 0 0;
}

.tab-content .header {
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}



// Horizontal Tabs
.tab-tabs-horizontal ul {
  list-style: outside none none;
  width: 100%;
  border-bottom: 1px solid #ccc;
  min-height: 2em;  // as long as tabs are padded with 0.5em
}

.tab-tabs-horizontal ul li {
  float: left;
  border-color: #CCCCCC;
  background: none repeat scroll 0 0 #e4e4e4;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: #555;
  margin: 0 4px -1px 10px;
  position: relative;
  top: -1px;
}

.tab-tabs-horizontal ul li.active {
  background: #F1F1F1;
  border-bottom-color: #F1F1F1;;
}

.tab-tabs-horizontal ul li a {
  color: #333;
  text-decoration: none;
  font-size: 1em;
  line-height: 1em;
  padding: 0.5em;
  display: inline-block;
  font-weight: bold;
}

.tab-tabs-horizontal ul li:last-child {
  float: right;
  border: none;
  background: none;
}

// Special floating tab for horizontal tabs
.tab-container .tab-extra {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
}

.tab-content.tab-content-horizontal {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  box-shadow: none;
  clear: both;
}
@media screen and ( max-width: 700px ) {
	.tab-tabs-horizontal ul {
		padding-top: 2em;
	}
}
