/**
* CoursePress Icon (admin side)
*/
$fontPath : "../font/";
@font-face {
  font-family: 'ico-cp';
  src: url("$fontPathcp_icon.eot");
  src: url("$fontPathcp_icon.eot?#iefix") format("embedded-opentype"), url("$fontPathcp_icon.ttf") format("truetype"), url("$fontPathcp_icon.woff") format("woff"), url("$fontPathcp_icon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
#adminmenu #menu-posts-course div.wp-menu-image:before,
#post-body .misc-pub-post-course:before {
  font-family: 'ico-cp' !important;
  content: "\e600";
}

#adminmenu #menu-posts-course div.wp-menu-image img {
  display: none;
}
