$fontPath : "../font/";
$imagePath : "../img/";

.wide {
  width: 100%;
}

.widemedium {
  width: 80%;
}

.medium {
  width: 40%;
}

.narrow {
  width: 20%;
}

.hidden {
  display: none;
}
.div-inline {
    display: inline-block;
}

/**
 * UI COMPONENTS
 */
@import "admin-ui-components";

/**
* CoursePress Icon (admin side)
*/
@font-face {
  font-family: 'ico-cp';
  src:url( '#{$fontPath}cp_icon.eot' );
  src:url( '#{$fontPath}cp_icon.eot?#iefix' ) format( 'embedded-opentype' ),
  url( '#{$fontPath}cp_icon.ttf' ) format( 'truetype' ),
  url( '#{$fontPath}cp_icon.woff' ) format( 'woff' ),
  url( '#{$fontPath}cp_icon.svg#icomoon' ) format( 'svg' );
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'ico-cp';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wand:before {
  content: "\e600";
}

#post-body .misc-pub-post-course:before {
	font: normal 20px/1 dashicons;
	speak: none;
	display: inline-block;
	padding: 0 5px 0 0;
	top: 0;
	left: -1px;
	position: relative;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none !important;
	color: #82878c;
}

#adminmenu #menu-posts-course div.wp-menu-image:before,
#post-body .misc-pub-post-course:before {
	font-family: 'ico-cp' !important;
	content: "\e600";
}

#adminmenu #menu-posts-course div.wp-menu-image img {
  display: none;
}

/**
 * Font Awesome
 */
@font-face {
  font-family: 'fontawesome';
  src:url( '#{$fontPath}fontawesome-webfont.eot' );
  src:url( '#{$fontPath}fontawesome-webfont.eot?#iefix' ) format( 'embedded-opentype' ),
  url( '#{$fontPath}fontawesome-webfont.ttf' ) format( 'truetype' ),
  url( '#{$fontPath}fontawesome-webfont.woff' ) format( 'woff' ),
  url( '#{$fontPath}fontawesome-webfont.svg#icomoon' ) format( 'svg' );
  font-weight: normal;
  font-style: normal;
}
